[2017-02-11 16:22] khaledhosny commented on #836
It should be just the same order as in the feature file, isn’t it?

[2017-02-11 16:37] anthrotype commented on #836
I think Sascha meant for the auto generated aalt feature.
I think glyph order is good enough.

[2017-02-11 16:52] anthrotype commented on #833
Sure, I'll do it shortly. Thanks for your work!

[2017-02-12 03:32] djrrb commented on #722
I'm so so sorry, not sure why I didn't see these notifications. This seems to no longer be an issue.

[2017-02-12 03:32] #722 closed

[2017-02-13 08:32] brawer commented on #149
Should we add a `TTFont.renameGlyphs` method that knows how to handle different flavors?

[2017-02-13 15:48] brawer commented on #527
Seems done. Thanks, @anthrotype! https://github.com/fonttools/fonttools/blob/master/Lib/fontTools/feaLib/__main__.py

[2017-02-13 15:48] #527 closed

[2017-02-14 00:17] robmck-ms opened #841 "ttx not parsing MVAR correctly"
Here is a tweaked version of Selawik which requires an MVAR table: [Selawik-MVAR-test.zip](https://github.com/fonttools/fonttools/files/772723/Selawik-MVAR-test.zip)

When I try to dump this font with ttx, the MVAR table has tag entries that do not appear to be encoded properly, and deltas that are huge. It seems like fonttools is getting out of synch with the fields (looks like it's 2 bytes off),

[2017-02-14 08:59] brawer opened #842 "[feaLib] Make nameid parsing more robust"
While working on https://github.com/fonttools/fonttools/issues/780 I noticed that the feaLib parser for `nameid` statements is a bit simplistic in terms of encodings. For example, it doesn’t handle names with non-BMP characters such as Emoji, and it wrongly assumes that all Macintosh names are MacRoman encoding. fontTools has quite nice encoding utilities, we just need to call them.

[2017-02-14 09:21] twardoch commented on #842
I agree. This is a case where I support diverging from the Adobe implementation, i.e. I think the AFDKO code has some simplistic notions about `nameid` statements and possibly isn’t able to process all of the encoding stuff correctly, but I’d consider that a “deficiency” of AFDKO (perhaps not a bug, but certainly not a feature). It would be great if `feaLib` accepted full UTF-8 `.fea` files with r

[2017-02-14 09:32] twardoch commented on #780
I’d welcome it if `feaLib` diverged from http://www.adobe.com/devnet/opentype/afdko/topic_feature_file_syntax.html#9.e and also accepted pure-Unicode strings inside the `nameid` statements (i.e. that `feaLib` accepted UTF-8 `.fea` files). Perhaps we could “invent” some magic comment that could appear at the beginning of the `.fea`:

[code]

or something. It might be useful to agree on a simple set

[2017-02-14 10:01] brawer commented on #780
Good idea, although I think it would be in the interest of everyone if we didn’t fragment the format. I’ve suggested a simplified version of your proposal to Adobe, hopefully they’ll add it to the spec. See https://github.com/adobe-type-tools/afdko/issues/165.

[2017-02-14 13:28] #842 closed

[2017-02-14 13:44] brawer commented on #780
Closing bug, since fonttools now implements the current spec.

[2017-02-14 13:44] #780 closed

[2017-02-14 17:25] brawer commented on #633
Tricky. Here’s the root cause: Currently, feaLib generates ValueRecords of different formats for the two `pos` statements below. The `-20` gets compiled to a ValueRecord format 4, the `0` currently to a ValueRecord format 0. Because these ValueRecords have different formats, feaLib can not put them into the same subtable.

[code]

To fix this, feaLib should obviously compile the above `0` into a V

[2017-02-15 09:24] anthrotype commented on #343
Fixed with f7a5d83cbbdc5918947ca7f030ed43e164f98fda 🍷

[2017-02-15 09:24] #343 closed

[2017-02-15 20:00] behdad commented on #149
No. Higher-level operations like this do NOT belong in ttLib IMO.

[2017-02-15 20:23] behdad commented on #722
Humm. No idea what fixed it though...

[2017-02-16 08:06] alfredxing opened #846 "TrueType to CFF?"
Hi! Maybe a newbie question here, but I did lots of searching with no results:

Is there anything that can be used to convert TTF outlines to CFF?
Something along the lines of #802, but it would be in reverse, converting the quadratic bézier curves to cubic.

I'm not sure if there are any complications associated with converting fonts in this manner. I know FontForge has the option to generate fon

[2017-02-16 08:22] mashabow opened #847 "[subset] --recalc-timestamp does not work in OTF"
In `pyftsubset --help`, timestamp options are described as follows:

[code]

But actually `pyftsubset` seems to never recalc timestamp, even if `--recalc-timestamp` is set.

[2017-02-16 09:48] brawer commented on #471
Current feaLib behaves like makeotf. Verified with test case `GPOS_1_zero`. Closing bug.

[2017-02-16 09:48] #471 closed

[2017-02-16 12:14] brawer opened #848 "[feaLib] Distinguish value records format A from format B with zero values"
Currently, feaLib makes no distinction between value records format A versus format B with zero values. For example, `123` and `<0 0 123 0>` (respectively, in a vertical context, `<0 0 0 123>`) currently give an identical syntax tree. Fixing this will (very slightly) help with https://github.com/fonttools/fonttools/issues/633. Also, when fixing this bug, we can re-enable some checks on fea-to-fea

[2017-02-16 12:53] #848 closed

[2017-02-17 11:49] #514 closed

[2017-02-17 13:35] brawer commented on #633
Done.

[2017-02-17 13:35] #633 closed

[2017-02-17 19:04] behdad commented on #841
Humm.  You sure?  The version when you sent me before seemed to use Offset32 to VarStore, whereas as Peter Constable noticed, the spec says Offset16.  Here's my reply to the otfontvar list about that:

[code]

So, I had to temporarily change my code to load Offset32, decode your font, then recompile it with correct offset size.

[2017-02-18 01:20] robmck-ms commented on #841
You're right. I got it backwards. Apologies for wasting your time.

[2017-02-18 01:20] #841 closed

[2017-02-18 01:35] behdad commented on #841
Np. :)

[2017-02-18 03:27] behdad commented on #513
Won't happen IMO.

[2017-02-18 03:27] #513 closed

[2017-02-18 23:36] behdad commented on #831
Yes.  It is implied in OpenType that glyph0 is notdef.  Some of the cmap subtables explicitly use this property; ie. they encode a gid=0 when a character is not covered.  My change simply uniformly applied that to all subtables.  I'm not 100% happy about it, but happy enough to let it be the way it is now.

[2017-02-20 04:14] anthrotype commented on #847
@mashabow according to this test case, it seems to work:
https://github.com/fonttools/fonttools/commit/34fec90630805a0396a25e7789ff765a3783da32

Please reopen the issue providing with more details if necessary, thanks.

[2017-02-20 08:47] lemzwerg opened #853 "ttx aborts with `NotImplementedError`"
[3.7.2-9-g34fec90]

The CFF file

  https://github.com/Pomax/cff-opcode-fonts/pull/2/commits/43941d07ca21a012ee7c19ad0044752abff4585f

makes ttx abort with `NotImplementedError`.  I guess that it doesn't like the `random' operator...

[2017-02-20 09:25] justvanrossum commented on #853
There are many T2 operators that will raise `NotImplementedError`. See `psCharStrings.py`, line 599.

Removing all the not implemented stubs makes decompilation work for this font (they could potentially move to the `T2WidthExtractor` class), but there may be a problem with that. We have to execute the CharString (at least to some extent) to be able to disassemble it properly, and I think the miss

[2017-02-20 09:29] justvanrossum commented on #853
Btw. I commit this: https://github.com/fonttools/fonttools/commit/4d92fcb9be98ad074a5928c0ea34a372e9262803 so we can see the actual traceback.

[2017-02-20 16:10] brawer commented on #137
The OpenType spec currently defines CPAL v0 and v1, which are both supported by fonttools.

[2017-02-20 16:10] #137 closed

[2017-02-20 16:11] brawer commented on #108
Closing bug — nothing happened in the past 3 years, so it probably won’t happen in the future either.

[2017-02-20 16:11] #108 closed

[2017-02-20 16:16] brawer commented on #59
Seems implemented; current pyftsubset has a `--text` option.

[2017-02-20 16:16] #59 closed

[2017-02-20 16:19] brawer commented on #33
This seems to be mostly handled by #113. If anyone disagrees, free to re-open this bug.

[2017-02-20 16:19] #33 closed

[2017-02-20 16:21] behdad commented on #108
Reportedly @typemytype has some...

[2017-02-20 16:23] behdad commented on #59
Not really.  That's different.  But we can close bug.  I don't think I'll get to implement this any time soon.

[2017-02-20 16:25] brawer commented on #122
This has been implemented; see [test cases](https://github.com/fonttools/fonttools/blob/master/Tests/ttLib/tables/C_P_A_L_test.py).

[2017-02-20 16:25] #122 closed

[2017-02-20 16:28] brawer commented on #583
There’s now a common place in [TupleVariation.py](https://github.com/fonttools/fonttools/blob/master/Lib/fontTools/ttLib/tables/TupleVariation.py), which seems good enough for now.

[2017-02-20 16:28] #583 closed

[2017-02-20 16:42] brawer commented on #572
Seems we can live without...

[2017-02-20 16:42] #572 closed

[2017-02-20 16:45] brawer commented on #464
@davelab6, since you’re using FontForge a lot, can you make a test font with an interesting PfEd table for testing? I can’t really promise to implement this anytime soon in fonttools myself, but a test font would clearly help.

[2017-02-20 18:51] typemytype commented on #108
Compositor alreafy works similarly

[2017-02-20 19:13] behdad commented on #108
Humm?  Did you mean extractor?

[2017-02-20 22:49] typemytype commented on #108
See
https://github.com/typesupply/compositor/blob/master/Lib/compositor/font.py

On Mon, 20 Feb 2017 at 20:13, Behdad Esfahbod <notifications@github.com>
wrote:

--
gr Frederik
www.typemytype.com

[2017-02-21 07:57] mashabow commented on #847
@anthrotype Thank you for adding the test!

Then I realized that `--recalc-timestamp` works fine in TTF but doesn't in OTF, so this another test fails:

[code]

[code]

[2017-02-21 09:54] justvanrossum commented on #847
The reason is that in the `otf` case the `head` table is never loaded, so will not be recompiled. Not sure what the best fix is.

[2017-02-21 10:01] anthrotype commented on #847
maybe the subsetter should decompile `head` whenever `--recalc-timestamp` option is passed, so it will get recompiled with the updated timestamp.

[2017-02-21 10:22] justvanrossum commented on #847
Or it could be done by `TTFont().save()`, `TTFont` has the same problem of not recalculating the time stamp when `head` was not loaded.

[2017-02-21 12:46] #847 closed

[2017-02-21 21:17] zjusbo commented on #712
Read the fonttools merge.py source code. Got some answers for previous posted questions, but still has some questions which are written in bold.

Some tables are using 'first' as their merging logic, which keeps the table in the first font and discard those in other fonts, such as prep, fpgm, cvt.
Some keys in tables are also using 'first' as their merging logic, like 'names' in name table, etc.

[2017-02-21 22:12] readroberts opened #855 "Shouldn't variable font axis order be user-specified?"
In fontTools/varLib/__init__.py::_add_fvar(), the line "for iden in sorted(axes.keys(), key=lambda k: axis_map[k][0]):" forces the fvar axis list to be ordered alphabetically. Shouldn't this order be user-controlled? For example, when building the Adobe VF test font, I would like the order to be weight/width/contrast, but it comes out with contrast first.

[2017-02-22 02:13] behdad commented on #855
Correct.  There's a TODO item there:
[code]

[2017-02-22 02:15] behdad commented on #855
VariationModel has an axisOrder constructor argument.  We can wire up axisOrder to other places as well.

Best to include the order in designspace document.  In fact, new designspace document has code for axes, we can use the same order.  I'll see if I can look into that soon.  Or feel free to try.  We should fetch min/default/max of axes from the same place as well.

cc @LettError

[2017-02-22 09:00] mashabow opened #856 "[subset] Subr subsetting fails on some CID-keyed CFF"
Recentry an issue with `--no-hinting` was fixed in #709, but I'm getting another error when subsetting a CID-keyed CFF:

[code]

According to [Lib/fontTools/subset/\_\_init\_\_.py#L2266-L2281](https://github.com/fonttools/fonttools/blob/87527d726110b5fb0ec36c95a5ca5801e3c1f82a/Lib/fontTools/subset/__init__.py#L2266-L2281), when processing the GlobalSubrs, the value of `local_subrs` is always `[]`

[2017-02-22 09:10] anthrotype commented on #856
If you could also provide a small test font that reproduces the issue, it would be great.
But thanks anyway for the bug report.

[2017-02-22 09:19] mashabow commented on #856
Yes, of course, I'll try it later.

[2017-02-22 11:32] brawer commented on #712
Well, what can a poor little merging tool possibly do when the user wants to merge two fonts where the same glyph looks different in the same language? But does it actually happen in practice with Noto? For which glyphs in what languagesystems?

[2017-02-22 23:13] zjusbo commented on #712
Yes.

Unfortunately, following fonts that will be mentioned does not contain GSUB thus does not have a language system tag..

'space' and ['uni00A0'](https://unicode-table.com/en/search/?q=00a0) are different in NotoSans-Regular and NotoSansEgyptianHieroglyphs-Regular with 532 and 500 advance width respectively.
['000D'](https://unicode-table.com/en/search/?q=000d) in NotoSans-Regular and NotoSans

[2017-02-24 04:03] zjusbo opened #859 "pyftmerge: gasp table is optional, but pyftmerge uses 'equal' logic to merge it"
**Steps to reproduce:**
1. merge a font with gasp and a font without gasp, you will get the error attached at the end of this post.

**Expected result:**
Two fonts are merged successfully.

**Reason:**
[gasp](https://www.microsoft.com/typography/otspec/otff.htm#otttables) is optional, but pyftmerge uses logic 'equal' when merging it. 'equal' requires all fonts contain such table tag.

ttLib.getTab

[2017-02-24 12:33] anthrotype opened #860 "[feaLib] add support for Character Variants FeatureParams"
feaLib currently supports `featureNames` tags to add FeatureParams tables to stylistic sets (ssXX) features.

To support Feature Parameters in Character Variants features (cvXX) feaLib should add support for "cvParameters":
http://www.adobe.com/devnet/opentype/afdko/topic_feature_file_syntax.html#8.d

Also see the definition from OT spec under *Tag: 'cv01' - 'cv99'*:
https://www.microsoft.com/typo

[2017-02-24 12:48] anthrotype commented on #859
`gasp` *is* optional, but when it's there if does affect the hinting and rasterization (on Windows, at least). So I believe pyftmerge can't just pick the first one, but rather the `gasp` settings should compatible to begin with, no?

[2017-02-24 12:57] anthrotype commented on #846
Hi @alfredxing, sorry the late reply!

Almost all the pieces are here to make a `ttf2otf.py` script that complements the other [`otf2ttf.py`](https://github.com/fonttools/fonttools/blob/master/Snippets/otf2ttf.py).

One thing which is missing is a method to convert quadratics back to cubics. There's this PR on the cu2qu repository, but I haven't found the time to finish it: https://github.com/goog

[2017-02-24 22:24] zjusbo commented on #859
Agreed on that it affects hinting and rasterization to other glyphs.
Current logic just pick the first gasp setting and based on the [specification of gasp](https://www.microsoft.com/typography/otspec/gasp.htm) , it seems the gasp is a global setting apply to all glyphs in a font. We can not set an applied codepoint range for it. In other words, it is irreconcilable if two gasp conflicts, we can o

[2017-02-25 05:25] brawer commented on #592
Fixed in https://github.com/fonttools/fonttools/pull/861.

[2017-02-25 05:25] #592 closed

[2017-02-25 08:07] alfredxing commented on #846
@anthrotype I did some digging earlier in the week, I'm not sure if I understand how pens work but does [`t2CharStringPen`](https://github.com/fonttools/fonttools/blob/master/Lib/fontTools/pens/t2CharStringPen.py) do the cubic conversion?

Anyhow, thanks for looking into this!

[2017-02-25 12:53] anthrotype commented on #846
@alfredxing well, sort of. It inherits from `BasePen` so it has a basic implementation which simply decomposes the TrueType quadratic B-Splines (i.e. with multiple off-curves and implicit interpolated on-curves in between them) into a series of simple quadratic Bezier curves (with only one off-curve), and these are then elevated to cubic Beziers.

See `qCurveTo` and `_qCurveToOne` methods in
https

[2017-02-25 19:04] behdad commented on #828
We now try to read axes from designspace file, so this should be fixed if the designspace has <axes> element. Can you confirm?

[2017-02-25 19:04] #828 closed

[2017-02-27 17:10] anthrotype commented on #701
I think this is now fixed after #857 #864 #865. Please reopen if this is not the case.

[2017-02-27 17:36] anthrotype commented on #701
now that we read 'axes' from the designspace, does `varLib.build` still need an `axisMap` keyword argument? Shouldn't we deprecate that and only read from the designspace?

Also, why do we allow `axisMap` argument to override values from the default `standard_axis_map`, but instead when reading `axes` from designspace the `standard_axis_map` always take precendence?

https://github.com/fonttools/f

[2017-02-27 17:49] anthrotype commented on #701
third question: what is that `('custom',  ('xxxx', 'Custom'))` entry in the `standard_axis_map`? Can we get rid of it?

[2017-02-28 00:34] miguelsousa commented on #701
I can provide some answers since I worked on the recent changes.

1. The `<axes>` element is a relatively new addition to the **designspace** document format. Keeping `axisMap` will allow older files with masters/sources whose `<location>` include non-standard `<dimension>` names to keep working.

2. I can't speak for the handling of `axisMap`; I simply left it working the same way as before.
In r

[2017-02-28 21:33] #859 closed

[2017-02-28 21:33] zjusbo commented on #859
Pull request merged.

[2017-02-28 23:45] miguelsousa commented on #855
Fixed by #857 and #864.

[2017-03-01 00:11] anthrotype commented on #855
what about this `axisOrder` in `VariationModel` that Behdad mentioned? Was that connected to the designspace axes order?

[2017-03-01 00:42] readroberts commented on #855
VariationModel __init__ takes axisOrder as an optional argument, which is currently not connected to the axisMap order. The axisOrder argument is currently used only in the test code in models.py.  It looks to me like axisOrder is used to established an intended order for locations, and should be in added to the VariationModel() call in varLib/__init__.py and varLib/interpolate_layout.py, using th

[2017-03-01 00:49] miguelsousa opened #868 "DeprecationWarnings in Python 3"
When I ran `subset_test.py` in Python 3 I got a bunch of `DeprecationWarning` notices and one `ResourceWarning` notice. How critical are these?

[code]

[2017-03-01 08:01] anthrotype commented on #855
Thanks Read. Let's keep this open then until that is done.

[2017-03-01 20:26] miguelsousa commented on #856
[TestGSUBR-Medium.otf.zip](https://github.com/fonttools/fonttools/files/811933/TestGSUBR-Medium.otf.zip)
Here's a test font that has three glyphs encoded as あ, ぃ, and い. The font contains global subroutines and is hinted. I've installed fontTools v3.7.2 in a virtual environment and ran `pyftsubset TestGSUBR-Medium.otf --no-hinting --text=` on each character. I got no errors and AFAIKT the subsetti

[2017-03-01 22:39] PanderMusubi opened #870 "Unicode character description missing in comments for codepoints above 0xFFFF"
Unicode character description in the cmap table in output of `ttx -l` is missing in comments for codepoints above 0xFFFF, e.g.

    <map code="0xffed" name="uniFFED"/>
    <map code="0x1f4ef" name="u1F4EF"/>

The description here `????` should be `POSTAL HORN`, see https://unicode-table.com/en/1F4EF/

[2017-03-01 22:50] anthrotype commented on #870
You can install `unicodedata2` backport to use the latest UnicodeData 9.0.0
https://pypi.python.org/pypi/unicodedata2

fontTools will try to use that one if it finds it installed, else will fall back to the `unicodedata` module from the stdlib, whose version varies between python versions.

Python 3.6 has the latest UnicodeData 9.0.0, so its built-in `unicodedata` module is equivalent to the `unic

[2017-03-02 06:16] mashabow commented on #856
@miguelsousa Thank you for providing the test! To reproduce the issue, I think, there have to be some global subroutines which include `callsubr`.

[2017-03-02 06:51] mashabow commented on #856
[SubrTestCID-Regular.otf.zip](https://github.com/fonttools/fonttools/files/812951/SubrTestCID-Regular.otf.zip)

Here is another test font which has two glyphs, `.notdef` and `cid04817` (怕). In this font, there is a global subroutine including a `callsubr` operator:

[code]

And this is the actual result:

[code]

BTW, `OurAwesomeUnreleasedFont.otf` is now released as [AXIS Round 100](http://typepr

[2017-03-02 10:17] anthrotype commented on #856
Thanks Miguel and Masaya for providing test fonts.

So the issue seems to be when we the subsetter is renumbering the subroutines, and we have CID-keyed CFF which contains some `GlobalSubrs`.
In this case, the variable `local_subrs` is assigned an empty list object:

https://github.com/fonttools/fonttools/blob/46d487c/Lib/fontTools/subset/__init__.py#L2270

But if any of the global subroutines in

[2017-03-02 12:00] PanderMusubi commented on #870
Thanks. Nope, did not know that that existed. I'm using Python 3.5.1-4. I installed it with

    # pip3 install unicodedata2
    Collecting unicodedata2
      Downloading unicodedata2-9.0.0.post4-cp35-cp35m-manylinux1_x86_64.whl (408kB)
        100% |████████████████████████████████| 409kB 2.3MB/s
    Installing collected packages: unicodedata2
    Successfully installed unicodedata2-9.0.0.post4

[2017-03-02 12:03] PanderMusubi commented on #870
PS   I am using fonttools version 3.0-1 on updated Ubuntu 16.10.

[2017-03-02 12:04] anthrotype commented on #870
hm.. that's weird. Do you get 'POSTAL HORN' if you do this in an interactive python shell?

[code]

[2017-03-02 12:06] anthrotype commented on #870
Ah ok! You should uninstall that old fonttools version you have, and re-install it with `pip install fonttools`. The latest version should be 3.7.2.

[2017-03-02 12:07] PanderMusubi commented on #870
$ python3
    Python 3.5.2+ (default, Sep 22 2016, 12:18:14)
    [GCC 6.2.0 20160927] on linux
    Type "help", "copyright", "credits" or "license" for more information.

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
    ImportError: No module named 'fontTools'

[2017-03-02 12:09] anthrotype commented on #870
Seems like fontTools package is not installed in your python3's site-packages, so you can't import it.
How did you install it in the first place?

[2017-03-02 12:09] PanderMusubi commented on #870
Yes, that fixed it, thanks

    # dpkg -P fonttools
    ...
    # pip3 install fonttools
    ...

Hope Ubuntu will upgrade its package soon.

[2017-03-02 12:10] anthrotype commented on #870
No, don't use `dpkg` to install fonttools. We don't maintain that.
Use pip to install the latest fonttools.

[2017-03-02 12:11] anthrotype commented on #870
Going to keep this issue open so we can discuss with the rest of the team whether to add `unicodedata2` to our `install_requires`, or possibly to `extras_require`.

[2017-03-02 12:13] PanderMusubi commented on #870
I try to chase Ubuntu to keep up to date with Python packages. In some organisations, one is not allowed to install outside of the official repositories because of maintenance contracts. So pip might be the fix (for you personal systems) but not everyone is allowed to that on certain (Ubuntu/Debian/Red Hat/etc) corporate servers.

[2017-03-02 12:14] PanderMusubi commented on #870
Upvoting https://bugs.launchpad.net/ubuntu/+source/fonttools/+bug/1658041 (after logging in) might help a bit.

[2017-03-02 21:03] miguelsousa commented on #856
I asked my colleagues and confirmed that it's invalid to use `callsubr` in global subroutines.

[2017-03-02 21:24] behdad commented on #856
It's nice of them to say so :).

Technically it's possible to call subr from gsubr; when processing the gsubr, the subrs from current font dict are used. Which, indeed, is a problem in subsetting.

[2017-03-02 21:27] behdad commented on #856
Ah, you just successfully debugged https://github.com/fonttools/fonttools/issues/656 !  Thank you!!!!!!! Let me think about this a bit.

[2017-03-02 21:33] miguelsousa commented on #856
Team work \o/

[2017-03-02 21:37] behdad commented on #656
Ok, dupe of https://github.com/fonttools/fonttools/issues/856

[2017-03-02 21:37] #656 closed

[2017-03-03 01:31] mashabow commented on #856
@miguelsousa

Oh, that's important. Thank you. Is there any document referring to this restriction?

[2017-03-03 05:21] miguelsousa commented on #856
@mashabow I looked thru a few tech notes but didn't find it mentioned anywhere.

[2017-03-04 16:04] anthrotype opened #873 "default named instance should use nameID 2 or 17, and 6"
As reported by @lemzwerg, `varLib` does not correctly write named-instances' nameIDs in the `fvar` table.

Currently, we add all the `<instances>` defined in the .designspace file, and append the respective subfamily and postscript nameIDs using the `addName` method of `name` table; the latter simply appends the name records with id greater than 255, incrementally.

However, *default* named instan

[2017-03-06 06:10] aaron-elkins opened #875 "Any font validation tool in this project?"
Is there any truetype and open type font validation tool in this repo?

[2017-03-06 14:16] brawer commented on #875
Not really. If a font’s tables are so broken that they can’t be parsed, the tools in this repo will definitely notice. But there’s no checks that would guarantee a font will work fine on a specific platform.

[2017-03-06 14:16] #875 closed

[2017-03-06 14:22] anthrotype commented on #875
try https://github.com/HinTak/Font-Validator, or `ftxvalidator` in the Apple Font Tool Suite
https://developer.apple.com/download/more/?=font

[2017-03-07 02:00] davelab6 commented on #875
There's also ots and fontbakery

On Mar 6, 2017 9:22 AM, "Cosimo Lupo" <notifications@github.com> wrote:

[2017-03-09 15:49] brawer commented on #146
Related to this, the subsetter should probably keep MacRoman names for PostScript names (not just nameid 6, but also the PostScript names listed in `fvar`). https://github.com/fonttools/fonttools/issues/756

[2017-03-09 15:50] brawer commented on #756
Seems related to https://github.com/fonttools/fonttools/issues/146 so I’ve added it there.

[2017-03-09 15:50] #756 closed

[2017-03-09 19:43] #829 closed

[2017-03-09 19:45] brawer commented on #791
Closing this bug because the work seems done... please re-open if I’m wrong.

[2017-03-09 19:45] #791 closed

[2017-03-09 23:00] Pomax commented on #853
Would a runtime flag along the lines of `--dont-crash-on-unknown-type2-opcodes` (but then obviously with a better name =) but a stopgap measure? TTX could then crash out with a `NotImplementedError - please rerun ttx wit the --that-massive-flag option to pass over unsupported type2 operators (note: this may lead to incorrect values in interpreted Type2 charstrings)` notifcation,

Of course the rea

[2017-03-09 23:03] Pomax commented on #853
Note that Freetype [now has full CFF support](http://savannah.nongnu.org/bugs/?46489#comment5) (traditional CFF as set out in Adobe Tech Note 5176, not the new CFF2 format) including the `random` operator, so it might be worth jumping straight to an implementation rather than adding a runtime flag stopgap.

[2017-03-10 06:56] lemzwerg commented on #853
I don't see how the `random` operator may cause any issue in ttx – this program doesn't execute the opcodes, so no need to cater with seed values and the like.

And yes, the proper solution is adding the few missing opcodes.  It's a rather easy task, but someone has to sit down and do the coding...

[2017-03-10 06:59] lemzwerg commented on #853
Just, can you give more details why you think that it is necessary to *execute* the charstring for disassembling?

[2017-03-10 07:12] behdad commented on #853
The decoding is dependent on number of hints defined, when a hintmask op is seen, which in turn depends on calling subroutines, which then in turn rely on that stack and ops like random being implemented. That's why it's not trivial.  Most fonts don't use those features though, so maybe a stub impl is doable.

[2017-03-10 17:41] Pomax commented on #853
hm, that'd only be an issue for resolving `subr` and `gsubr` instruction though, isn't it? `random` will never be involved in those because subroutines must be integers, with `random` generating type2 decimals. so if it's seen in a context where it *does* contribute to a subr/gsubr lookup that is absolutely an error and TTX should go "yo, this is really bad!", but a proper use of the opcode will n

[2017-03-10 18:09] behdad commented on #853
The way these unimplemented opcodes were originally designed to work, it is easy to imagine to have random, multiply, round, add base, and use as subroutine number to call.  Eg. choosing a random serif.  It's not me who's going around reviving the dead opcodes, it's you. :)

The impl is trivial.  I'll go ahead and put some in. That's not the point though. I've made my point many times. Only if you

[2017-03-10 19:06] Pomax commented on #853
I won't fight CFF2 not having them. But CFF does, and by god I will abuse the hell out of them in spec-compliant ways =)

[2017-03-11 17:11] mashabow commented on #853
Well... what about with `ifelse` operators, e.g. `s1 s2 random 0.5 ifelse callsubr`? If `random` returns a number <= 0.5 it calls local subroutine `s1`, otherwise calls `s2`.

[2017-03-11 17:59] Pomax commented on #853
that's perfectly fine? the operands to the callsubr operator are still integer.

[2017-03-11 18:02] behdad commented on #853
The point was that one needs to interpret to decode.

[2017-03-11 18:21] Pomax commented on #853
Oh wait... I think @mashabow was actually highlighting a problem with the idea of being able to "unwrap" a charstring to its full form when `random` is in play (by having a conditional jump based on a random conditional, even if the routine indices used are integer). Charstrings can effectively specify nondeterministic branching, so unrolling the bytecode to a single charstring would certainly get

[2017-03-14 15:31] RoelN commented on #153
Bumping this.

In the mean time, what is the way to extract PNG images from am sbix table? I can iterate over the strikes (`for strike in font['sbix'].strikes:`) but I'm a bit clueless on how to proceed.

What's the best way to find out these things without asking? There aren't any "let play with the sbix table" docs out there for TTX/FontTools, right?

[2017-03-14 15:36] Jolg42 commented on #153
@RoelN I did that not so long ago, here is the script https://gist.github.com/Jolg42/f22676fdfba6dbfe4589aa30f0326fb4

[2017-03-14 15:47] anthrotype commented on #153
@RoelN I'm afraid we don't have much documentation for the library modules yet, but feel free to ask anytime!

The `ttx` command has `-z` option to specify "a bitmap data export option for `EBDT`" (and `CBDT`), so one can pass `-z extfile` and save the bitmaps to external files.
However, this doesn't work with `sbix` table yet.

If somebody wants to give it a try, it'd be glad to review a PR.

[2017-03-15 09:32] miguelsousa opened #888 "[varLib.merger] Limitation in _PairPosFormat2_merge"
While trying to build a variable version of Source Sans I ran into [this documented limitation](https://github.com/fonttools/fonttools/blob/23511fd302283a68774308c03fa93ae0411987a9/Lib/fontTools/varLib/merger.py#L370-L374),
[code]
I've put together a [test ~case~ example in the Source Sans repository in a branch named **_PairPosFormat2_merge**](https://github.com/adobe-fonts/source-sans-pro/blob/_

[2017-03-15 09:57] RoelN commented on #153
@Jolg42 Fantastic, thanks! That's very helpful.

@anthrotype Thanks for the invitation to ask. I'll play around with @Jolg42's script and hope to make some time for a PR in the near future!

[2017-03-15 09:59] anthrotype commented on #153
I guess a script like @Jolg42's could be added to the fonttools/Snippets folder, if you like. I see it's using python2-only idioms, so one should make it py2.py3 compatible first. PR anyone?

[2017-03-15 10:13] Jolg42 commented on #153
@RoelN You're welcome!
@anthrotype 👍 No problem with that, but I am not an expert in Python so I can't help for making it compatible...

[2017-03-15 11:25] RoelN commented on #153
I don't mind giving that a shot. I also have some other small example scripts I could dust off!

[2017-03-15 16:02] anthrotype commented on #656
I'd be curious to see if by using the latest [compreffor 0.4.4](https://github.com/googlei18n/compreffor/releases/tag/0.4.4) to re-subroutinize "NotoSansJP-Regular.otf" font, we can work around this subsetter issue.
Where can I get that font file?

[2017-03-15 20:29] behdad commented on #656
@garretrieger can send you current version of the font.  I'm guessing that previous version was resubroutinized by @jungshik

[2017-03-15 21:42] zjusbo opened #890 "[pyftmerge] Duplicated DFLT tag in GSUB and GPOS table"
Steps to reproduce:
1. merge two fonts both contain DFLT tag in GSUB table. For example, noto-fonts/unhinted/NotoSans-Regular.ttf and noto-fonts/unhinted/NotoSansLimbu-Regular.ttf
pyftmerge NotoSans-Regular.ttf NotoSansLimbu-Regular.ttf
2. dump the GSUB table of the merged font
ttx -t GSUB merged.ttf
3. Check the script tags in GSUB in the result

Expected result:

Only one DFLT tag in it and valu

[2017-03-15 22:12] garretrieger commented on #656
This is the version that I had problems subsetting.
[NotoSansJP-Regular.zip](https://github.com/fonttools/fonttools/files/846130/NotoSansJP-Regular.zip)

[2017-03-15 22:32] anthrotype commented on #656
Thank you guys, I'll try tomorrow and let you know

[2017-03-16 23:23] behdad commented on #856
We fixed compreffor to not use this... Let's clean this part of subsetter later.  I think we should use the one subroutine vector if there's only FontDict at least.

[2017-03-16 23:33] behdad commented on #888
Thanks for the concise test case!!  Looking into it.  I think I know of a simple fix...

[2017-03-17 00:53] behdad commented on #888
Would be great if you can add a test case for it.  Thanks.

[2017-03-17 06:38] miguelsousa commented on #888
Will do. Thanks!

[2017-03-17 08:07] miguelsousa commented on #888
Something isn't right. I've spot-checked a few kern pairs and they're not working in the variable font, whereas they're fine in the master sources. See the FontView screenshots below. The result in CoreText is the same (tested via axis-praxis).

<img width="798" alt="vf-master0" src="https://cloud.githubusercontent.com/assets/2119742/24034253/da253516-0aad-11e7-9cbe-4619fc08c8ea.png">
<img width="

[2017-03-18 03:19] behdad commented on #888
Fix coming soon.

Note that CoreText as far as I know doesn't support GSUB / GPOS variations yet.

[2017-03-18 22:34] miguelsousa commented on #888
Thanks Behdad. The kerning now seems to be working in the Black (master1) but it's still not in the ExtraLight (master0). Do you think that this is now a FontView/FreeType/HarfBuzz issue?

<img width="795" alt="vf-master0" src="https://cloud.githubusercontent.com/assets/2119742/24076520/1769e546-0bf0-11e7-9508-37f6391acc8a.png">
<img width="712" alt="master0" src="https://cloud.githubusercontent.c

[2017-03-18 23:18] miguelsousa commented on #888
I've made new [master fonts that don't have Greek and Cyrillic class kerning and put them in a branch named **no-greek-cyrillic-kerning**](https://github.com/adobe-fonts/source-sans-pro/tree/no-greek-cyrillic-kerning). While building these fonts there was no `Attempting to fix OTLOffsetOverflowError` message.

The variable font made with these new masters works fine in FontView, in terms of kernin

[2017-03-19 03:43] behdad commented on #888
Thanks Miguel.  I'll debug.

Sorry for not properly testing my fixes.  I'm of very limited time right now :(.

[2017-03-19 05:03] miguelsousa commented on #888
No worries. I appreciate any time you can dedicate to this. I'd do it if I knew how.

[2017-03-22 20:44] readroberts opened #892 "[varLib] extrapolate, truncate, or rebase when min/max/default different from implied"
I just ran into a an annoying bug in a font design space file, which makes me want to suggest a change in the design space file spec.  This currently specifies axis default, max and min values in two places.  These attributes can be  explicitly defined by <axis> elements. They are also always implicitly defined by the master design <source> elements. The coordinates of the base design <source> ele

[2017-03-22 22:19] behdad opened #893 "font.getGlyphSet()[glyphname].draw() does not set width / height"
We should fetch those from hmtx / vmtx and set.

[2017-03-22 22:39] behdad commented on #892
Thanks Read.  Interesting that you bring up.

The duplication is intended.  I want to extend varLib such that:

  * If min/max are different from implied range, either extrapolation happen, or truncation.  See https://github.com/fonttools/fonttools/issues/671

  * Make any default position work by first synthesizing font at that point and then rebase the model on top of it.

[2017-03-22 22:45] readroberts commented on #892
Now I understand the rationale, and agree that this is a valid and useful thing to do. I will close the issue.

[2017-03-22 22:48] behdad commented on #892
Thanks. I don't mind keeping open and renaming, for tracking purposes.

[2017-03-23 07:45] anthrotype commented on #893
actually advance width and left side bearing are already fetched from the hmtx in the objects returned from getGlyphSet:

https://github.com/fonttools/fonttools/blob/8af488a1b3a56694bb44961d2d8e7afcfc40d774/Lib/fontTools/ttLib/__init__.py#L738

We should just add height and top side bearing from vmtx, if available.

[2017-03-23 12:51] #893 closed

[2017-03-23 21:17] shwetamar85 opened #896 "ttx fails to read UTF-8 with BOM"
Hi

I have 2 files which are exactly similar but one of them gets converted to TTF but the other one doesn't.
ByTool.ttx - this converts to ttx
ByCode.ttx - this doesn't :(

Please help

Thanks
Shweta

[FilesForTesting.zip](https://github.com/fonttools/fonttools/files/866228/FilesForTesting.zip)

[2017-03-24 00:11] miguelsousa commented on #896
The ByCode.ttx file makes ttx fail at `guessFileType()` because it has three characters at the beginning which are not ASCII: `\xef\xbb\xbf<?xml version`

[2017-03-24 00:34] miguelsousa commented on #896
[code]

[2017-03-24 18:54] shwetamar85 commented on #896
Thanks a lot

[2017-03-24 21:31] behdad commented on #896
That's the UTF-8 Unicode Byte Order Mark (BOM). That's deprecated but valid XML nonetheless. We should support it.

[2017-03-24 21:32] anthrotype commented on #896
🙊 sorry, thanks Behdad

[2017-03-24 21:35] anthrotype commented on #896
If we were opening the xml file as text rather than bytes, python would take care to decode UTF-8 properly. But I suspect that the expat parser expect bytes. Will check

[2017-03-24 21:38] anthrotype commented on #896
Is it enough to simply check for the BOM and strip it if it's there, then proceed reading the bytes as UTF-8 encoded? If so, that's easy.

[2017-03-24 21:42] behdad commented on #896
Correct. I think the parser handled that, so we just need to fix the guessFileType code.

[2017-03-25 00:36] davelab6 opened #898 "Time for a new release? :)"
I'd like to suggest cutting a new release, since v3.9.1 can't parse STAT tables but master can :)

[2017-03-25 09:20] anthrotype commented on #898
Are you sure?

https://github.com/fonttools/fonttools/compare/3.9.1...master

Not much has happened since 3.9.1, and nothing that has to do with STAT table.

What's the error?

[2017-03-26 20:49] miguelsousa commented on #896
Is it really necessary to check for the presence of the BOM before stripping it?
I tested changing [this line](https://github.com/fonttools/fonttools/blob/master/Lib/fontTools/ttx.py#L293) to `header = f.read(256).lstrip(b'\xef\xbb\xbf')` and it seems to be enough for both py2 and 3.

[2017-03-27 09:10] anthrotype opened #899 "add 1 zero byte when compiling empty glyf tables..."
...to make Windows happy.

The OTS does that too now.

See discussion
https://github.com/khaledhosny/ots/issues/52#issuecomment-289369267

[2017-03-28 10:43] #896 closed

[2017-03-28 12:04] behdad commented on #820
Any update @yanone ?

[2017-03-29 01:52] miguelsousa opened #901 "Off-by-one in HVAR AdvWidthMap"
I think I found an off-by-one issue in the assembling of **HVAR**'s `AdvWidthMap`. Haven't looked at the code, but I have a test case at https://github.com/adobe-fonts/adobe-variable-font-prototype/tree/hvar-issue

Open **AdobeVFPrototype.ttf** in FontView, move the Weight slider to the right, and notice how the cent jumps toward the dollar when the two glyphs transition to having no bar thru. The

[2017-03-29 09:41] behdad commented on #899
Sgtm

[2017-03-29 12:40] khaledhosny opened #902 "maxp.maxSizeOfInstructions is not calculated?"
I was trying to make a font with defective `glyf` table glyphs for testing OTS, when I found that `Tests/ttx/data/TestTTF.ttf` is already rejected by OTS. This seems to be because `maxSizeOfInstructions` is set to 0, but some glyphs have `instructionLength` of 2.

It seems `maxSizeOfInstructions` is not calculated when generating `maxp` table, I’m not sure if this is intentional or not.

[2017-03-29 13:17] anthrotype commented on #902
Yes, we currently don't recalculate that. We probably should.

The problem is that there is some ambiguity as to how properly calculate that value.
I myself raised the issue with the OpenType mailing list almost two years ago, and Greg Hitchcock from Microsoft replied with a long and detailed history of this maxp field.

TLDR...

This should be based on the largest set of instructions (in the glyf

[2017-03-29 14:01] yanone commented on #820
I just tested all of my four scenarios again with the latest fontTools version.
I’m sorry to report that nothing changed.

Here’s the email that I sent to Cosimo when he asked me:

I've attached the source .otf as well as the source Glyphs file, just in case.

--glyphs='*' --layout-features-='smcp,c2sc'
Expectation: Deletes all glyphs referenced in the two features smcp and c2sc (as long as those

[2017-03-29 14:10] yanone commented on #820
I just tried another combination:

Scenario 5:
--glyphs='[all glyphs of the font minus .sc, see at bottom for exact list]' --layout-features-='smcp,c2sc'
Results: The .sc glyph are now actually gone, alhamdulilah. But the features have been reduced to ccmp, locl, and liga (all of whose remaining target glyphs have Unicodes) (like Scenario 1).

[2017-03-29 23:25] readroberts commented on #901
I think this is probably a bug in FreeType, or at least FontView, rather than the font. The immediate problem is that the AdvWidthMapping table omits an entry for the last glyph in the font; adding this entry, with the same delta values as the previous entry,  in the 'ttx' file and recompiling the font from this ttx file fixes the observed symptom. However, the OpenType spec for the HVAR table say

[2017-03-30 00:00] miguelsousa commented on #901
@brawer @lemzwerg ^^^

[2017-03-30 10:40] miguelsousa commented on #901
* [FontView issue #24](https://github.com/googlei18n/fontview/issues/24)
* [FreeType bug #50678](https://savannah.nongnu.org/bugs/index.php?50678)
* [Test font TestHVARTwo](https://github.com/unicode-org/text-rendering-tests/pull/26)

[2017-03-30 10:40] #901 closed

[2017-03-30 18:50] shwetamar85 opened #904 "Performance issues with huge glyf table"
Hi

I have a ttf which is 35MB and has 60K glyf in it. On converting it to TTX with -s option the size of glyf file is ~483MB and it takes about ~10 minutes to be created .
Was just thinking if there can be any performance improvements?

Thanks
Shweta

[2017-03-30 21:08] davelab6 commented on #898
Found between monitor and keyboard :)

[2017-03-30 21:08] #898 closed

[2017-03-30 21:09] shwetamar85 opened #905 "Glyf data not ordered as per glyph order table"
# **Below is the glyph order table**

<GlyphOrder>

    <GlyphID id="0" name=".notdef"/>
    <GlyphID id="1" name="glyph00001"/>
    <GlyphID id="2" name="glyph00002"/>
    <GlyphID id="3" name="space"/>

- **#

 Below is the order in Glyf table**

 <TTGlyph name=".notdef" xMin="256" yMin="0" xMax="1792" yMax="1536">
      <contour>
        <pt x="256" y="0" on="1"/>
        <pt x="256" y="1536" o

[2017-03-30 21:12] anthrotype commented on #905
The elements of the glyf table are sorted alphabetically in the XML dump, but are compiled using the order from the GlyphOrder when compiling the XML to binary.

[2017-03-30 21:12] #905 closed

[2017-03-30 21:15] shwetamar85 commented on #905
But shouldn't in xml it be sorted by id as glyphorder  ? Is there a reason they are sorted by name?

[2017-03-30 21:19] anthrotype commented on #905
No particular reason, just out of convenience I guess. The order is defined in the GlyphOrder pseudo-table, and other tables are just dumped in a normalized, alphabetical sorting.

[2017-03-30 21:25] anthrotype commented on #905
Also, most of the tables, including glyf, are represented internally as python dictionaries which are unsorted collections. It's just easier to have the glyphOrder stored separately and use it when it matters, upon compiling. I don't see a good reason to change that.

[2017-03-30 21:30] shwetamar85 commented on #905
I am stuck on situation where I have to compare a font version . I have to compare the glyf table. Font has 60000 glyf in it and if I decompile the glyf table it's size is ~483MB . Loading these complete xmls in memory is a bad idea , so I though if I can just pick up node from each side to compare . But for that it has to be ordered .. So thought of checking that. I raised another issue for the s

[2017-03-30 21:45] miguelsousa opened #906 "Revert #885 once the CFF2 spec is updated"
An upcoming revision of the CFF2 specification will remove the `maxstack` operator. Revert #885 when that's published.

[2017-03-30 21:58] shwetamar85 commented on #905
Just to confirm once again they are sorted by the attribute name of the element TTGlyph

[2017-03-31 10:34] jenskutilek commented on #904
My advice is: don't convert to XML unless absolutely necessary. You can do any operations directly on the Python objects in memory after you have opened a font with `fontTools.ttLib.TTFont("myfont.ttf")`

[2017-04-01 00:20] punchcutter opened #907 "[otlLib] GPOS ValueRecord optimization should be optional"
From builder.py
[code]
This kind of optimization is probably fine in most cases, but more than once this has caused major problems with interpolation in the Noto pipeline (one example: https://github.com/googlei18n/fontmake/issues/171).

For example, we have master sources for Thin, Regular, Bold, and Black. The GPOS for each master has the same number of lookups, but the values within each lookup

[2017-04-01 17:49] shwetamar85 commented on #904
If i make changes to any column let's say revision column of head table will I be able to save it back in TTF ?
I am not a python expert can you please share snippet

[2017-04-02 01:08] davelab6 commented on #904
Yes

There are snippets in the source tree

On Apr 1, 2017 1:49 PM, "shwetamar85" <notifications@github.com> wrote:

[2017-04-02 06:39] shwetamar85 opened #908 "vhea table : values changed on compile"
Hi

I decompiled a ttf to ttx and without making any changes just compiled it back
I notice 2 fields value have changed
1)   **minBottomSideBearing ,** Changed from 1 to 0
2) **yMaxExtent** changed from 1023 to 1024

[2017-04-02 09:06] anthrotype commented on #908
It's a feature. Use -b to not recalculate bonding codes upon compile. See ttx --help

[2017-04-02 09:06] #908 closed

[2017-04-02 09:07] anthrotype commented on #908
Bounding boxes, not bonding codes.. sorry was typing from my mobile phone.

[2017-04-02 12:02] miguelsousa commented on #144
@anthrotype can this note be removed?
[code]
https://github.com/fonttools/fonttools/blob/master/Lib/fontTools/subset/__init__.py#L179-L183

[2017-04-02 12:55] anthrotype commented on #144
I believe so. @behdad?

[2017-04-03 06:34] miguelsousa commented on #901
[Font files mentioned in the original post](https://github.com/fonttools/fonttools/files/889140/AdobeVFPrototypeFonts.zip), in the event that the repository or the branch referenced get deleted.

[2017-04-03 08:51] jenskutilek commented on #904
Here is an example for changing the font revision:

[code]

A ttx dump (of a smaller file) can be useful for finding out the exact names of the table fields (in this case `fontRevision`).

[2017-04-03 11:22] lemzwerg commented on #902
OK, just rereading Greg's e-mail...

The sentence 'Tools like VTT or ttfautohint [...] are apparently wrong' is highly debatable :-) Given that no implementation is actually using the max value, and that the (former) de-facto tool for creating bytecode (VTT)  disagrees or disagreed for a long time with Greg's interpretation, and that the wording in the specification is still ambiguous in the newes

[2017-04-03 13:49] twardoch commented on #904
You can also hand-pick the tables to dump to.TTX XML:

ttx -t head font.ttf

That'll be much faster.

[2017-04-03 16:59] shwetamar85 commented on #904
Thanks a lot , your suggestions are helpful

[2017-04-05 21:02] shwetamar85 opened #909 "Issue in compiling EBLC table"
Hi

While running the ttx command I am getting the below error

 File "c:\users\my\appdata\local\programs\python\python36-32\lib\site-packages\fontTools\ttLib\tables\E_B_L_C_.py", line 183, in compile
    data = indexSubTable.compile(ttFont)
  File "c:\users\my\appdata\local\programs\python\python36-32\lib\site-packages\fontTools\ttLib\tables\E_B_L_C_.py", line 541, in compile
    self.imageDataOf

[2017-04-06 13:31] #888 closed

[2017-04-06 19:21] shwetamar85 commented on #909
Attaching file for reference
[MyFont.E_B_L_C_.txt](https://github.com/fonttools/fonttools/files/903728/MyFont.E_B_L_C_.txt)

[2017-04-08 19:08] brawer opened #911 "[varLib] Use designspaceDocument?"
Should `fontTools.varLib` use @LettError’s [designspaceDocument](https://github.com/LettError/designSpaceDocument) class?

* Advantages: Nice API. Less duplication of code between font libraries, such as glyphsLib (which writes designspace) and varLib (which reads them). Files would always be spec-compliant.
* Disadvantage: Our dependency hell gets worse, for a relatively minor piece.

Thoughts? P

[2017-04-08 20:07] anthrotype commented on #911
+1 for using designspaceDocument, +2 for including it in fonttools if Erik steps up to maintain it

[2017-04-09 02:18] davelab6 commented on #911
Are the dependencies really hellish? It seems to be smooth to me. Curious
what the advantages of inlining it are? 🤔

On Apr 8, 2017 10:07 PM, "Cosimo Lupo" <notifications@github.com> wrote:

[2017-04-09 11:08] miguelsousa commented on #888
Thank you very much for the fix Behdad. AFAICT the GPOS merging of that test variable font is working as expected now 🎉 🏆 🎉 🏆 🎉 🏆

However I'm sorry to say that I have another example v-font that ends up with non-functioning kern pairs 😢  The difference between the set of source TTFs referenced in this issue and my other TTFs
is that the GPOS tables of the former were made via fontmake/feaLib, whe

[2017-04-09 15:18] brawer commented on #911
Yes, they are.

[2017-04-09 17:41] LettError commented on #911
If this is the way to go, I don't mind maintaining it.

[2017-04-09 17:51] anthrotype commented on #911
Thanks Erik! You already have push access, so you can create a new branch here on the fonttools repo where we work together on integrating the new subpackage into the library.
I guess it would go inside fontTools.varLib, replacing the current designspace.py. Or do we want to place it one level above, under fontTools.designspaceDocument?

[2017-04-09 17:56] anthrotype commented on #911
Maybe outside of varLib, as fontTools.designspaceDocument, would be better.

[2017-04-09 21:30] adrientetar commented on #909
That's a py2/3 issue, since zip returns a generator in py3. If you replace zip(*self.locations)[0] with next(zip(*self.locations)), that should fix things.

[2017-04-09 21:59] anthrotype commented on #909
@adrientetar Sgtm. Mind sending a PR?

[2017-04-09 23:10] #909 closed

[2017-04-10 07:40] anthrotype commented on #909
Thanks!

[2017-04-10 07:51] behdad commented on #911
I like folding it in as well. Will review the code / api.

[2017-04-10 09:04] ivanov-v opened #912 "command not found: pyftsubset"
I have set what is needed, but there is an error
`zsh: command not found: pyftsubset`

[2017-04-10 09:05] anthrotype commented on #912
how did you install fonttools?

[2017-04-10 09:06] ivanov-v commented on #912
`pip install fonttools`

[2017-04-10 09:07] ivanov-v commented on #912
If repeat, I get it
`Requirement already satisfied: fonttools in /Library/Python/2.7/site-packages`

[2017-04-10 09:12] anthrotype commented on #912
which python are you using? The macOS built-in python or homebrew or what?

Try to do this to get the full path to the binary called "python":
[code]

Also, echo the content of your `$PATH` to check that `/usr/local/bin` is in there. That's where it scripts gets installed when you `pip install` globally; with `--user` option they go somewhere else inside your user's library folder and you need to

[2017-04-11 07:50] miguelsousa opened #914 "[varLib.merger] Merging of makeotf-generated GPOS tables results in missing kern pairs"
This is sort of a segue of issue #888. In that issue, the GPOS tables of the master fonts were compiled with `feaLib`. If the GPOS tables of the master fonts are instead compiled with `makeotf`, the resulting variable font will not have some kern pairs that were present in the master fonts.

Test files are available at https://github.com/adobe-fonts/source-sans-pro/blob/no-greek-cyrillic-kerning/R

[2017-04-11 18:02] brawer opened #916 "Update varLib to current designspace spec"
@behdad, does varLib need to be updated to implement the [current designspace spec](https://github.com/LettError/designSpaceDocument/blob/master/README.md)? When building a variable font for [Noto Sans Cherokee](https://github.com/googlei18n/noto-source/raw/master/src/NotoSansCherokee-MM.glyphs) with fontmake, varLib crashes like this:

[code]

When compiling NotoSansCherokee, the `locations` vari

[2017-04-11 18:22] miguelsousa commented on #916
@brawer in <axis>, change the value of **default** to 90, so that it matches the location of the source that has the <info> element.

[2017-04-11 18:26] brawer commented on #916
@miguelsousa, it looks like minimum/maximum/default are supposed to be in external user space, so `default="90"` would be in violation of the [specification](https://github.com/LettError/designSpaceDocument#1-axis-element). So I think varLib should change its implementation.

[2017-04-11 18:27] behdad commented on #916
Ok, varLib needs to understand the axis map. After which it should work.  I'll see if I can get this done today.  Hold on.

[2017-04-11 18:55] miguelsousa commented on #916
@brawer if you swap the output and input values, and redefine minimum and maximum based on that, it should all work.

@behdad to me what makes most sense is to setup the `<axis>` element according to the font's design, and the OT tables (`fvar`?) according to the values of `output`, rather than the other way around.

[2017-04-11 21:29] behdad commented on #888
Thanks. I'll take a look.

[2017-04-11 21:55] behdad commented on #907
No.  Merger should know how to merge. And in this case it knows.  If you hit bugs, file them and I'll fix.  Thanks.

[2017-04-11 21:55] #907 closed

[2017-04-11 21:56] behdad commented on #907
See `fontTools.varLib.merger:_SinglePosUpgradeToFormat2()`.

[2017-04-11 21:57] behdad commented on #144
Yes!

[2017-04-12 11:11] anthrotype opened #917 "should we split combined outer-inner variation index in MVAR ValueRecords?"
In otData.py, the `MetricsValueRecord` structure has a `uint32` `VarIdx`, described as the "combined outer-inner variation index`.

However, in the otspec, the MVAR ValueRecord has two `uint16` indexes: i.e. an "outer" one to select item variation data subtable within the item variation store, and an "inner" one to select a delta-set row within an item variation data subtable:
https://www.microsof

[2017-04-12 20:16] justvanrossum opened #920 "[fixedTools] __all__ lists unknown function"
[code]

[2017-04-12 20:45] behdad commented on #916
Doesn't make most sense to me.  The mapping always goes from user values to internal values, so I think the current to/from makes more sense.

I also like that axis min/default/max show user-visible values.

I do think for <instances> it might make more sense to have them in user-space.  Will be useful to allow both spaces everywhere, using an extra attribute.  But I don't have good names for them

[2017-04-12 22:53] behdad opened #921 "[name] Support adding entries for multiple languages"
Name table object has addName(). Would be good to support adding name for multiple languages at the same time.  Eg. if string is a dict (like `{'en':'Weight', 'fa-IR':'وزن'}).  I need this in fvar generation.

[2017-04-13 01:17] miguelsousa commented on #916
Does that mean that the weight axis values are going to be the same for a lot of fonts in world? To me it feels that the OT spec is commanding the way to setup some of the axes in the designspace document. And my design-inclined brain can't stop thinking that the input/output setup is counter-intuitive.

@LettError what's your take on this?

[2017-04-13 01:27] miguelsousa commented on #144
Done https://github.com/fonttools/fonttools/commit/e69960cce06aa4e23bb5c01bfebbd270928b8421

[2017-04-13 03:37] shwetamar85 opened #922 "OS_2 : Values should not be converted to string"
Hi

Fields mentioned below should not be converted to string in ttx as the value they have is only significant if available in Unicode format.

usFirstCharIndex
usLastCharIndex
usDefaultChar
usBreakChar

Thanks
Shweta

[2017-04-13 04:54] behdad commented on #855
I removed it now.  Axes should be configured in designspace file.

[2017-04-13 04:54] #855 closed

[2017-04-13 04:57] behdad commented on #916
Ok!  Done.  I'll write a detailed report for discussion later.

[2017-04-13 05:03] behdad opened #923 "avar table implementation does fixups it shouldn't do"
Right now avar table implementation calls `fixupSegments_()` in `decompile()` and `fromXML()`.  That is bad for various reasons:

  * ttLib should NOT fixup errors in font,
  * Worse, it shouldn't do when *reading*. It's ok to fixup things that are obviously broken and the intention is unambiguous ***at compile time***, but even that should be avoided,
  * As it happens, this particular "fixup" is

[2017-04-13 05:13] brawer commented on #921
A while a go I’ve added support for multilingual names to OpenType.js, exposing BCP47 language codes in the API. I didn’t bother with `name` format 1 (since nobody seems to implement this), but I did support `ltag`. https://github.com/nodebox/opentype.js/blob/master/src/tables/name.js

[2017-04-13 05:18] justvanrossum commented on #922
What do you mean exactly? Does this output not make sense?
[code]

[2017-04-13 06:43] LettError commented on #916
To be honest, I find this the requirement the weakest part of the specification. Looking at https://github.com/googlei18n/fontmake/issues/167, @brawer summarizes: ` For example, Light must be at wght=300, Regular at wght=400, Black at wght=900.` — this is going to be _very_ difficult to enforce.

* Whether or not a typeface can map to these numbers this _depends on its design_. In order for the fo

[2017-04-13 06:44] shwetamar85 commented on #922
These values are used to search the first and last glyph in the font file . Since these are not Unicode values we are not able to identity the glyph associated with it.

[2017-04-13 06:50] moyogo commented on #922
32 is U+0020 and 8722 is U+2212. How are these not Unicode values?

[2017-04-13 06:53] moyogo commented on #922
One can get the glyph associated with these in the cmap:
[code]

[2017-04-13 08:19] miguelsousa commented on #922
No, they're for the first and last **character** in the font file. If you want the first and last glyph use the glyph order. Also, if the font supports characters outside the BMP, `usLastCharIndex` will always be U+FFFF.

[2017-04-13 08:39] #922 closed

[2017-04-13 15:35] PeterCon commented on #916
I'm not following the details of the discussion too closely, but will add a comment in case it helps.

The OT spec aims for interoperability of axis values _to the best extent possible_. Because the 'wght' axis is defined in a somewhat vague way, the best level of interoperability is that there's a fairly good chance a family will have a member with wght = 400, a better chance that it will have (s

[2017-04-13 17:08] miguelsousa commented on #916
Why is this remapping of the Weight (and Width) axis even necessary? Don't named instances have OS/2 values associated with them? If they don't, they should. Then any kind of interoperability between fonts will be just as before.

What if the v-font does not have named instances? Then the remapping is required if and only if the font maker wants to support any kind of interoperability. If he/she d

[2017-04-13 17:55] miguelsousa commented on #916
Also, similar to what Erik wrote above, hijacking the mapping functionality to do OS/2-fitting precludes it from being used for making axis adjustments that the design may need.

[2017-04-13 20:10] behdad commented on #916
No they don't.

Sorry Miguel, too late.  You were in the working group that decided these things and you didn't speak then.

All I'm doing now is implementing what the spec says.  And even then, I'm not hardcoding any of that in code.  If you don't like your weights matching the spec, fine, don't put those numbers in your .designspace file.  I don't understand what you don't like about what I impl

[2017-04-13 20:13] behdad commented on #916
@LettError while some of your arguments are valid, I don't see how they relate to the patches I pushed into fonttools.  All I did was to implement desginspace's map element and distil those into avar table.  There's no hardcoded weight mapping whatsoever.  That's up to designers, they choose what to put into their designspace file.  How is this not what you want?

It's ok to disagree how different

[2017-04-13 20:35] twardoch commented on #916
The reasoning behind choosing a “universal” scale for `wght` was because it’s an extremely common axis, and **users** will expect somewhat predictable results when switching fonts or using font fallback. If a user mixes different fonts, especially for different scripts, they should have some expectancy as to what a `wght` value of 800 or 250 will produce.

Also, it had to do with how the integrati

[2017-04-13 20:40] twardoch commented on #916
In my view, all fonts should try to adhere to the recommendation that the `wght` axis is scaled so that, in user coordinates, the “Light” should be at 300, the “Regular” at 400 and the “Bold” at 700. Let’s agree that the `wght` axis is not “weight” but “universal weight expressed in a common scale”. But this doesn’t have to be the only weight-related axis that ships with the font. The font can als

[2017-04-13 20:57] LettError commented on #916
@twardoch As @PeterCon writes "The OT spec aims for interoperability of axis values _to the best extent possible._". I think that reads a MAY, not a MUST. It should not imply that all fonts are required to have the light at 300, the regular at 400 and the bold at 700. The problem is that weight grows in a curve, even in a linear interpolation between 2 masters. So, depending on the design you may

[2017-04-13 20:58] behdad commented on #916
It's the designer's intent that matters.  That's no different for static fonts.

A mapping can fix that.

Indeed, why a mapping is needed.

I disagree.  avar is exactly right to map a linear font weight numbering scheme to the correct interpolation coefficients.

To allow for arbitrary non-linear progressions of weight growth, one needs an avar table.

By "this requirement" I assume you mean the 1

[2017-04-13 20:58] twardoch commented on #916
However, the "9 steps mapping" is **not** a hard requirement. I think it would be good if type designers aimed at their “Regular” to be at `wght` = 400, but the stuff that is lower or higher can be just a linear transposition of your design weight scale (say 25 to 320) to the user scale (1 to 1000 or 100 to 900 or whatever you pick). So on your design scale, if you choose Regular to be 65, and the

[2017-04-13 21:00] behdad commented on #916
Designer can put that in designspace, with no map element.  Or can put map elements.  I don't get it. How is the code in fonttools wrong, and how can it be different?  I don't dictate what designer puts in their designspace file.

[2017-04-13 21:04] behdad commented on #916
I suggest you study the code.  The "OS/2-fitting" is in your head, and designer's head.  It's not in the code.

Also, what is being precluded again?  You are completely misunderstanding what the code does.

[2017-04-13 21:05] twardoch commented on #916
@behdad There are three sets of scales/coordinates involved, not two:

* design scale (which exists **only** in sources, like UFO or Glyphs)
* user scale (which might correspond to the design scale, but for `wght` and the other registered axes it has some additional requirements)
* normalized scale (inside the var font, always `-1, 0, 1`)

The `avar` table bends the user scale to the normalized sc

[2017-04-13 21:07] twardoch commented on #916
So in principle, bending can happen at compile time, at runtime, and both :)

[2017-04-13 21:09] miguelsousa commented on #916
I wasn't. But even if I had been I don't think that I would have foreseen all the implications of the various decisions. And why is it too late? Aren't we all still sorting out the kinks in the spec as we implement it? I'm not the only one that thinks this part isn't quite right, so let's work towards a better solution, otherwise this will remain the Achilles heel of the variations spec.

What you

[2017-04-13 21:12] davelab6 commented on #916
I remain skeptical that the working group involved enough people to decide such things correctly ahead of time.

Honestly I am quite shocked to hear "Sorry, too late" when MS folks have been (and I believe will continue to) actively revising the 1.8 spec to accommodate issues that are discovered by both system implementors and by font developers.

[2017-04-13 21:20] twardoch commented on #916
Actually, I was a bit wrong. You don't bend twice.

The thing is that the designspace map actually can have a number of entries, so there will be an avar.

But there should be a way to also "normalize" the linear scale (design min-reg-max to user min-reg-max), using a simple formula that I've given. That normakuzation is just multiplication and addition applied to all coordinates the same way, per

[2017-04-13 21:22] behdad commented on #916
You're one step ahead of everyone else :). Both design scale and normalized scale are linear, so they match topologically.  Indeed, designspace file map elements map user-scale to design-scale.  I losslessly map design-scale to normalized-scale and encode the combined result as avar table.

[2017-04-13 21:26] behdad commented on #916
Bulk of the work happened in all-day in-person meetings.  I'm supportive of making the meeting notes public.  @PeterCon can consider that.  I'm also supportive of making initial proposals and documents public.  I know I like to publish my design papers for ItemVariationStore since it includes a lot of design rationale.

All I'm saying is that this issue is not the right forum to discuss whether sp

[2017-04-13 21:28] behdad commented on #916
Really, that's exactly what my code does...

[2017-04-13 21:31] twardoch commented on #916
For wght, the design weight min, default, max should be transposed so that default becomes 400, min is > 1 and max is <= 1000.  That's a simple linear transposition that does not bend. All design wght coordinates for intermediate masters, instances etc. are all transposed the same way.

Also the map "in"  values get transposed linearly. The transposed coords go into fvar, the map bending then goes

[2017-04-13 22:32] davelab6 commented on #916
I can think of a bunch of people - say, Belleve, Lasse, Peter Sikking, Marc Foley, Girish Dalvi - who are keenly interested to follow along.

I'll stop raising this topic here, I acknowledge this issue page isn't the right forum - but there is no right forum IMO, and I feel rather stropy about it :)

[2017-04-13 22:43] behdad commented on #916
You have to draw the line somewhere.  First: this collaboration would have been impossible without regular day-long face-to-face meetings.  There's no way we could have resolved things in looooooooooong email threads.  When you take that into consideration, then there's a limit to how many people you can get into the same room and design things efficiently.  We somehow managed to not bikeshed a lo

[2017-04-13 22:46] miguelsousa commented on #916
@behdad can you explain why this particular font —Noto Sans Cherokee— needs weight mappings? Hopefully that will help me understand what I'm allegedly not grasping.

[2017-04-13 22:47] behdad commented on #921
@brawer can you work on this?  Initially maybe just map to Windows-platform language codes?

[2017-04-13 22:49] behdad commented on #916
Can we close this now?

[2017-04-13 22:49] behdad commented on #923
Peter Constable agreed zero entries is fine for a identity map.  He'll adjust the spec.

[2017-04-13 22:50] #920 closed

[2017-04-13 22:51] #923 closed

[2017-04-13 23:04] behdad commented on #916
Because the font source uses stem width for weight access internally, while Google wants to generate fonts that comply with OT 1.8 standard and use 100,200... numbers for weight axis.

There's nothing specific about Noto Sans Cherokee.  All Noto fonts are affected.  What happened is that Sascha changed glyphsLib to generate <map> elements for weight and width axes to map from OpenType numbers.  va

[2017-04-14 01:00] PeterCon commented on #916
Some comments on the OT 1.8 spec development process as it pertains to 'wght':

Collectively, we wanted to be practical, and as most of us were dealing with runtime implementations, our primary focus was on what things happen currently in actual practice --- meaning, shipping, static fonts intersecting with platforms and applications. Hence, fonts that ship with OS/2.usWeightClass values that are

[2017-04-14 03:22] behdad opened #924 "[varLib] Improve non-aligned masters resolution"
As discussed with @LettError in Berlin.  Ie. http://letterror.com/dev/mutmath_varmod/ and his talk.

[2017-04-14 06:05] miguelsousa commented on #916
@behdad the glyphsLib change is not the problem. The problem is the spec's requirement to use 100,200... numbers for weight axis.

@PeterCon thanks for the insight. Glad to learn that this issue is on the working group's radar.

Yes from me.

[2017-04-14 07:46] brawer commented on #916
Ok, let's close it.

[2017-04-14 07:46] #916 closed

[2017-04-14 17:24] behdad commented on #917
There's also a TODO item in `varLib.builder:buildVarIdxMap` that reads:

[code]

This is kind of a personal grief for me.  In my original design of ItemVariationStore, I made var indices be a uint32. Other people forced the design into separate outer/inner, whereas to me, that's internal implementation detail of the store and has no significance to the users of the store.

In particular, if we cha

[2017-04-14 17:29] behdad commented on #917
Ugh. github ate my comment. Typing again: personally I wanted the varstore API to be taking a uint32. Other people forced the outer/inner on it.  The separation is internal implementation detail of the store and holds no significance or semantic value outside of the store whatsoever.  Note that there's also a comment in `varLib.builder:buildVarIdxMap` about the same issue in that structure.

I per

[2017-04-14 17:30] behdad commented on #917
Hah, it had not eaten it after all...

[2017-04-14 17:39] anthrotype commented on #917
Thanks for the explanation. No, I actually don't mind to leave it like that.

[2017-04-14 17:39] #917 closed

[2017-04-14 21:44] behdad commented on #902
Relax ots I'd say.

Maybe sometimes it should.  I don't want it to happen in subetter though.  Maybe same as other recalc stuff?  Also, it will force expansion of all glyf entries which is costly.  We can implement a fastpath that doesn't expand.  I did that for some other stuff in the subsetter.

[2017-04-15 06:07] moyogo commented on #917
Would it make sense to have those in hex?

On Fri, 14 Apr 2017, 19:39 Cosimo Lupo, <notifications@github.com> wrote:

[2017-04-15 21:04] typoman opened #925 "CFF glyphs horizontal metrics"
Hi all,

This is more of a question than a issue. Given that horizontal metrics are stored in 'hmtx' table in a TTF font, when a font contains postscript outlines and a 'CFF' table, modifying the 'hmtx' table does not change the width of the CFF glyphs and saving the font back using the fonttools does not change the postscript glyphs width and still some engines like CoreText read the width from '

[2017-04-16 00:48] miguelsousa commented on #925
The advance width of CFF glyphs is stored in the CFF table. To get the glyph's advance width you need to look at its charstring and also factor in the `defaultWidthX` and `nominalWidthX` values.
Here's the relevant snippet from the [Adobe Tech Note #5177](https://en.wikipedia.org/w/index.php?title=PostScript_fonts#Font_format_specifications):

FontTools takes care of all of this logic (as well as

[2017-04-16 20:30] typoman commented on #925
The code you pointed was extracting the width but the Adobe Note helped me to understand the how the width is calculated in CFF. I was able to change the width by setting the value of the first item in the CharStrings program to the intended value minus the nominalWidthX.

Thank you Miguel

[2017-04-16 22:12] behdad commented on #925
Note that as of OpenType 1.7, the hmtx has priority over CFF table advance widths.

[2017-04-16 22:12] #925 closed

[2017-04-17 23:35] behdad commented on #917
I thought about it.  But for them to be useful, one needs to convert individual components to integer to look up the data in VarStore.  And don't think anyone will do that often.

[2017-04-18 17:21] brawer opened #927 "[varLib] Non-deterministic test failures with Python 3"
On Python 3, varLib occasionally fails tests. Perhaps varLib iterates over unsorted dictionary keys, which gives non-deterministic ordering in Py3?

[code]

[2017-04-18 18:26] #921 closed

[2017-04-18 22:30] behdad opened #929 "I hate easy-install.pth"
I just spent half hour debugging why setting PYTHONPATH doesn't work.  I tracked it down to this stupid file /usr/local/lib/python2.7/dist-packages/easy-install.pth:

[code]

So, just making sure: we're not using this easy-install thing for any package anymore, right?  Thanks.

[2017-04-18 22:58] #927 closed

[2017-04-19 07:08] anthrotype commented on #929
Not, unless you use pip to install -e (editable), which will internally use setuptools "setup.py develop" command and add an entry to the easy_install.pth.
You are free to not use that if you want.
Those .egg paths are the result of installing via "setup.py install", which is now deprecated. Use `pip install .` instead to install from local source (this will not use setuptools' easy_install, but i

[2017-04-19 17:35] behdad commented on #929
Thanks.  Sounds to me like setup.py install is actively harmful...

[2017-04-19 17:35] #929 closed

[2017-04-19 17:55] behdad opened #930 "Improve BCP-47 matching in name table"
Currently name table thinks "fa-IR" cannot be encoded in Windows names, because the table only has a "fa" entry.  How should this be resolved?  Keep dropping last item in the langcode while there's no match?

[2017-04-19 18:06] behdad opened #931 "name.addMultilingualName() issues"
Multiple issues:
- When storing name with Mac platform, we should check whether the name is representable in the encoding chosen by macScript.  I personally like to forgo the Mac platform names completely.

- When encoding using ltag: ltag table spec says encode name under "Unicode platform".  Unicode platform is number 0, but code seems to use platform 2 (deprecated "ISO"):
[code]
For encoding ID

[2017-04-19 18:55] behdad opened #932 "fvar: expose flags in XML"
Right now fvar table implementation does not expose flags in XML:
[code]

But I think we should, such that when flags *are* defined, it's easy to change them, as well as to expose all data that is in the font.  Plus, we are discussing about defining use of those flags right now.

[2017-04-20 05:57] brawer commented on #930
Unicode defines an algorithm to minimize BCP47 language identifiers, with supporting data in CLDR. For example, this will transform all of `fa-IR`, `fa-Arab` and `fa-Arab-IR` to `fa`. The algorithm preserves some subtags; for example, `fa-Arab-AF` gets mapped to `fa-AF` because Iran (and not Afghanistan) is assumed to be the default region for the Farsi language.

ICU has implemented this algorith

[2017-04-20 06:24] behdad commented on #930
I agree a fontTools.bcp47 would be nice.

[2017-04-21 05:14] #931 closed

[2017-04-21 05:19] behdad commented on #931
Thanks Sascha!

[2017-04-25 15:11] jenskutilek opened #936 "gvar: controlBytes interpretation"
I have built a variable font which looks correct to me (with one small doubt, see below), on which ttx decompilation fails.

I’m wondering if there may be a mistake in [TupleVariation.compileDeltaValues()](https://github.com/fonttools/fonttools/blob/master/Lib/fontTools/ttLib/tables/TupleVariation.py#L305). In my font, an encoded glyphVariationData table looks like this:

[code]

Note that the las

[2017-04-25 15:41] anthrotype commented on #936
Hi Jens, thanks for the bug report and for attaching the font.
How did you generate it, with fontmake (varLib) or another tool?

[2017-04-25 15:58] jenskutilek commented on #936
I generated it with a fontTools script which adds tracking as opsz axis, based on the snippet [interpolate.py](https://github.com/fonttools/fonttools/blob/master/Snippets/interpolate.py):

[add_axis.zip](https://github.com/fonttools/fonttools/files/955651/add_axis.zip)

[2017-04-25 16:00] jenskutilek commented on #936
Here’s a gist of the script: https://gist.github.com/jenskutilek/cb2777860eceb8907949561361457315

[2017-04-25 16:08] anthrotype commented on #936
hm. Maybe you could try using fontmake with a .glyphs file, or some master UFOs + .designspace, or `fonttools varLib ...` with some master TTFs and a .designspace file, and see whether that works?

[2017-04-25 16:34] jenskutilek commented on #936
I think the generated `gvar` is faulty. It should read:

[code]

(variationDataSize was off by one, and the last control byte is adjusted)

Not sure where this happens yet ...

[2017-04-25 16:36] jenskutilek commented on #936
After the font is corrected manually (in a hex editor), roundtripping through ttx works. So the error is not in the XML path ... will investigate further.

[VarFont.ttx.zip](https://github.com/fonttools/fonttools/files/955795/VarFont.ttx.zip)

[2017-04-25 17:01] jenskutilek commented on #936
OK, I think I found it: When modifying a point coordinate, you must supply both x and y deltas, even if y is 0:

[code]

instead of

[code]

This could probably be prevented [here](https://github.com/fonttools/fonttools/blob/master/Lib/fontTools/ttLib/tables/TupleVariation.py#L298), or would it interfere with cvt deltas?

[2017-04-25 17:15] jenskutilek commented on #936
Sorry about keeping talking to myself ... the weird thing is the 0x00 byte in the original faulty table, is that some kind of padding?

[2017-04-25 17:23] anthrotype commented on #936
but do you really need to go down to building a gvar table with an ad-hoc script? I would recommend to first try some interpolatable TTFs + a .designspace fiel that describes their relations, and give them to varLib and see if the compiled font matches your expectations.

[2017-04-25 18:20] jenskutilek commented on #936
Some of my reasoning can be seen on this [TypeDrawers thread](http://typedrawers.com/discussion/2109/otvar-changing-tracking-hvar), I initially used two differently tracked TTFs, but varLib doesn’t optimize the deltas in that case: It stores a delta for every point in every glyph, when one delta per contour and one for the RSB point would be sufficient.

[2017-04-27 08:49] #936 closed

[2017-04-27 16:23] jenskutilek opened #937 "gvar: Optimization of delta storage"
I have started a branch to modify varLib so that deltas are stored in the most compact way: [varlib-delta-opt](https://github.com/fonttools/fonttools/compare/master...jenskutilek:varlib-delta-opt).

Redundant deltas are omitted (they are stored as None in the delta list). In many cases the ‘optimized’ version is larger than listing all point deltas verbatim, because it makes it necessary to store

[2017-04-27 16:44] robmck-ms commented on #937
I've often wondered how much the real-world savings be if explicit deltas were thrown out when they are within some small epsilon of implicit deltas. E.g. if you can do IUP and end up with a point that's 1-2 font units away from where it would be with an explicit delta, you could get rid of that delta. An interesting question is: What epsilon would reliably give a savings that offsets the overhead

[2017-04-27 23:28] behdad opened #938 "Fire!"
This was brought to my attention:

  https://github.com/google/python-fire/blob/master/doc/guide.md

I'd love to see us use some of that to make a lot more functionality of fontTools available to commandline without much effort.  I also understand that this is a hack, so don't want to go overboard!

[2017-04-27 23:34] behdad opened #939 "[varLib.merger]"
In `_ClassDef_invert()`, if allGlyphs is specified, then we should intersect all produced classes with allGlyphs.  This would fix kern merging when a PairPosFormat2 has ClassDef1 with glyphs that are NOT present in the Coverage.

[2017-04-27 23:44] #939 closed

[2017-04-27 23:49] miguelsousa commented on #914
@behdad do you think 1b5e1c4b062acf3d6ece6b6d81737f6685613773 will fix this issue?

[2017-04-27 23:51] behdad commented on #914
I don't know.  That wasn't motivated by this bug.  I plan to debug this soon.

[2017-04-28 07:43] anthrotype commented on #938
Yeah, `fire` is nice, and I like how it simplifies writing CLI. With argparse I have to go through the documentation every time I write even a simple main() with a few options (or copy/paste from other scripts when I feel lazy...).

However, I don't think fire is a viable option for fonttools right now, because of its hard dependency on IPython, which in turn drags in a huge list of dependencies..

[2017-04-28 15:53] anthrotype commented on #403
Things have improved with https://github.com/fonttools/fonttools/pull/940.

I was rereading the path operators chapter in the [Type2 spec](http://wwwimages.adobe.com/content/dam/Adobe/en/devnet/font/pdfs/5177.Type2.pdf
), and noticed that it's not just the `rcurveline` and `rlinecurve` operators that combine multiple segments, as Miguel noted, but also all the `*lineto` and `*curveto` ones can tak

[2017-04-28 22:58] pothos commented on #388
(here it's standalone and can be used as a module, but as I said, unpythonic and slow) https://github.com/pothos/brotlipython

[2017-04-29 06:16] behdad commented on #403
FWIW here's what AFDKO does:
https://github.com/khaledhosny/psautohint/blob/0e920ed195569eeae4b562893afa6c2d75a55d74/python/BezTools.py#L391

I'll comment extensively later.

[2017-04-29 07:30] behdad commented on #938
Sure.  Indeed I just wanted to share it for now so we can experiment with it.

[2017-04-29 07:30] #701 closed

[2017-04-29 11:14] miguelsousa commented on #403
I've hooked up **psOperatorSpecializer.py** to the latest version of `t2CharStringPen` by doing this,
[code]
and the only difference I saw was that the new charstrings use `rcurveline`.
The specializer does not implement `rlinecurve` and does not merge operators that can be combined.
So I think that at this point we're better off enhancing `t2CharStringPen` further.

[2017-04-30 15:08] adrientetar commented on #453
For the record, I got feature file code coming from FontForge which I reduced to this:

[code]

The \@cedilla isn't registered as mark class by feaLib because it will skip uni0327 the second time it comes in; this is consistent with the spec, as it's all contained in a single lookup.

[2017-05-01 14:23] brawer commented on #930
Here’s two independent Python implementations. They both seem a bit heavy to me, but I’m putting the links here for reference.

* https://github.com/OnroerendErfgoed/language-tags
* https://github.com/LuminosoInsight/langcodes/

[2017-05-01 16:51] #932 closed

[2017-05-03 13:34] smeikx opened #944 "Inconsistent Representation of Version Numbers in XML"
Sometimes version numbers are written as hex, sometimes they aren’t.
[code]
Wouldn’t it be nice to consistently do it the same way?

[2017-05-03 14:31] jenskutilek opened #945 "varLib.mutator: glyph processing order"
https://github.com/fonttools/fonttools/blob/master/Lib/fontTools/varLib/mutator.py#L42

`for glyphname,variations in gvar.variations.items():`

If a composite glyph is processed before its base glyph, the composite glyph bounds may be calculated incorrectly because the deltas haven’t been applied to the base glyph yet.

Nested composites could complicate this further ...

[2017-05-03 14:46] schriftgestalt opened #946 "[feaLib] report position in code for error"
When the few code contains a problem, feaLib should give an error message with line number where to find the offending code. Now it only gives a backtrace.

[2017-05-03 14:50] anthrotype commented on #946
well, the feaLib parser and builder do raise a custom `FeatureLibError` which should always carry with it the location (filename, line number, column) where it is raised.
If you are seeing a traceback without the location then it looks like a bug or an oversight.
What is the actual error, or the data that triggers it?

[2017-05-03 14:56] schriftgestalt commented on #946
I got this:
'''
Traceback (most recent call last):
  File "/usr/local/bin/fonttools", line 9, in <module>
    load_entry_point('fonttools==3.9.2.dev0', 'console_scripts', 'fonttools')()
  File "/Users/georg/Programmierung/Stuff/fonttools-Main/Lib/fontTools/__main__.py", line 29, in main
    runpy.run_module(mod, run_name='__main__')
  File "/System/Library/Frameworks/Python.framework/Versions/2.7/

[2017-05-03 15:13] anthrotype commented on #946
I see. In this case the `aalt` feature is being generated based on substitutions defined in other lookups, so it's not already in the features.fea and as such there's no line number to reference (yet).
I agree that the error message could be improved. Here we could intercept the KeyError and reraise a FeatureLibError saying that aalt feature failed to be generated because the font is missing u'fou

[2017-05-03 15:40] schriftgestalt commented on #946
Or generate the aalt feature at the end and hope that the other lookups raise the proper error?

[2017-05-03 21:09] behdad commented on #936
So, no bug here?

[2017-05-03 21:30] behdad commented on #403
I think we want to revert https://github.com/fonttools/fonttools/pull/940 and go with a separate specializer than the pen calls in the end, like Miguel did in the previous comments.  Main reason for this is such that we can optimize existing programs as well.

I have a design of a specializer (and a "de"specializer to go with it) which avoids the if-tree hell.  I like to give that a try.  The more

[2017-05-03 21:30] behdad commented on #403
Oh, and let's make cffLib a proper module directory and move all PS-related code from misc/ under cffLib and introduce more submodules...

[2017-05-03 21:32] anthrotype commented on #403
sgtm

[2017-05-03 22:03] behdad commented on #403
Another reason why we need a separate one is, to generate CFF2 varfonts, we want the specializer to take multiple master charstrings and specialize them all together (perhaps even produce blend operators at the same time), the same way that cu2qu converts multiple curves.

[2017-05-04 01:03] miguelsousa commented on #403
SGTM too. I'll start working on the test cases.

[2017-05-04 09:52] jenskutilek commented on #936
Nope, user error ...

[2017-05-04 10:26] liudanking opened #949 "font NotoColorEmoji.ttf getGlyphSet failed: Font contains no outlines"
I try to drew emoji image using fonttools.
The font I am using is [NotoColorEmoji.ttf](https://github.com/googlei18n/noto-emoji/blob/master/fonts/NotoColorEmoji.ttf) by Google.
The font can be loaded, but when I try to get getGlyphSet, it failed:

[code]

[code]

Is there anything I missed?

[2017-05-04 10:29] anthrotype commented on #949
Currently, only fonts with TrueType `glyf` table, or with `CFF` table are supported by the TTFont.getGlyphSet() method. NotoColorEmoji is a CBDT/CBLC color font so has no glyf table.
Sorry.

[2017-05-04 10:35] liudanking commented on #949
@anthrotype
Thanks for you quick reply.

Do you have any recommended python package to parse CBDT/CBLC color font?

[2017-05-04 10:39] anthrotype commented on #949
don't get me wrong. FontTools does support decompiling and compiling CBDT/CBLC color fonts, as well as dumping them as TTX. Have a look at the the `ttx -h` help, specifically the `-z` option, it allows you to optionally store the bitmaps as external files with XML references.

it's the TTFont.getGlyphSet() method that does not support color fonts, but only traditional opentype fonts.

[2017-05-04 10:48] #945 closed

[2017-05-04 12:03] jenskutilek commented on #937
Partly implemented when #943 is merged; the one-delta-per-contour optimization is implemented, but not the omission of redundant interpolatable deltas.

[2017-05-04 16:20] liudanking commented on #949
`ttx -z extfile NotoColorEmoji.ttf.ttf` works like a charm.

[2017-05-04 16:35] anthrotype commented on #949
glad to hear that :)

[2017-05-04 16:35] #949 closed

[2017-05-04 21:18] punchcutter opened #950 "[varLib] interpolate_layout interpolated instances do not match masters"
I'm seeing two problems when running fontmake with `--interpolate-binary-layout`. This seems like a simple thing to adjust in interpolate_layout.py, but I might be missing some other reason for the way it's being done.

The first problem is that the instance OTF/TTFs are different from the master OTF/TTFs. The masters are created first of course because they are used in the interpolation, but when

[2017-05-05 16:19] liudanking opened #951 "try to draw emoji image with windows seguiemj.ttf font failed"
I am trying to extract high resolution windows color emoji image from [seguiemj.ttf ](https://github.com/BeardDesign1/Material-design-theme-ressources/blob/master/seguiemj.ttf).

What I have already know:
* the font stores emoji in svg format (layered vector drawings in COLR/CPAL)
* the font also has a `glyph` table

My roadmap:
`use fonttools load seguiemj.ttf --> use fonttools draw high resoluti

[2017-05-05 16:23] jenskutilek opened #952 "Constructing a STAT table"
Are there any examples for building a complete STAT table? I’m trying to compile one from a manually written TTX source, but I can’t seem to get the attribute names right.

[code]

I get a traceback:

[code]

[2017-05-05 16:24] anthrotype commented on #951
I would start from reading the spec here:
https://www.microsoft.com/typography/otspec/colr.htm
https://www.microsoft.com/typography/otspec/cpal.htm

Also see this freetype issue tracking the development of CORL/CPAL support in FreeType:
http://savannah.nongnu.org/bugs/?44689

[2017-05-05 16:26] anthrotype commented on #951
also have a look at this:
https://github.com/mozilla/emojione-colr

[2017-05-05 16:34] PeterCon commented on #951
Besides the fact that the Segoe UI Emoji font does not use SVG (the COLR table references glyph IDs that are assumed to refer to glyphs in a glyf, CFF or CFF2 table)...

I have a suspicion that what you are trying to do may be in violation of the license agreement associated with that font.

[2017-05-05 16:38] liudanking commented on #951
It is nice to see you again 😄  @anthrotype
If I understand resources you provided correctly, it means I need to use COLR/CPAL table with glyph info to draw the emoji, which is really a hard work for me. Is there any functions that I can use to achieve this?

[2017-05-05 16:41] anthrotype commented on #951
sorry, I'm no expert on color fonts I'm afraid. Maybe @RoelN would know more about the current state-of-the-art for making COLR/CPAL fonts.

[2017-05-05 16:44] liudanking commented on #951
@PeterCon Yep, you are right, it means COLR/CPAL table.
And for you curiosity, I am an emoji fan, I like collecting all kinds of versions of emoji resources.

[2017-05-05 16:44] anthrotype commented on #951
@PeterCon sorry, I didn't realise he was talking about Segoe UI.. 😊

[2017-05-05 16:44] #951 closed

[2017-05-05 16:47] liudanking commented on #951
So Segoe UI is not allowed to be discussed here?

[2017-05-05 17:31] robmck-ms commented on #952
Selawik has a STAT table that you can dump for an example. It's only one axis, though. (https://github.com/unicode-org/text-rendering-tests/blob/master/fonts/Selawik-variable.ttf).

Though not related to your error, I notice that you've got two Axis records with index="1" (wght, opsz).

Side question for @behdad and @brawer: Why do Axis records require an index parameter? Most other places in font

[2017-05-05 17:35] tshinnic commented on #737
Not meaning to "pile on" and this might just confuse things more, but...

TL;DR - F2DOT14 results do not 'match' three OTF spec'd example values.

I was reviewing the specs and getting confused by this code and the various issues (past and present) here, and then realized that `Tests/misc/fixedTools_test.py` does not include the [examples from the spec](https://www.microsoft.com/typography/otspec/

[2017-05-05 17:43] robmck-ms commented on #952
Here's a STAT table from a test font I'm working on. Note that I use numerics for Flags. I don't think there's support for enums like "ElidableAxisValueName", though that would be handy.

[code]

[2017-05-05 19:53] behdad commented on #951
It's easy to do what you want, but you should access COLR and CPAL tables, then use the getGlyphSet() to render each layer with the correct color.

[2017-05-05 19:53] behdad commented on #951
I don't think this is against the license of the font, if all you are doing is rendering the font.

[2017-05-05 23:05] behdad commented on #403
My work is here: https://github.com/fonttools/fonttools/pull/948

[2017-05-05 23:54] twardoch commented on #951
I shall add that in case of Segoe UI Emoji (esp. the Windows 10 CU version), “extracting” a set the emoji glyph images is not a sensible way to perform the rendering, because that font doesn't really have a static set of emoji images.

The Microsoft Segoe UI Emoji font includes incredibly sophisticated contextual substitution tables which dynamically compose Unicode emoji character sequences into

[2017-05-06 00:23] davelab6 opened #953 "[subset] Add convenience arg for subtracting characters"
Today I was given a font, and text file that has a list of unwanted unicode numbers, with ranges.

I can obtain a list of unicodes in the font from the cmap table.

So I've unspooled the ranges and subtract that list from the total list.

But it would be convenient if pyftsubset did something like

    pyftsubset Family-Regular.ttf --no-unicodes=25-27;

to just strip those 3 characters (and any ba

[2017-05-06 03:23] behdad commented on #403
Ok I'm done.  Please review https://github.com/fonttools/fonttools/pull/948

[2017-05-06 04:31] MitchTalmadge commented on #390
@anthrotype Can you verify that writing to `stderr` is the correct behavior when printing out dumping progress? I am working on a javascript/Electron application that uses fonttools through a `child_process` instance (by invoking the python command). I expected the info logs to appear on stdout and errors to appear on stderr, but they all appear on stderr, making it difficult (impossible?) to dete

[2017-05-06 14:45] liudanking commented on #951
@behdad I have read doc of fonttools carefully, but I did not figure out how to access COLR and CPAL tables.
It seems that function `getGlyphSet`  only takes `glyf` or `CCF` table.
Can you show me an example?

[2017-05-06 23:36] miguelsousa commented on #951
[code]

[2017-05-06 23:55] #403 closed

[2017-05-07 03:52] liudanking commented on #951
May I ask how to use `cpal_table ` with `glyph_set`?

[2017-05-07 06:07] behdad commented on #390
I also expect log messages to go to stdout and not stderr, unless they are warning or error.

[2017-05-07 06:54] behdad commented on #812
I made pens.t2CharStringPen take a CFF2 argument.  The differences between T2 and CFF2 are much smaller than you think... Basically it comes down to not appending endchar, and not prepending glyph width.  I also included the different stack sizes.

[2017-05-07 06:54] #812 closed

[2017-05-07 06:55] behdad commented on #944
Would be nice indeed.

[2017-05-07 07:22] behdad commented on #952
The index is printed FYI only.  FontTools does that whenever an array is converted to XML.

That would be convenient, but would require handcoding the table, which I'd rather we do not do...  This table is hard to follow already....

[2017-05-07 07:26] behdad opened #954 "fonttools cmdline does not run doctests of modules called"
I know I'm the only one using the fonttools cmdline tool...  Just filing for reference.

`./fonttools misc.arrayTools` and similar commands, do not seem to run the doctests.  Not sure why.

[2017-05-07 18:33] behdad opened #955 "cffLib cleanups re CFF2"
A few things that come to my mind while having a quick look at the CFF2 code:

In psCharString:
- I'm not convinced that we should separate CFF2CharString from T2CharString, and likewise about decompiler and outline extractors.  The duplication of classes makes it harder to convert between the two, whereas in reality a shared class can do.  We can decide where we want to enforce the distinction, i

[2017-05-07 18:34] behdad commented on #955
Oh, and while at it, would be great if you can make smaller commits that cleanup / refactor small chunks of code, as opposed to one big change.

[2017-05-07 18:35] behdad opened #956 "t2CharStringPen takes width"
This is confusing because the width argument is not the glyph width.  It's width-nominalWidth...  We may as well let caller just prepend the program with the width if they want to...  Anyway, just filing to gather thoughts.

[2017-05-08 03:39] miguelsousa commented on #955
[C_F_F__2.py](https://github.com/fonttools/fonttools/blob/master/Lib/fontTools/ttLib/tables/C_F_F__2.py) can be greatly simplified if it subclasses [`table_C_F_F_ `](https://github.com/fonttools/fonttools/blob/master/Lib/fontTools/ttLib/tables/C_F_F_.py#L7), can't it?

[2017-05-08 03:43] behdad commented on #955
Sure, that too.  I wasn't even looking at that...

[2017-05-08 05:53] miguelsousa opened #957 "Move fontTools.misc.ps* to cffLib"
I'll take care of moving psCharStrings.py psLib.py psOperators.py to cffLib after #955 is done.

[2017-05-08 06:03] justvanrossum commented on #957
Make sure to add `from fontTools.cffLib.psCharStrings import *` versions of them at the old location.

[2017-05-08 06:09] miguelsousa commented on #957
Will do.

[2017-05-08 07:00] mashabow opened #958 "CFF bounds recalculation"
CFF bounds recalculation hasn't been implemented yet; see [_h_h_e_a.py#L83](https://github.com/fonttools/fonttools/blob/30b804003e700677e72522b78334c3a6e89dc82f/Lib/fontTools/ttLib/tables/_h_h_e_a.py#L83), [_v_h_e_a.py#L82](https://github.com/fonttools/fonttools/blob/30b804003e700677e72522b78334c3a6e89dc82f/Lib/fontTools/ttLib/tables/_v_h_e_a.py#L82), and ~~[_m_a_x_p.py#L47](https://github.com/fon

[2017-05-08 08:14] smeikx commented on #944
What do you prefer? "1.0" or "0x00010000"?

[2017-05-08 08:20] jenskutilek commented on #951
My RoboChrome plugin (for the RoboFont editor) contains code to read CPAL/COLR data from a font, maybe this code snippet can help you: https://github.com/jenskutilek/RoboChrome/blob/master/RoboChrome.roboFontExt/lib/colorfont/__init__.py#L198

[2017-05-08 08:21] behdad commented on #944
The hex. We started switching because the float was confusing..

[2017-05-08 08:52] smeikx commented on #944
Would this apply to `head.fontRevision`, too? The value `2.003` would produce `2.00299` in the current implementation and as hex: `0x000200C4`.

[2017-05-08 10:00] liudanking commented on #951
Code from RoboChrome plugin helps a lot.
I know how to get color data and cpal data from tables now.
But I still can't figure out how to draw the color with reportlab pen  😂

[2017-05-08 10:24] jenskutilek commented on #952
Thank you @robmck-ms, looking at the Selawik STAT table was helpful.

[2017-05-08 10:26] anthrotype commented on #952
let's keep this open until this is done:
https://github.com/LettError/designSpaceDocument/issues/8

[2017-05-08 12:08] typoman opened #960 "TTFont save performance"
Hi all,

I'm trying to open a 'otf' binary and change its tables once at a time and I don't want to save it on disk I want to access it on memory. For example I want to change a glyph program in the 'CFF ' table then get the whole binary back. While saving the font is pretty fast it's not instant enough. I was wondering since the font is already compiled and working well I don't want the SFNTWrite

[2017-05-08 18:21] readroberts commented on #955
This all makes sense. I will move the code., in small commit chunks,  to having just a single set of classes for T2 and CFF2. These will need an 'isCFF2' field to use in if…else to choose between CFF2 and CFF1 logic.

Since the CFF2 operator codes are a superset of the CFF1 operator codes, I also propose just having one set of operator codes. We can then enforce what's allowed in CFF2 or CFF1 depe

[2017-05-08 19:08] behdad commented on #955
Yes, I agree that while CFF2 simplified a few things, it's better to keep the structure but enforce all differences during compile/decompile.  The latter will guarantee no bad fonts will go out of our code by developer mistake...

[2017-05-08 19:08] behdad commented on #955
A side benefit, of course, is that subsetter, subroutinizer, etc can be adapted much quicker.

[2017-05-08 19:10] behdad commented on #937
Reviewing and extending this is on my plate for this week. :)

[2017-05-08 19:14] behdad commented on #944
I'd say no.  The spec says fontRevision is of type `Fixed`, whereas the version numbers we are talking about used to be of type `Version`.  Latest revision of the spec changed them to explicitly say `uint16 major, uint16 minor`.  It's the latter ones we want to write in hex.

[2017-05-08 19:58] PeterCon commented on #944
The Fixed type has been problematic for versioning because of different interpretations for the fractional portion. In OT1.8, we changed all the instances we could to majorVersion/minorVersion uint16s. A few tables -- maxp, post, vhea -- were not amenable to this because of versions having been defined that would not work with that pattern.

The head.fontRevision field is another problematic case:

[2017-05-08 20:11] behdad commented on #944
Thanks Peter.

Let's not touch fontRevision for now and try to converge on the other ones first.  I agree post table is special in that it cannot be treated as major/minor.  Not sure if such distinction applies to maxp and vhea.

[2017-05-08 20:12] behdad commented on #958
Thanks.  Perhaps you can try patching this using boundsPen?  Not sure about performance.

[2017-05-10 01:34] mashabow commented on #958
Ok, I'll try it next week.

[2017-05-10 21:48] marekjez86 commented on #950
@behdad : could you look at this? I'd like to be able to send the fonts to Roozbeh & Company...

[2017-05-10 23:43] behdad commented on #950
Yes, I like to.  Soon...

[2017-05-11 15:17] marekjez86 commented on #950
BTW, I did notodiff on NotoSansDevanagari-Regular in master_otf and in instance_otf and got the following differences (rhadeva tiny difference though). Why would it be?

![dddhadeva](https://cloud.githubusercontent.com/assets/13322623/25957045/391d2c3c-3622-11e7-930b-2556f1473dd6.png)
![fadeva](https://cloud.githubusercontent.com/assets/13322623/25957044/391bb172-3622-11e7-842c-d21bc59c7c1f.png)
!

[2017-05-11 15:39] marekjez86 commented on #950
I think I know why the differences. The name is the same NotoSansDevanagari-Regular but one really represents NotoSansDevanagariUI-Regular and the other NotoSansDevanagari-Regular.
Therefore what I presented here is noise (and irrelevant).

[2017-05-11 16:07] liudanking opened #961 "how to get code points of a glyphname?"
I am using the [script](https://gist.github.com/Jolg42/f22676fdfba6dbfe4589aa30f0326fb4) to extract images from sbix table.

The script works well, but I want to save the file by code points, not glyphname.

Is that possible?

[2017-05-12 02:52] MitchTalmadge opened #962 "AppleColorEmoji ccf format"
Hi everyone,

I am looking for info on the new ccf font format that was included around iOS 9 (not sure on this, @vXBaKeRXv might know).

Originally, Apple stored all their emojis in the `sbix` table in a ttf file. Now they appear to have switched to a combination of ttf and ccf, or ttc and ccf. The ccf file contains all the actual image data, but not in any format that I can determine.

The `sbix

[2017-05-12 02:58] MitchTalmadge commented on #961
Possible, but probably not easy. I'm working on doing the same thing right now for my application, [Emoji Tools](https://EmojiTools.org/).

I believe the solution involves taking the names from `sbix`, finding their references in the `morx` table which includes the Zero Width Joiners (ZWJ), then mapping each individual component of the [ZWJ Sequences](http://emojipedia.org/emoji-zwj-sequences/) to

[2017-05-12 10:21] vXBaKeRXv commented on #962
Thats about what I know..

The ttf/ttc font opened in a hex editor shows iOS standard set sizes but no PNG data. 40x40, 64x64, and 96x96 .  If you remove the .ccf from a iOS the emojis disappear, confirming that the images are indeed stored inside it.

The .ccf showed up when iOS 8.3 rolled out but the iPad 3 9.x was still using the CGBI png format with the 3 set sizes embedded in the font...

[2017-05-12 14:50] liudanking commented on #961
I am still working on the issue. If you figure it out before me, I would appreciate if you leave a feadback.
BTW, I am interested in your emoji tools, looking forward that it will be released on time.

[2017-05-12 18:03] MitchTalmadge commented on #961
@liudanking Sure thing! Let me know if you figure it out too. I'm hoping to release it on time too lol

[2017-05-12 19:01] miguelsousa commented on #961
See https://github.com/googlei18n/nototools/blob/master/nototools/hb_input.py#L313-L319

[2017-05-12 19:05] MitchTalmadge commented on #961
@miguelsousa This will only work for single code Emojis, but not for ZWJ Sequences. For example, there is no `u1F1E8_u1F1F3` record in the `cmap` table. This glyph is a composition of multiple other glyphs (Warning: don't just split the name by the underscore and try to parse each section one at a time via cmap; this name does not include the ZWJ code, and you won't get the true filename out of it

[2017-05-13 00:19] vXBaKeRXv commented on #961
Semi solution..
Open and save as a Apple font with FontForge. GSUB will be added to the font using the Morx. Then you can do your hooking to get convert the names.

Adding glyphs slots without adjusting the Morx, makes the glyphorder go out of sync.
Having to do a bunch of tricks to solve.

[2017-05-15 16:43] anthrotype opened #963 "GlyphCoordinates loses precision using array('f') instead of array('d')"
In a commit from 2013 (f2c2b4d38bd7bba23db71936262db984e4b7aebb) @behdad extended the `GlyphCoordinates` class in the `_g_l_y_f` table module to transparently support float coordinataes.

The GlyphCoordinates class wraps an `array.array` object, containing a single two-dimensional array of x and y coordinates. The type code used is `'f'`, which in C corresponds to `float` type, which uses maximum

[2017-05-16 16:14] behdad commented on #963
This looks bizarre!

[2017-05-16 16:15] anthrotype commented on #963
what do you suggest?

[2017-05-16 16:16] #963 closed

[2017-05-17 10:58] wuhenwuya commented on #962
+1

[2017-05-17 11:24] typoman commented on #960
After a lot of digging into how fonttools compiles the tables I came up with this idea of lazy compiling which is if any of tables were changed after the last compile then that table will only be compiled. Also when it comes to CFF, charStrings only get compiled after they have been changed. How does that sound?

[2017-05-17 13:18] anthrotype commented on #960
It is already kind of like that. If you have loaded a TTFont from a file, and then later you call `TTFont.save()`, then only the tables that have been decompiled so far (i.e. you called the `__getitem__` method, e.g. `glyf = font['glyf']`) will be re-compiled upon save; the ones which have not been decompiled are simply read from the input file (by the SFNTReader) and written out to the new file (

[2017-05-17 13:27] anthrotype commented on #960
sometimes other tables are decompiled in addition to the ones you requested: e.g. `maxp` is also decompiled if you get the `glyf` table, for obvious reasons, and the 'post' will be also decompiled because the TTFont needs the postscript glyph names internally.

[2017-05-17 16:32] typoman commented on #960
Thank you Cosimo, I realized that. I'm trying to make a compiler using fonttools that constructs the binary as the user adds every bit of data to the font one by one. This makes it possible to have an instant binary as the user makes the font without compiling the whole tables. The most important part is when user changes a glyph the feedback should be instant. What I've realized is that if the fo

[2017-05-17 16:59] typoman commented on #960
I wanna add the reason to make such compiler is that some typefaces need to be compiled and be in context so the user could see how they look like. Normally when a user changes only a glyph, s/he needs to compile all the tables, so changing a curve and compiling every time could be time consuming.

[2017-05-17 23:38] typoman opened #965 "'T2CharStringPen' object has no attribute 'glyphSet'"
T2CharStringPen takes a glyphSet but it doesn't set it in the __init__ as the class [attributes](https://github.com/fonttools/fonttools/blob/master/Lib/fontTools/pens/t2CharStringPen.py#L46-L51). This causes issues later when glyphs has components.

[2017-05-18 00:06] #965 closed

[2017-05-22 09:36] marekjez86 commented on #950
@behdad : any update on the kerning issue?

[2017-05-22 20:09] behdad commented on #950
Fixed one issue on Saturday:
https://github.com/fonttools/fonttools/commit/81498e5baf5d9beeb413d3f8f9a65edcf84de5e7

Have not tested with this bug yet.  There's probably more.  Looking into it.

[2017-05-22 20:27] marekjez86 commented on #950
Thank you @behdad

[2017-05-22 20:47] behdad commented on #950
So, one thing we should do is to just reuse the GPOS of the master, if an instance coincides with a master.  Though, I have some other work planned that may make that unnecessary.

[2017-05-22 22:39] frankrolf opened #972 "ttx: is creating empty XML files necessary?"
I often (sometimes) run into the following scenario:
[code]
This is user error of course – but I wonder if it would make sense to just not create a ttx file in scenarios 1 & 2?

[2017-05-22 22:51] behdad commented on #914
The rest of this issue is to resolve the TODO item that currently only allows one PairPosFormat2 subtable if the coverages are not identical.  The way AFDKO generates optimized subtables violates that.  Fixing it properly will take some time, so I'm going to leave this for now and work on https://github.com/fonttools/fonttools/issues/950 which seems to be a genuine bug rather than shortcoming.

[2017-05-23 00:38] frankrolf opened #973 "ttx: cannot specify multiple tables"
I remember specifying multiple tables for a TTX XML dump used to be possible, but no longer (or I am doing it wrong):

`ttx -t hhea OS/2 SourceSansPro-Bold.otf`
`ERROR: File not found: "OS/2"`

`$ ttx -x "CFF ", "cmap" SourceSansPro-Bold.otf`
`ERROR: File not found: "cmap"`

[2017-05-23 00:39] behdad commented on #973
[code]

[2017-05-23 00:39] #973 closed

[2017-05-23 00:40] anthrotype commented on #973
The -t or -x options take only one argument, but can be specified multiple times in a single command line.

[2017-05-23 00:44] frankrolf commented on #973
Thanks for the clarification. It would be helpful to have this notation show in `ttx -h`.

[2017-05-23 00:48] behdad commented on #973
[code]

[2017-05-23 01:14] behdad commented on #950
One thing I don't understand, is why I get "Base master not found" when trying the Cham font and others don't.  Indeed, varLib.interpolate_layout seems to need update for avar/fvar changes.  I'm fixing that now, but still like to understand how come it builds for others.

[2017-05-23 01:36] frankrolf commented on #973
Thanks @behdad, although I am literate I did not deduce that specific notation from the help documentation. It’s sometimes useful to have a one-line example.

[2017-05-23 02:16] punchcutter commented on #950
When I get "Base master not found" it happens for everything. I just tried Cham, Khmer, and Tamil just to see and they all give me that.

[2017-05-23 02:24] behdad commented on #950
Exactly.  But what you mean "When I get..."?  Do you mean when you filed this issue originally you didn't get, but now you get for everything?  I would have guessed that 18 days ago we were generating avar already.  Though maybe your build was older...  Anyway, let me fix this (almost done), try a few sequences, and send your way.  Thanks!

[2017-05-23 05:12] justvanrossum commented on #972
Possibly even better: to raise an error if a table is requested that is not in the font.

[2017-05-23 05:42] behdad commented on #950
Right.  I'll get to do that soon.

That it's different is not a problem per se.  For example I see the Noto Sans Cham GPOS mti sources have a lot of subtables that are not necessary.  Ie. class kerning with same classDef2's and different classDef1's that each have one glyph only.  Our code recombines these into one subtable....
[code]

Why are those written that way?

Correct.  That's what I fixed

[2017-05-23 07:03] behdad commented on #950
Ah ok, good to know.

So, yeah, I think this is fixed.  Zachary can confirm.

[2017-05-23 11:04] anthrotype commented on #973
@frankrolf I also get confused sometimes. Feel free to send a pull request suggesting a different wording which makes more sense to you :)

[2017-05-23 11:14] anthrotype commented on #972
I agree with @justvanrossum, we should raise a `TTLibError` exception in `_tableToXML` function (used by `TTFont.saveXML`). Then clients can decide how to handle that (e.g. print the error message and continue or exit early).
And yeah, we shouldn't leave behind an empty ttx file when the tables turns out to not be there. The reason it's doing that is that when we make the output file name, we 'tou

[2017-05-23 20:35] behdad commented on #972
Making ttx by default err on missing tables would be a change of behavior though.  For example, if I'm doing:
[code]
I'd be really pissed if some of those ttx commands failed because the font (legitimately) didn't have GDEF.

[2017-05-23 20:42] anthrotype commented on #972
True.. I think we should keep the existing ttx behavior of passing on missing tables (with a message); but still a TTLibError could make more sense when one calls `TTFont.saveXML`  from python code and the `tables` list some which are missing; ttx could intercept that exception and handle it the same way it currently does, plus cleaning up the empty .ttx file it has created.

[2017-05-23 20:54] behdad commented on #972
I suppose we can make saveXML "return" (not throw) an exception.  Caller can raise it if they want.

You definitely can't / shouldn't just raise exception when first missing table is encountered as that interrupts the normal flow of the code and we end up not saving the remaining tables.

[2017-05-23 21:09] anthrotype commented on #972
yeah, I like this idea of returning an exception object, containing the list of missing tables. If all the requested tables turn out to be missing, then ttx should not leave behind the empty file.

[2017-05-23 21:10] punchcutter commented on #950
The results I get now seem to be about the same as when I opened this. I don't expect the tables to be exactly the same. Compacting the tables is fine, but I still see one kern pair missing the first half of the pair. It seems to be from the way this is being compacted which is part of your question

In this case the mti source was not hand coded, but generated directly from Glyphs and split up in

[2017-05-23 21:12] behdad commented on #972
I'm not so sure of that.  These are, command-line tools after all.  They are designed to be scripted together.  How is a script to detect this?  Or why?  This sounds like convenience for user typing commands, but definitely not for scripts.  I don't have a strong opinion here.  And I'm NOT suggesting adding more commandline options for these tiny nuances...

[2017-05-23 21:16] behdad commented on #950
Ok I think you are missing a point here.  My combining logic uses class=0 for some glyphs.  Those "disappear" in the ClassDef1.  That's intentional.  Nothing wrong with that.

Does the font, functionally, not behave the way you expect?

[2017-05-23 21:18] justvanrossum commented on #972
Perhaps just issue a warning for missing tables?

[2017-05-23 21:19] anthrotype commented on #972
I don't have a strong opinion either, as you can see from my swinging... 😅
maybe it's best to leave it as is for now, and just elevate the logging message from INFO to WARNING.

[2017-05-23 22:01] punchcutter commented on #950
Ok, I am definitely missing the point. I was assuming that the way tables are handled and optimized in the initial master otf would be pretty much the same as the instance otf, but I see what you mean now.

I think basic functionality is ok, but all GPOS coordinates are way off so it's a bit distracting. I know you said you'll get to passing masters to instances when they match, but right now all

[2017-05-24 00:33] behdad commented on #950
Thanks @punchcutter.  That's definitely a bug.  Can you please also paste the Unicode string for that sequence?  Then I can debug.

[2017-05-24 00:39] punchcutter commented on #950
Here's the string:
ꨤꨵꨳꨮ ꨥꨵꨳꨮ ꨦꨵꨳꨮ ꨧꨵꨳꨮ ꨨꨵꨳꨮ
The screenshots are from Firefox Nightly.

[2017-05-24 06:54] behdad commented on #950
So, you tried with fonttools master, right?  When I try, I get the same rendering for the first word.  Can you try again, and test them with hb-view?  How do you update fonttools independently of fontmake BTW?

[2017-05-24 06:55] behdad commented on #950
It definitely sounds like this is applying GPOS from different design coordinates, which is consistent with what we were getting before I fixes interpolate-layout to apply avar.  Otherwise, it doesn't seem like it's kerning-related either, and that would be very hard to explain.

[2017-05-24 07:05] punchcutter commented on #950
Yes, I tried with fonttools master. I have a couple virtual envs for fontmake. One for the release version and one for dev which points to fonttools master.

Sorry, I should have said those screenshots are from the Bold master which maps to Black instance. All instances are off by some amount, but this particular selection was just off a lot so made a good image to show what I'm talking about. I c

[2017-05-24 07:12] behdad commented on #950
Ah ok. I thought it's Regular.  Regular looks fine for me.  Let me check.

[2017-05-24 07:13] behdad commented on #950
Reproduced!  Debugging.

[2017-05-24 07:26] behdad commented on #950
Ok, found what's happening.  The new interpolate-layout function expects weights in the 100, 200, .. range, whereas fontmake is giving it the internal stem-width numbers (90, 190, ..).  Fixing.

[2017-05-24 07:32] behdad commented on #950
Ok, pushed the fonttools patch to allow disabling mapping.  We need to release fonttools and require it in fontmake, then commit the following fontmake patch:
[code]

I verified it fixes the issue.

@anthrotype any chance you can do these?  Thanks.

[2017-05-24 07:53] anthrotype commented on #950
Sure, I'll do it this morning.

[2017-05-24 07:57] behdad commented on #950
Thanks.

[2017-05-24 18:35] anthrotype commented on #950
@punchcutter @behdad
https://github.com/googlei18n/fontmake/releases/tag/v1.2.6

[2017-05-24 19:28] marekjez86 commented on #950
Thank you
Marek

On Wed, May 24, 2017 at 11:35 AM, Cosimo Lupo <notifications@github.com>
wrote:

--

Marek Z Jeziorek [ 老马 ] | marekj@google.com | 312 725-6958

[2017-05-24 22:09] punchcutter commented on #950
So far it all looks good. I'm still curious what the reason is for

At first I didn't see what was going on because I was looking for something closer to a one to one comparison and this makes that a little harder because in the master the left glyphs are explicitly defined in the class def, but in the instances these class defs are empty. Was the reason just to keep it more compact?

[2017-05-24 22:19] behdad commented on #950
We have that handles different masters having different kern glyph classes.  This code basically rewrites the classes.  While doing that, it uses class 0 as well, because it's a legitimate thing to do, and yes, it saves bytes.  AFDKO does the same, feaLib does too.  That Glyphs doesn't is a shortcoming on their side.  It's leaving class=0 unused, which is wasteful.

Note that this is only possible

[2017-05-24 22:24] punchcutter commented on #950
Ok, thanks. That's how I understood it, but just wanted to confirm.

[2017-05-24 22:27] #950 closed

[2017-05-25 00:09] dbieber commented on #938
Heads up that we just closed google/python-fire#7 and `ipython` is no longer a required dependency of fire. Now fire's only dependency is `six`. This will reach pypi with our next release (probably in 1-2 weeks).

[2017-05-25 07:09] anthrotype commented on #938
@dbieber that's good, thank you for letting us know!

[2017-05-29 18:32] anthrotype commented on #448
I just got bitten by this. I got unexpected behaviour when applying multiple features (in my case was frac and numr), because the order of the lookups in the compiled GSUB didn't match the order in which lookups had been explicitly defined in the feature file.
I wonder if it would be better to disable such an optimization...
BTW, does makeotf also do this?

[2017-05-29 18:43] khaledhosny commented on #448
I think any optimization that changes the order of lookups is dangerous since the order often has important semantics and must be preserved.

[2017-05-29 18:47] behdad commented on #448
Plus, the bytes are reused by compiler anyway...

[2017-05-29 19:24] justvanrossum commented on #448
@anthrotype can you confirm your problem is solved by removing lines 463 to 469 from feaLib/builder.py?

[2017-05-29 19:37] anthrotype commented on #448
yes, that's exactly what I did to fix it, but I wanted to check with others before committing anything. As far as I can tell, there seems to be unanimity to disable the optimization. I'm off at the moment, I can apply the patch tomorrow, or any of you can do it.

[2017-05-29 19:42] justvanrossum commented on #448
Yeah, that optimization is definitely wrong.

[2017-05-30 09:45] #448 closed

[2017-05-30 20:00] nona-google opened #977 "ttx should warn missing name index in fvar"
I think it is good to warn if the AxisNameId refere missing name ID.
Example:

Source snippet:
167   <fvar>
168     <Axis>
169       <AxisTag>wdth</AxisTag>
170       <MinValue>-1.0</MinValue>
171       <DefaultValue>0.0</DefaultValue>
172       <MaxValue>1.0</MaxValue>
173       <AxisNameID>256</AxisNameID>
174     </Axis>
175     <Axis>
176       <AxisTag>wght</AxisTag>
177       <MinValue>-1.0<

[2017-06-01 08:07] samizzo opened #978 "pyftsubset fails with "struct.error: unpack requires a string argument of length 4""
I'm trying to subset some fonts and `pyftsubset` is failing. I'm running this command line:

`pyftsubset SeoulNamsanM.ttf --output-file=../../Assets/Fonts/SeoulNamsanM.ttf --text-file=unicodes.kr.txt`

It fails with this trace:

[code]

I've attached [unicodes.kr](https://github.com/fonttools/fonttools/files/1044036/unicodes.kr.txt) to this message, and the font can be downloaded from [here](http:

[2017-06-02 15:13] typemytype opened #979 "addComponent identifier"
all pens are missing an `identifier=None` argument in `addComponent(...)`

[2017-06-02 17:19] justvanrossum commented on #979
Uh, that may be for PointPens, the the normal segment pens in fonttools need to know nothing about identifiers.

[2017-06-02 17:20] justvanrossum commented on #979
As in: you can't just extend the Pen protocol.

[2017-06-02 19:42] #979 closed

[2017-06-04 11:43] #912 closed

[2017-06-06 11:02] jenskutilek opened #981 "[varLib] Deltas with just one coordinate?"
I’m not sure if I understand this correctly.

Shouldn’t it be allowed for a gvar point delta to specify only one coordinate, so that the other coordinate will be interpolated from the surrounding point deltas for the same direction?

It seems impossible right now to express this in a ttx file. Compilation will fail if there are not both x and y coordinates present, like in the delta for pt 9 below

[2017-06-06 11:03] behdad commented on #981
The font format does not allow that.

[2017-06-06 11:04] behdad commented on #981
I have full optimizing IUP implemented BTW. Will push out soon.

[2017-06-06 11:18] jenskutilek commented on #981
Thanks, looks like I imagined things ;)

[2017-06-06 11:18] #981 closed

[2017-06-06 16:27] justvanrossum opened #982 "[OS/2].usLastCharIndex calculated wrong in the presence of chars >= 0x10000?"
I'm getting an error from FontValidator about `usLastCharIndex`:

My font contains chars >= 0x10000. It seems FontValidator wants `usLastCharIndex` to be the highest character below 0x10000.

[2017-06-06 16:40] khaledhosny commented on #982
FontTools is following the [spec](https://www.microsoft.com/typography/otspec/os2.htm#lci):

[2017-06-06 16:44] justvanrossum commented on #982
Thanks, I could have checked that myself. Sorry for the noise. Never trusting FontValidator again :)

[2017-06-06 16:44] #982 closed

[2017-06-07 01:32] mashabow commented on #982
For reference: https://github.com/Microsoft/Font-Validator/issues/28

[2017-06-07 05:38] justvanrossum opened #983 "[cffLib] UnderlinePosition has no default, but UnderlineThickness does"
According to the spec `UnderlinePosition` needs to have a default value of -100:
https://github.com/fonttools/fonttools/blob/master/Lib/fontTools/cffLib/__init__.py#L1722

@readroberts can you confirm that fonttools is indeed wrong here?

(Btw. this has been in fonttools for a long time, so it's most likely my own bug.)

[2017-06-07 16:49] readroberts commented on #983
Yes this is a bug - UnderlinePosition should have a default value of -100. However, it is a minor issue, as it does not affect building a CFF table: whether the value is None or the default value, in  the field will be omitted. This affects only output to ttx files, which shows default values when the field is omitted from the CFF table, presumably to provide a hint for editing the ttx files.

[2017-06-09 04:55] #983 closed

[2017-06-09 04:55] justvanrossum commented on #983
Thanks, Read!

[2017-06-10 14:04] typemytype opened #984 "read the docs"
is there a read the docs connection that build automatically the sphinx docs?

[2017-06-11 22:57] Zeus64 opened #985 "is it possible to add to a TTF font a new glyph from a png file ?"
It's not really and issue (or if it, it's connected to documentation), but more a feature request. i didn't know where to say so i do it here.

If i have an already made TTF font, is it possible to add to this font a new glyph from a png file (emoji) ?

[2017-06-13 19:19] bobh0303 opened #986 "include() directive with relative paths"
Regarding the `include();` directive, the [Adobe Feature File specification](https://cdn.rawgit.com/adobe-type-tools/afdko/master/FDK/Technical%20Documentation/OpenTypeFeatureFileSpecification.html#3) says this:

However it seems to me that neither `makeOTF` nor `fontTools feaLib` obey this.

Given the following file structure:
[code]
if my current directory is `project/results` and I issue a comm

[2017-06-13 19:29] miguelsousa commented on #986
It's the spec that needs to be updated to reflect what `makeotf` actually does. In #838 I made `feaLib` work like `makeotf`.

[2017-06-13 20:35] bobh0303 commented on #986
Thanks -- at least that confirms I wasn't going crazy. And thanks for the reference which also got me to adobe-type-tools/afdko#164.

[2017-06-13 20:35] #986 closed

[2017-06-17 10:48] behdad commented on #986
Would be nice to have a way to make relative includes as well.  Maybe if path starts with "./"?  Or just a different keyword.

[2017-06-21 10:15] Vdragon opened #988 "Mojibake is displayed in pyftinspect when font contains CJK metadata"
[Mojibake \- Wikipedia](https://en.wikipedia.org/wiki/Mojibake)

As the following screenshot, also `(pyftinspect:PID): Pango-WARNING **: Invalid UTF-8 string passed to pango_layout_set_text()` is emitted in the console.

![- -sourcehanseriftw-semibold otf - pyftinspect_027](https://user-images.githubusercontent.com/1192163/27379372-8956554c-56ad-11e7-88d7-23ba7e842bc4.png)

[2017-06-21 10:46] behdad commented on #988
I think you are the only running pyftinspect in the last two years :).

What would happen if you try it with Python 3, if possible?

In general, pyftinspect is a tiny hack that does what you see.  I'll try fixing this name issue, but in general, it's far from perfect, but we don't have plans to develop it further, without rethinking the entire approach.

[2017-06-21 11:01] Vdragon commented on #988
Just downloaded fonttools today and notice the command ;)
BTW, the version I'm using is 3.0 from Ubuntu 16.04 archive, I do tried the latest version from PyPI, however I can't run pyftinspect due to missing PyGTK module(not seems to be easily installable from PyPI)

![- -sourcehanseriftw-semibold otf - pyftinspect_028](https://user-images.githubusercontent.com/1192163/27381098-11cb18da-56b4-11e7-8

[2017-06-22 10:53] anthrotype commented on #956
@behdad yeah, it's a bit useless. We can remove that argument and leave it to the caller to prepend the width. The problem it would change the pen's constructor. Other libraries/scripts than ufo2ft may be using this pen and would need to be updated...
Anybody?

[2017-06-22 13:18] justvanrossum commented on #956
Or just document it that it's width-nominalWidth. I recently fell into that trap, but I figured it out quick enough. I do like it as part of the constructor, and would not want to mess with the program directly.

[2017-06-22 14:45] MrBrezina opened #989 "Dealing with and reporting GPOS overflow"
I prepare kern, mark, and mkmk features using ufo2ft. There are two issues related to GPOS overflow I would like to put forward:

1. in case a lookup in GPOS table overflows, the code generated by ufo2ft cannot be used by AFDKO which needs the `useExtension` command in the code for the corresponding feature. It would be nice to be able to produce the kern, mark, mkmk features and enforce the use o

[2017-06-23 13:53] typefacts opened #992 "pyftsubset: Delete outline instead of deleting glyph?"
Hi,
I’d like not only to subset a font, but also to empty some glyphs without deleting them (like what’s happening with notdef) – could this be possible?
Thanks!
Christoph

[2017-06-25 04:16] behdad commented on #992
Why do you need that?  You can do that with very small scripts.

[2017-06-25 06:14] banxian opened #993 "TypeError: Struct() argument 1 must be string, not unicode"
I have ttx via pip install fonttools, and use it to convert SourceHanSans.
but it give me an exception like this:

Dumping "SourceHanSansCN-Normal.otf" to "SourceHanSansCN-Normal.ttx"...
Dumping 'GlyphOrder' table...
Dumping 'head' table...
Dumping 'hhea' table...
Dumping 'maxp' table...
Dumping 'OS/2' table...
ERROR: Unhandled exception has occurred
Traceback (most recent call last):
  File "f:\p

[2017-06-25 06:43] behdad commented on #993
Humm.  I suspect e8530360b, but why does it not fail in our continuous testing?

[2017-06-25 06:50] banxian commented on #993
maybe my font (SourceHanSansCN-Normal.otf) have some magic triggered this exception.
it's 1.004 version which got from Adobe's source han project.

[2017-06-25 10:13] anthrotype commented on #993
Before python 2.7.7 the struct module didn't support unicode strings, but required a nativ str (bytes).
https://bugs.python.org/issue19099

We don't run tests on such old pythons on our CI.
I'd suggest a wontfix and "please update your python, or better use python3".

[2017-06-25 10:26] typefacts commented on #992
Hi Behdad,
Cosimo told me to open a thread since it “might be a useful feature to add”.
If you don’t agree, feel free to close it – and give me a hint about the very small scripts. ;)

[2017-06-25 10:42] behdad commented on #992
To me, such feature creates a broken font, and that's not good.
Re the very short script, before subsetting do this:
- For TrueType outlines, just:
[code]
- For CFF it's a bit more involved since we need to preserve width.  That's still less than five lines using the T2CharStringPen

[2017-06-25 10:42] behdad commented on #993
sgtm

[2017-06-25 10:58] typefacts commented on #992
Alright, thanks!

[2017-06-30 21:37] benkiel opened #994 "Subsetter and CFF CharStrings"
I've been banging my head against a Windows error with some fonts that have been made with the subsetter: turns out that it is removing the CharString entries that are marked raw="1". This is for the <Subrs> entry. I don't know why these are getting dumped as raw — that's the next thing to figure out, but removing them breaks the font in Windows.

[2017-06-30 21:40] behdad commented on #994
They are raw because as far as subsetter sees, they are unreferenced and as such cannot be decoded. Because they are unreferenced, they are removed during unused subroutine removal. Do you have a minimal test case you can attach?

[2017-06-30 22:04] benkiel commented on #994
@behdad actually, I can simplify this much more: in this case (again, no idea why this is coming up raw, but it is), the subsetter leaves
[code]
in the CFF table. Taking that out and recompiling with TTX makes the font work.

[2017-06-30 22:09] benkiel commented on #994
And, the font is getting mastered via makeOTF v2.0.94 May 23 2016 from a UFO: next is to dig into why TTX sees these subroutines as raw, but at least now I can fix the issue I was having.

[2017-06-30 22:15] benkiel commented on #994
@behdad I'll email a test case for you on this.

[2017-07-01 04:23] mashabow commented on #994
FYI, AFDKO's subroutinizer genarates some unused subroutines. See https://github.com/adobe-type-tools/afdko/issues/173.

[2017-07-01 21:11] benkiel commented on #994
@mashabow That's good to know, thank you.

[2017-07-05 10:22] jenskutilek opened #995 "[varLib] cpsp feature is not variable"
In the attached demo build folder, the master fonts contain 1 kern pair and 1 cpsp lookup. When building a variable font with varLib, the kerning pair becomes variable, but the cpsp value is static.

The cpsp values in the wdth -1 master has XPlacement = 1, XAdvance = 2, and in the wdth 0 master XPlacement = 40, XAdvance = 80. The variable font only contains the 40/80 values.

More precisely, it l

[2017-07-05 17:09] jenskutilek commented on #995
Think I’ve found it ...

[2017-07-06 14:53] #995 closed

[2017-07-07 03:05] zyu47 opened #997 "Is there a documentation or tutorial?"
Cannot find it anywhere. It is hard to understand the functions without documentations.

[2017-07-07 13:42] cbreeden commented on #156
@behdad has the status changed with respect to reordering glyphs?  I have a situation that essentially requires me to redorder glyphs if I don't want to thrash the CMAPs, but it it didn't seem to work out well.  In particular it does seem that the  GSUB/GPOS/GDEF tables arent updated accordingly.

[2017-07-07 20:53] cbreeden commented on #156
It also appears that the `CFF{2}` table also needs to be updated.

[2017-07-10 10:23] Arno-Enslin opened #998 "subset argument --layout-features-='liga' has no effect"
`__init__.py --layout-features-='liga'`
has no effect. The liga feature will not be deleted. (I have not tried to remove any other features.)

------------------

By the way, I am not sure, if I shall start another thread for this: After installation of the Fontools I had to unpack the fonttools egg file. A year ago, when I had built the AFDKO the last time, it was not necesseray to unpack the egg

[2017-07-10 18:13] jarrodlombardo commented on #830
Did this get in? I'm seeing roundtrip issues with 3.13.1

[2017-07-10 18:38] anthrotype commented on #830
@jarrodlombardo could you be please provide more info about the specific issue your are seeing?

[2017-07-10 18:48] jarrodlombardo opened #999 "Roundtrip failures for some of the fonts I'm working with."
Attached is a report generated by roundtrip.py when I run it on a ttf:
[report.txt](https://github.com/fonttools/fonttools/files/1136693/report.txt)

Something is getting messed up in the kern subtables, but I don't understand font internals well enough to know if it's something wrong with the ttf I was given or a bug in fonttools.

[2017-07-10 18:48] jarrodlombardo commented on #830
Thanks. https://github.com/fonttools/fonttools/issues/999

[2017-07-11 10:18] typemytype opened #1000 "T2CharStringPen rounding tolerance"
The rounding in a char string pen could be more useful if the rounding was done by a `multiple`
The tolerance, as it is now, has actually 2 settings: to round or not to round...

[code]

output:
[code]

[2017-07-11 11:50] behdad commented on #1000
Hi Frederik,

While it's true that rounding by multiple reduces entropy and allows for more effective compression (WOFF, WOFF2), that was not the motivation here.  Integers are encoded in charstrings using 1, 2, or worst case 3 bytes depending on the magnitude.  Non-integers on the other hand always take five bytes.  Choosing when to spend those extra bytes was the motivation for the tolerance.  I

[2017-07-12 09:27] Arno-Enslin commented on #997
I think, that is a question for the [fonttools forum.](https://groups.google.com/forum/#!forum/fonttools)

You can call the help of the scripts and test their functions by yourself. I am on Windows and I control the AFDKO and the FontTools with the help of batch files. The command for the help of the subset script is for example:

`(path to) python.exe (contained in the AFDKO) (path to) subset\__i

[2017-07-13 08:46] jenskutilek opened #1001 "[varLib] Reactivate shared tuples?"
Since font variations have been [deactivated in WebKit](https://bugs.webkit.org/show_bug.cgi?id=173618) and the Safari Technology Preview on macOS 10.12, should we reactivate the shared tuple mechanism?

https://github.com/fonttools/fonttools/blob/master/Lib/fontTools/ttLib/tables/TupleVariation.py#L517

Maybe the bug is already fixed, because the [current report for CoreText](https://rawgit.com/u

[2017-07-13 10:35] behdad opened #1002 "CFF2 Private dict vsindex lost when values are loaded"
blendList uses vsindex to get numRegions and load blend operators into tuples, but does not save vsindex in the tuple anywhere.  Looks broken to me.  We need the vsindex for each tuple when putting the font back together.

[2017-07-13 10:35] behdad commented on #1002
@readroberts @anthrotype

[2017-07-14 07:52] miguelsousa opened #1003 "[feaLib] "Expected name id < 255" check"
@brawer is it OK to remove this check from feaLib's `parse_nameid_`?
[code]
I ran into it while working on a project that requires hardcoding some nameids, and I can't think of a reason for blocking them, specially since they're outside the reserved range.

[2017-07-14 07:55] behdad commented on #1001
Good question..

[2017-07-14 07:56] behdad commented on #1001
Sascha, would you be able to test?

[2017-07-14 08:00] behdad commented on #1003
Humm.  That check looks clearly wrong to me.

[2017-07-14 08:00] behdad commented on #1003
CC @brawer

Miguel, I think you can remove it, yes.

[2017-07-14 08:03] anthrotype commented on #1003
I agree it is wrong, but still the Adobe Feature File Specification says about the `nameid <id>`:

so perhaps the spec should be adjusted.

[2017-07-14 08:14] behdad commented on #156
No.

Correct.

Can you elaborate a bit more?  How much is the cmap size difference in your experience?  I haven't got to implement this because it doesn't look like a particularly useful operation...

[2017-07-14 08:14] behdad commented on #998
I believe that's because by default layout-features value is `'*'` and subtracting something from that doesn't work the way you expect it.  It's a bit tricky to implement that, but not impossible.  I'll see if I can get it in some time.

[2017-07-14 09:06] miguelsousa commented on #1003
The spec is clearly wrong. `makeotf` has no problem with nameids above 255. I'll take care of the changes later. Thanks.

[2017-07-15 00:02] cbreeden commented on #156
@behdad well, I might be doing something terrible, but I was working on a math rendering engine that needed to communicate glyph ids.  Ideally for something like SVG.  The issue with most math fonts is that for many variants the glyphs aren't accessible from the CMAP (as an example a left brace has 9 different size variants in STIX2).  To fix this, I placed the variants I needed in the PUA.  This

[2017-07-15 15:21] #1003 closed

[2017-07-15 15:22] miguelsousa commented on #1003
FDK bug https://github.com/adobe-type-tools/afdko/issues/189

[2017-07-15 15:37] miguelsousa opened #1004 "Incompatible masters found in varLib._add_gvar()"
I've ran into this traceback,
[code]
It was caused by U+0020 being named `space` in one master font, and `uni0020` in the other.

@behdad where should a check for this kind of incompatibility be added?

[2017-07-17 11:31] Arno-Enslin commented on #165
pyftsubset removes the namerecords for plaformID 1 (Mac) completely. I assume, that you have checked to see, whether none of these records is needed on the Mac. **Would you confirm that, please?** (You only have written, that you have checked to see, whether the fonts with the obfuscated names can converted to eot with sfntly and whether they are uninstallable on both platforms, but not, whether t

[2017-07-17 12:41] davelab6 commented on #165
The Mac name IDs are for the pre Mac OS X macOS and thus mostly obsolete,
except for MS Word for OS X which still used them in recent versions

On Jul 17, 2017 7:31 AM, "Arno-Enslin" <notifications@github.com> wrote:

[2017-07-17 21:23] miguelsousa opened #1005 "[subset] CodePageRanges are not subset"
CodePageRanges are left untouched by the subsetter.

[2017-07-17 21:45] anthrotype commented on #1005
It could be added at some point, but I don't see it as a high priority.

The codepages to unicode tables are defined the python [`encodings`](https://github.com/python/cpython/tree/master/Lib/encodings) module. We just have to decide how much of a codepage a font needs to cover for it to be "functional".

In a related fontmake issue, Read said that makeotf uses a 1/3 rule:
https://github.com/googl

[2017-07-17 22:26] miguelsousa commented on #1005
The UnicodeRanges bits are being subset correctly, so why not just derive the CodePageRanges bits from those?

[2017-07-17 22:34] behdad commented on #1005
FWIW this is not necessary for webfont subsetting so I like it to be an option if it turns out to be expensive (which I think it is).

[2017-07-19 02:38] mashabow opened #1006 "Distinction between hintmask bits and an operator in charstring"
While subsetting I got an error raised in `op_or()`, although this font has no `or` operators, of course.

[code]

This glyph has fifteen stems, and contains a sequence `hintmask 0110111101110010` in its charstring. Since the mask bits `0110111101110010` (= `6f72` in hex) can be decoded as a string "or" in ASCII-compatible encodings, the sequence is stored as `[..., 'hintmask', 'or', ...]` in `cha

[2017-07-19 14:05] jenskutilek commented on #1001
A word of caution ... I tried to reactivate the code, but it can result in invalid gvar data.

What happens is that the size of the resulting data using private points is always compared with the compiled data using shared points for all points of a glyph. However, if any of the tuple variations don't use all glyph points (e.g. because they rely on the IUP mechanism), and the shared points version

[2017-07-20 10:56] anthrotype opened #1008 "Deprecate (or revamp?) progress bar interface from xmlReader and xmlWriter"
https://github.com/fonttools/fonttools/pull/1007#discussion_r128479598

If nobody is using this anymore, we could print a warning whenever one sets the `progress` argument in `TTFont.saveXML` and `TTFont.importXML`; then in a couple of releases drop all the code the uses that (== less code to maintain).

On modern machines, dumping/compiling ttx files usually doesn't take more than a few seconds.

[2017-07-20 11:08] justvanrossum commented on #1008
I agree it's not needed anymore. However, people don't upgrade that often, so please leave that warning in a few releases longer :)
However: I think it's ok to remove the code earlier, just keep the API compatible longer by ignoring the argument (with a warning).

[2017-07-20 11:15] anthrotype commented on #1008
Yes, we can keep the argument and the warning forever. I just meant we can make the argument ineffective in a couple of releases (or more), but initially it would still keep working (but with a pending deprecation warning).

[2017-07-20 13:44] jenskutilek commented on #1001
#1009 reactivates the shared points logic and should also fix the bug described in the previous comment.

[2017-07-20 20:45] #1006 closed

[2017-07-20 20:49] anthrotype commented on #1006
I think I've fixed the issue in https://github.com/fonttools/fonttools/commit/c0d672ba70ba6907759b086d59f110496d79c606
Could you please check it works now?
Also it would be nice if you could provide a minimal font the reproduces the issue so we can add to our regression tests (one glyph would be enough).

[2017-07-20 23:52] khaledhosny opened #1010 "[varLib] warn/error about extrapolation"
Since variable fonts do not support extrapolation, varLib should either warn or even error when asked to extrapolate. For example building a variable font from [Cairo_V2.glyphs](https://github.com/Gue3bara/Cairo/blob/master/sources/Cairo_V2.glyphs) results in a broken variable font where changes in the weight axis are jumpy and unpredictable because the font extrapolates its two extreme instances.

[2017-07-21 01:25] mashabow commented on #1006
@anthrotype Now it works fine. Thank you!

Sure, I'll post a test font next week.

[2017-07-21 10:10] jenskutilek opened #1011 "[varLib] Clarification regarding avar segment maps"
The [avar spec](https://www.microsoft.com/typography/otspec/avar.htm) says:

 1. Currently, `varLib._add_fvar_avar` doesn’t enforce this. Should it?

 2. When an axis doesn’t cover the full range from -1 to 1, it makes no sense to include the entries as described.

For example, take a wdth axis from Condensed to Normal. The mappings may be:

[code]

What would an additional 1 to 1 mapping, as requ

[2017-07-21 16:36] PeterConstable commented on #1011
Yes, varLib should enforce this to ensure fonts are valid. This is an old requirement, originating in [GX](https://developer.apple.com/fonts/TrueType-Reference-Manual/RM06/Chap6avar.html):

"A segment must always have at least three correspondence pairs: minus one mapping to minus one, zero mapping to zero, and one mapping to one."

Your example considers a width axis from Condensed to Normal, but

[2017-07-21 17:03] jenskutilek commented on #1011
I see ... in that case the normalization done in varLib may be buggy. If I understand it correctly, for my example the normalization should look like this:

[code]

Is that correct?

[2017-07-21 17:46] PeterConstable commented on #1011
Basically, yes. The one comment is that, since the user range max is the same as the default, then selectable instances can never land in normalized space in the range (0, +1].

So your earlier question, "What would an additional 1 to 1 mapping do?" is valid: it will not have any effect in cases like this. But it has trivial impact and is a small thing for font tools to do.

[2017-07-21 17:53] behdad commented on #1011
I'll follow up on the OpenType list thread.  I like to suggest we only require 0->0 mapping.  The others are not needed really.

[2017-07-24 02:48] Pal3love opened #1013 "[ttLib] `name` module Macintosh langtags errata"
In module ttLib.tables._n_a_m_e:

(Line 700) 9: 'no'  ->  9: 'nb':
'no' is the marcolangtag of Norwegian Bokmål ('nb', Mac langID 9), and Norwegian Nynorsk ('nn', Mac langID 151).

(Line 731) 40: 'si'  ->  40: 'sl':
It should be Slovenian, not Sinhalese, whose Mac langID is 76.

Thanks so much!

[2017-07-24 09:46] jenskutilek commented on #1011
Thanks all. #1014 fixes the issue about the default mappings. The rest was a misinterpretation on my part.

[2017-07-24 10:40] anthrotype commented on #997
I hear you @zyu47. The problem is writing and maintaining documentation is very time consuming, and fonttools is more a library for other developers (who can inspect the code) than an end-user tool.
But even for developers, it would still be nice if all the functions and classes that are meant to be public had a docstrings explaining what they do, what the type of arguments, return values and poss

[2017-07-24 10:49] anthrotype commented on #994
So to recap, you're claiming that the subsetter removing charstrings that are marked "raw" in ttx dump (because unused) will break the font in Windows?

@benkiel could I get that one as well? thanks.

[2017-07-24 12:02] anthrotype commented on #1013
@Pal3love I think the first is already correct. The Macintosh langID 9 is simply called "Norwegian", so 'no' should be the correct language tag.

On the second one, you're right. the langID 40 is Slovenian, whose BCP47 tag is 'sl', not 'si' (which is Sinhalese, Mac langID 76).

I'll fix that, thanks for spotting.

https://www.microsoft.com/typography/otspec/name.htm
http://www.iana.org/assignments

[2017-07-24 12:05] #1013 closed

[2017-07-24 13:05] anthrotype commented on #999
@jarrodlombardo can you send me the font via email?

[2017-07-24 15:17] Arno-Enslin commented on #997
@ anthrotype

Whenever I read, that a type designer thinks about buying DTL OTMaster, I recommend the fonttools instead, because in my opinion they are more useful and they are free of charge. And I naturally hope, that they make a donation to the project. The sacrifice of a GUI is a question of accustoming only. But if you are not a code developer you need at least a small documentation, an entry

[2017-07-24 15:31] anthrotype commented on #997
Thanks Arno

other tools and scripts.

Yes, though I suspect the requests for help/support would also increase.

Fonttools doesn't need "payments"; _time_ is the best "donation" we could get. :)

[2017-07-24 19:52] Arno-Enslin commented on #1003
From the OT spec:

Instead of removing the check, wouldn't it be better to check, whether the ID is < 32767 (or 32768)?

[2017-07-24 23:05] miguelsousa commented on #1003
@Arno-Enslin https://github.com/fonttools/fonttools/commit/12b7c60a6817f43557802695c1af9180d1b3c53a

[2017-07-25 02:22] mashabow commented on #1006
Here is a test font, originally hinted with AFDKO's `autohint`.

[bug1006.otf.zip](https://github.com/fonttools/fonttools/files/1171743/bug1006.otf.zip)

To reproduce the issue, run `pyftsubset bug1006.otf --text=島 --no-hinting` on Python 2.7.

[2017-07-25 04:15] benkiel commented on #994
@anthrotype No, the subsetter isn't removing things because they are raw (afaik) but because the glyphs they reference aren't in the font anymore. Instead of checking the length of the subrs to see if there is anything in there and then writing, fontTools writes the subrs regardless of length. If empty, font won't install in Windows.

This is best a check outside of the subsetter, so that fontTool

[2017-07-25 16:03] KPouliasis opened #1017 "krijlvvjrbdleff"

[2017-07-25 16:03] #1017 closed

[2017-07-25 18:52] anthrotype commented on #1006
@mashabow Thank you! 😄

[2017-07-25 18:53] anthrotype commented on #994
@benkiel cosimo [at] anthrotype.com

[2017-07-26 13:09] anthrotype opened #1018 "are widths illegal in CFF2 charstrings?"
the CFF2 spec says

Does that mean we should validate on decompile and raise if charstring turns out to have a width?

Or, conversely, that we should drop the width when we compile the charstring as CFF2?

Remember that we are currently using the same `T2CharString` class, as well as the same decompiler and outline extractor classes for both Type2 CFF CharStrings and CFF2 CharStrings.

(I know the

[2017-07-26 13:14] anthrotype commented on #1018
as @behdad noted, the `T2CharStringPen` (another double-duty class that would have to be renamed) already disallows to pass a width in if CFF2, although the `assert` in in the pen's `getCharString` method. Perhaps that should be moved to the CFFCharString constructor.

[2017-07-26 13:17] anthrotype commented on #1018
of course, I know widths are illegal in CFF2; my question above was more whether and how much we should police this, and how make sure we don't end up with extra (illegal) widths in CFF2 charstrings when the `CFFFontSet` container is converted from CFF to CFF2.

[2017-07-27 06:14] justvanrossum opened #1020 "[varLib.mutator] support scalar calculation not working correctly"
The IUP interpolation doesn't seem to always do the right thing. For example, with

`$ fonttools varLib.mutator Skia.ttf wght=1.75 wdth=0.62`

I get this result:
<img width="164" alt="mutator" src="https://user-images.githubusercontent.com/4246121/28656638-58be42d4-72a3-11e7-8163-f1035233a4a5.png">

While in FontView I get this (at approximately the same location):

<img width="163" alt="fontview"

[2017-07-27 06:27] justvanrossum opened #1021 "[varLib / ttLib] pen/GlyphSet API would be very handy for variable fonts"
I would love the TTFont().getGlyphSet() API to be extended with variable font support. This is how I imagine this to work:

[code]

To do this properly, varLib will have to grow a cleaner API to work with coordinates and deltas.

I have attached a very rough and sketchy implementation that uses some hacked up bits from `varLib.mutator`. I think this shows which parts of varLib need to be redesigne

[2017-07-27 08:15] behdad commented on #1021
Sounds about right.  I'll give it a shot.

[2017-07-27 08:15] behdad commented on #1018
I'm not sure if we need to do that...

[2017-07-27 08:59] behdad commented on #1004
I can fix the code to allow configs where not all glyph is in all fonts.  I just need a few sample fonts...  I will probably require that all glyphs be available in the base master, which would catch an error like yours as well.

[2017-07-27 08:59] behdad commented on #1004
Though, it's not clear what to do with GPOS interpolation if masters have different glyph configs...

[2017-07-27 09:15] justvanrossum commented on #1004
I think all that's needed is a better error msg.

[2017-07-27 09:17] behdad commented on #1004
No, long-term I do want to allow masters that do not have all glyphs.  Aka the brace trick:
https://glyphsapp.com/tutorials/additional-masters-for-individual-glyphs-the-brace-trick

[2017-07-27 10:27] justvanrossum commented on #1004
Makes sense. But Miguel's case is clearly a mistake, where two glyphs with the same code point have different glyph names.

[2017-07-30 14:21] Pal3love opened #1022 "[ttLib.tables.O_S_2f_2] Should consistency check between `OS/2` fsSelection and `head` macStyle be necessary?"
In current version of fontTools, there is `OS/2` fsSelection and `head` macStyle consistency check upon compile. Intuitively it makes sense because those bits (and nameID 2 in the `name` table as well) control the Windows style-linking mechanism together.

For the latest fonts however, I found that many bundled fonts with weight bolder than "medium," like "semi-bold," "extra-bold" or "heavy," have

[2017-07-31 14:57] #1011 closed

[2017-07-31 21:59] miguelsousa commented on #906
Done in e61b05e83ba43c7f934f595a3f5347eabcae4864

[2017-07-31 21:59] #906 closed

[2017-08-01 10:09] #958 closed

[2017-08-01 10:13] anthrotype opened #1023 "CFF2 bounds calculation"
complete https://github.com/fonttools/fonttools/pull/970 with support for recalculating head/hhea/vhea bounds for CFF2 fonts.

[2017-08-04 14:54] gferreira commented on #997
@anthrotype I would happy to dedicate more time to the documentation if this work were funded.

Also, it would be great to integrate the docs to [ReadTheDocs](http://readthedocs.org/), so people can read it online.

[2017-08-07 08:18] justvanrossum commented on #1020
I've been trying to find the cause of the differences, and right now I conclude it's actually not the IUP code but something deeper. My current suspicion is that it has to do with intermediate regions, which is what's being used for that Q tail. I'll try to investigate further.

[2017-08-07 11:06] justvanrossum commented on #1020
I found the problem by comparing the support scalars used by FreeType. This section in `ttgxvar.c` is not implemented in varLib's `supportScalar()` function:

[code]
The patch to fix would be this:
[code]

I will try to locate the documentation that specifies this.

[2017-08-07 11:12] justvanrossum commented on #1020
Here it is, from https://www.microsoft.com/typography/otspec/otvarcommonformats.htm:

```If the given axis should not factor into the scalar calculation for a region, then this is achieved by setting peakCoord to zero. In this case, startCoord can be any non-positive value, and endCoord can be any non-negative value. It is recommended either that all three be set to zero, or that startCoord be set

[2017-08-07 11:34] anthrotype commented on #1020
Thanks @justvanrossum!

[2017-08-07 12:46] justvanrossum commented on #1020
@behdad, the possibly better fix would be the loosen this test in `TupleVariation.py`

[code]
to something like
[code]
I think that means the exact same thing. What do you think?

[2017-08-07 17:34] behdad commented on #1020
Thanks.  Correct fix is to move it out of that function into the mutator code.  I'll fix that.

[2017-08-07 17:35] behdad commented on #1020
I'm not even sure that check should be there at all.  Let me think.

[2017-08-07 17:41] justvanrossum commented on #1020
Hm, it makes a lot of sense to me to omit irrelevant axes from the location dict. That's what it's doing now, except it misses irrelevant axes (== peak coord at zero) that have non-zero values for start or end coords.

[2017-08-08 00:06] behdad commented on #1020
But this is the compile/decompile code.  It shouldn't throw things away, specially if there's more than one way to encode something and it's not just a byte-encoding issue.

[2017-08-08 00:07] behdad commented on #1020
Donno.  Not sure whether to leave it as is, or remove the current condition.  I'm definitely not supporting of relaxing it.

[2017-08-08 05:19] justvanrossum commented on #1020
The spec clearly says that a peak coord of zero means the axis should be ignored and that in that case the start and end values are irrelevant (as long as start <= peak <= end is ensured). The current decompile test makes it easier or other code to deal with that: an irrelevant axis is simply not there (also not in the gvar TTX output). The original implementation of `supportScalar()` nicely used

[2017-08-08 10:01] jenskutilek opened #1024 "[feaLib] Error messages not very useful"
I'm trying to build OTFs with fontmake from a Glyphs file, when feaLib fails.

It gives no hint which part of the feature file causes the error, so I have no clue where to start debugging ...

[code]

[2017-08-08 10:09] anthrotype commented on #1024
hm.. at line 159 of `lexer.py` I see:

[code]

https://github.com/fonttools/fonttools/blob/5906b53/Lib/fontTools/feaLib/lexer.py#L158-L159

so it should print the offending character and the location.

[2017-08-08 10:11] anthrotype commented on #1024
can you debug, or maybe send me the file and I try later?

[2017-08-08 10:17] jenskutilek commented on #1024
Interesting ... nothing is printed. I'll try to find out what's up.

[2017-08-08 10:49] jenskutilek commented on #1024
There was a no-break space in the feature code (U+00A0). `makeotf` seems to ignore it. Should we ignore it (treat as whitespace) in feaLib too?

[2017-08-08 10:58] anthrotype commented on #1024
yes, maybe we could treat nbsp as another whitespace and ignore it, though it would be nice if the Adobe Feature File specification mentioned explicitly what are the allowed whitespace characters. Currently it just says:

[code]

but why was the exception not printing the error message?

[2017-08-08 11:15] jenskutilek commented on #1024
nbsp is a non-ASCII char, but exception messages are ASCII in Python 2.7.

Something like this should help:

[code]

Other options that come to mind would be either ignore it because it works in Python 3, or solve via `misc/py23.py` for all cases. WDYT?

[2017-08-08 11:39] anthrotype commented on #1024
oh, if that's the case, then we just need to replace

[code]

so we use a correctly escaped ASCII-safe `repr()` for that character.

[2017-08-08 11:47] jenskutilek commented on #1024
OK, fixed it: f36c7ec

[2017-08-08 11:48] #1024 closed

[2017-08-08 11:48] anthrotype commented on #1024
thanks @jenskutilek!

[2017-08-08 11:50] anthrotype commented on #1024
maybe we could open a separate issue on the afdko repository on clarifying the exact whitespace characters that the parsers must support.

[2017-08-08 11:51] jenskutilek commented on #1024
I was thinking just that :)

[2017-08-08 11:55] jenskutilek commented on #1024
Done: https://github.com/adobe-type-tools/afdko/issues/191

[2017-08-10 15:30] jenskutilek commented on #1020
What’s not clear to me: When a region with peak 0 should be ignored, how could I achieve this scenario:

* axis `wght` from -1 to 1
* axis `ascn` which should lengthen the ascenders for the default weight (wght = 0), but not the extreme weights

The tuple variation entry for long ascenders could look something like this:

[code]
... except it is ignored because of the peak value = 0.0, and the res

[2017-08-10 16:04] PeterConstable commented on #1020
You need to divide the region into two.

[2017-08-10 16:41] jenskutilek commented on #1020
Hm… if I divide the region, the peak values still would need to be at 0:

[code]

One workaround I can think of is to add "counter deltas" which reverse the effect of the first delta:

[code]
But that seems rather like a dirty hack …

[2017-08-10 16:55] PeterConstable commented on #1020
Think about it the other way: the longest ascenders are at the default, and the peak in either direction shortens them.

Btw, 'ascn' is not a registered axis. Please conform to the spec and use uppercase, "ASCN".

[2017-08-11 02:30] behdad commented on #1020
All those restrictions are trying to make sure "default" instance is what you get from glyf table, with no gvar contributions.

[2017-08-11 02:32] behdad commented on #1020
Just!  It's *you* who wanted Coverage table Format parameter back even though it held no semantic value whatsoever!  Make up your mind.

[2017-08-11 06:03] justvanrossum commented on #1020
I did not miss the irony of that!
- could it be that maybe I'm slowly coming around the your point of view? :)
- the Coverage table discussion was (in hindsight) colored by the annoying code breakage of that change.

Also, there is a lot of inconsistency in fonttools, because, well, its history is _long_. Times change, contributors have different styles and views, consensus changes. This is your c

[2017-08-11 21:56] behdad commented on #1010
sgtm. Need a proposed place to put the checks that is not overly broad.

[2017-08-12 04:57] Pal3love commented on #1022
UPDATE:
My friend from Microsoft told me that Windows GDI will **forcibly** turn off the auto bold once fsSelection is set to **bold**, so this might be the reason why those fonts I listed above have such inconsistencies. Set fsSelection to bold can avoid **all possible auto-bolds** on Windows.

[2017-08-12 10:06] anthrotype commented on #1022
Interesting. Thanks for the info.
Could anyone try on a Windows machine and confirm this is the case?
I'd be fine with removing the warning.

[2017-08-13 09:12] Pal3love commented on #1022
Auto-bolding with usWeightClass >= 700 on Windows is rather a rare case, because the font's fsSelection has to be regular or anything else other than bold, and a 3rd-party rasterizer on Windows is required. For me, I use MacType, a front-end of FreeType on Windows, and that's why I had a chance to meet and hence, observe those trivia.

[2017-08-13 09:47] moyogo commented on #1022
From https://www.microsoft.com/typography/otspec/head.htm

We’re just following the specs. I’m fine with removing the warning but I’d strongly prefer the specs be updated especially since a major implementation might benefit from not following that statement.

[2017-08-15 18:20] jarrodlombardo commented on #999
Had to wait for some approvals about sharing the font. I'll email now.

[2017-08-18 22:21] readroberts opened #1030 "Bug in compiling/decompiling CFF2 PrivateDict Blue Values"
I've just discovered a bug in compiling and decompiling the Private Dict blended blue values, such as BlueValues or StdHW. Unlike the charstrings, the values held in the Private Dict objects and in ttx files, are absolute values from the source fonts rather than variation delta sets. These need to be converted to/from delta sets when compiling/decompiling. The bug is that the current logic uses th

[2017-08-19 00:26] brawer opened #1031 "[AAT] Cannot decompile AppleChancery"
Current fonttools crashes when decompiling the `opbd` table of the Apple Chancery font (version 8.0d1e1 of 2013-02-06, shipping on macOS 10.12.6). Likewise on some other AAT fonts. The problem only seems to occur with fonts whose `opbd` table is stored in format 4.

[2017-08-20 03:41] #1031 closed

[2017-08-23 18:08] vane commented on #993
Hi,
I have same problem unfortunately I cannot update python so easily. It doesn't depend on me.
I created pull request that fix this issue.
https://github.com/fonttools/fonttools/compare/master...vane:master
I tested it with python 2.7.5

[2017-08-24 23:54] mjsharpe opened #1037 "Problem running ttx on MacOS 10.12.6, python 2.7.11"
Attempting to run ttx from fonttools-3.15.1 invariably leads to the same error message. I didn't find any similar problem in the issues list or on the fonttools forum. Any suggestions?

$ ttx ../STIXMath-Regular.otf
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/2.7/bin/ttx", line 11, in <module>
    sys.exit(main())
TypeError: main() takes exactly 1 argum

[2017-08-27 07:03] moyogo opened #1040 "varLib: allow no master at default location"
On should be able to make a variable font with the default location at any instance, including one that has no master.

[2017-08-27 22:27] twardoch commented on #1040
This would be highly desirable.

A typical scenario would be that I have a 2-axes, 4-master design space setup (say: wght & wdth where A is Light Wide, B is Black Wide, C is Light Narrow and D is Black Narrow):

[code]

yet in the final font, I wish the neutral master to be a "Regular", so the final design space might look like:

[code]

If N is supposed to be the neutral master in the final font,

[2017-08-28 09:43] khaledhosny opened #1041 "Type1 to CFF?"
Anyone knows of existing code that uses FontTools to convert a Type1 font to a CFF table?

[2017-08-29 14:38] hkaraoglu opened #1043 "ImportError: No module named fontTools.ttx"
[code]

[2017-08-31 10:04] khaledhosny commented on #1041
I have something that seems to work (mostly appropriated from `ufo2ft`), but I’m strugling to save the resulting CFF table to file. I guess I need to wrap it an a complete font?
[code]

[2017-08-31 10:21] anthrotype commented on #1041
what error do you get?

[2017-08-31 10:23] khaledhosny commented on #1041
No error, I don’t know how to save a CFF table to disk and couldn’t find a way.

[2017-08-31 10:27] anthrotype commented on #1041
do you mean, compile and save the table's binary data to file?
Yeah, you'll need to pass a TTFont instance to the cff table's compile method.
An empty one should work

[code]

[2017-08-31 10:52] khaledhosny commented on #1041
This seems to work indeed, thanks!

[2017-08-31 10:52] #1041 closed

[2017-08-31 10:54] moyogo commented on #1041
Should this be added to Snippets?

On Thu, 31 Aug 2017 at 11:52 Khaled Hosny <notifications@github.com> wrote:

[2017-08-31 11:28] khaledhosny commented on #1041
I’m not sure how useful it is for general use, it does not handle hinting (probably can’t be done using pens), need to draw each glyph twice to get its width, does not handle AFM files (kerning, etc.), …

[2017-09-04 09:43] anthrotype commented on #1043
@hkaraoglu hi, sorry for the late reply.
It looks like fonttools wasn't properly installed, or it was removed/uninstalled but the scripts were left behind in `/usr/bin` folder.
Have been able to resolve it in the meantime?
How did you install fonttools?
Try to reinstall it, by doing `pip uninstall fonttools` and then again `pip install fonttools`.

[2017-09-04 09:43] #1043 closed

[2017-09-04 09:44] anthrotype commented on #938
the ipython dependency was removed with https://github.com/google/python-fire/releases/tag/v0.1.2

[2017-09-12 18:26] marcusds opened #1052 "[subset] --name-ids='*' does not appear to be working"
Using subset with --name-IDs='*' I would expect the "metadata" visible in the original font to still be visible on the subsetted file in fontforge, but it is not.

Here is  the command I am running and my verbose output:
`pyftsubset 400.ttf --unicodes-file=../basic-latin.txt --name-IDs='*' --name-legac
y=true --glyph-names=true --name-languages='*' --layout-features='*' --verbose`

[2017-09-12 18:50] anthrotype commented on #1052
For boolean options you do  `--name-legacy` or `--no-name-legacy` to enable/disable it; you don't have to add `=true` after it.

If you want to keep all the records in the name table, currently you have to pass these three options: `--nameIDs='*' --name-languages='*' --name-legacy`.

[2017-09-12 19:08] marcusds commented on #1052
Same issue, even with those 3 parameters.

`pyftsubset 400.ttf --unicodes-file=../basic-latin.txt --name-IDs='*' --name-lang
ages='*' --name-legacy --verbose`

[2017-09-12 19:27] anthrotype commented on #1052
with those options, the name table should not be subsetted.
if you compare the name table of the source font with the name table of the subsetted font, they should be identical.
You can dump only the name table with `ttx -t name font.ttf`, and then use the `diff` command or another diffing tool to verify that it didn't change.
If it does change, please paste the output of diff here.
Thanks.

[2017-09-12 19:47] marcusds commented on #1052
The name files don't match.

The name file for the subset is blank:
<

[2017-09-12 20:11] anthrotype commented on #1052
I assume the source font's name table is not empty? (sorry if I'm asking)

[2017-09-12 20:23] marcusds commented on #1052
Yup, it has a bunch of info nameIDs 0 through 14 for platforms 1 and 3.

[2017-09-12 20:28] anthrotype commented on #1052
wow, this is weird. Could you send me a copy of the font maybe? cosimo [at] anthrotype.com

[2017-09-12 20:45] marcusds commented on #1052
Sent.

[2017-09-12 21:03] anthrotype commented on #1052
thanks for the font. I cannot reproduce the issue.

I tried running this command:

[code]

and the file 400.subset.ttf _does_ contain a non-empty name table with all the original name records.

[2017-09-12 21:06] anthrotype commented on #1052
can you tell me what fonttools version you're using (try `ttx --version`) and what python version and what operating system etc?

[2017-09-12 21:25] marcusds commented on #1052
fonttools 3.15.1
Python 2.7.13
Windows 7

[2017-09-12 23:19] anthrotype commented on #1052
mystery solved. On windows command prompt, you need to use double quotes instead of single quote to enclose command line arguments such as `--name-IDs="*"`, otherwise if you do `--name-IDs='*'` what Python receives is actually `'*'` instead of plain `*`.

[2017-09-12 23:19] #1052 closed

[2017-09-14 10:12] yanone commented on #820
Hi everyone,

I'm currently writing a subsetter that will remove the features and glyphs that I want.
I've implemented removal of lookups and features so far.

Is there a built-in way to remove a glyph from the font? Otherwise it seems like I need to go through all the tables and remove all references to the glyph, change GID references etc.

Thank you.

[2017-09-14 15:35] anthrotype commented on #820
oh, so you gave up on using the fonttools subsetter and decided to write your own? I'm sorry I didn't have a chance to have a look at this issue yet.. I'll try to get back to it after ATypI is over.

That's exactly what the fontTools.subset module is meant to do.
You could import and instantiate a `Subsetter` class with some options, call `populate` method with the glyphs you want to keep (so, to

[2017-09-15 10:56] jenskutilek opened #1055 "[AAT] morx table decompilation fails for Ayuthaya font"
Current version of Ayuthaya.ttf (macOS 10.12.6) throws an error:

[code]

[2017-09-15 10:58] jenskutilek commented on #820
IIRC, `--layout-features-='smcp,c2sc'` doesn’t work, you have to list all the features you want to keep explicitly.

[2017-09-15 11:01] jenskutilek commented on #1037
How do you get Python 2.7.11 on macOS 10.12.6, did you install it yourself? The official Python version shipped by Apple is 2.7.10.

Also, usually fontTools are not installed into `/Library/Frameworks/Python.framework/`.

In general, it’s not a good idea to mess with the preinstalled Python on macOS.

[2017-09-15 12:34] yanone commented on #820
I tried **everything**. It just won't work. See my longer explanation 5 posts above.
Either features get dropped that are not supposed to get dropped, or all unencoded glyphs disappear, or something else happens that I can't explain.

Have you used the tool successfully to drop a certain feature together with their target glyphs? If so, how?

[2017-09-15 13:01] jenskutilek commented on #820
Ah sorry, I missed that scenario above. Yes, I have used it successfully a while ago, let me look up how I did it ...

[2017-09-15 13:13] jenskutilek commented on #820
I think you need to exclude the `aalt` features from your list of features to keep. It will be rebuilt/subset anyway. If you ‘force keep’ it by including it in the list, it will cause the smallcaps to be kept in the font because the original `aalt` likely contains a reference to the `smcp` and `c2sc` features.

[2017-09-15 13:16] jenskutilek commented on #820
Example:
[code]

… successfully gets rid of all the small caps and petite caps glyphs for me.

[2017-09-15 13:19] yanone commented on #820
WOW!
Now we're getting places. The main difference is that you used `--unicodes='*'`, whereas I kept using the `--glyphs` parameter with different values.

It works, but the `aalt` feature does not get rebuilt. I may have to do that manually?

[2017-09-15 13:37] yanone commented on #820
It now also removes ghost glyphs, like narrow versions of accents that are decomposed in a CFF font. Awesome.

@anthrotype
So I think we can close this. Thank you all.

The only question that remains is about the `aalt` feature that appears to be necessary to remove for the intended result. I could make a copy of it, then re-add it afterwards, then weed out the now missing glyphs.
But that feels l

[2017-09-15 15:43] behdad commented on #820
Huh.  Yeah, if you ask it to keep all glyphs, it will keep all glyphs. :)

Yeah, aalt is not special-cased.  We can have a snippet to do that.

[2017-09-15 15:43] #820 closed

[2017-09-15 16:01] behdad commented on #1055
@brawer

[2017-09-15 16:33] jenskutilek commented on #820
Ah, I checked the features in FontLab Studio after subsetting, and FontLab seems to build an aalt feature on import :/ It is not actually in the subsetted font.

[2017-09-15 18:02] twardoch commented on #820
It's possible. aalt is an odd thing.

[2017-09-15 22:15] mjsharpe commented on #1037
Hi Jens,
Thanks for your response. I installed 2.7.11 from the Python binary distribution site. It installs into /Library/Frameworks/Python.framework/ and sets PATH to pick this up before the Apple installation of 2.7.10. I then used pip from 2.7.11 to install fonttools. I've never had trouble with using a python version this way.

I believe i've found the problem in ttx and corrected it on my mac

[2017-09-15 23:08] anthrotype commented on #1037
This is strange. You should not see any such error if you install fonttools then normal way via pip. Can you please make sure fonttools is properly installed? Try uninstalling and reinstalling it using pip. Make sure there is no other fontTools apart from the pip installed one that may be polluting your PYTHONPATH

[2017-09-16 03:41] miguelsousa commented on #820
I agree. The same can be said of F-lab.

[2017-09-16 09:12] khaledhosny commented on #820
Personally I’d just drop `aalt` completely from the font. It seems to have been meant to be used by things like Glyph Palette in InDesign and IIRC it still works just fine without `aalt`.

[2017-09-16 09:16] yanone commented on #820
Setting text with the font will work. The functionality of the Glyph Palette in InDesign will be broken, as you said. So for a professional font ´aalt´ is not optional for me.

[2017-09-16 09:57] khaledhosny commented on #820
I can’t test this now, but I think the functionality of the Glyph Palette will *not* be broken if `aalt` is missing.

[2017-09-16 10:13] yanone commented on #820
Good point. I just checked. The results are mixed.
InDesign does rebuild the feature in a way. But not all links get preserved.

For instance, the original font had a capital version of *ordfeminine* show up in the Glyph Palette alternates, called *ordfeminine.caps*, that gets lost without the `aalt` feature. Glyphs.app (in my case) calculated these links explicitly for the `aalt` feature.
InDesig

[2017-09-16 16:32] anthrotype commented on #930
I see that varLib's fvar builder is not using that `addMultilingualNames` method yet, and only adds English names (via `addNames` method). For the time being, couldn't we just use the hard-coded mappings we already have, or do must we wait for full support for BCP-47 tags normalization?

[2017-09-16 17:30] mjsharpe commented on #1037
I think I understand now where the problem lies. It appears that pip uninstall fonttools does not remove the contents of the fontTools subfolder of FontTools, leaving in place a quite old (2013) version of ttx.py that works differently from the current one. After I replaced the contents of FontTools/fontTools with the files from a new installation on a machine that had not previous installation of

[2017-09-16 18:59] anthrotype commented on #1037
Just remove anything you had previously manually installed and install again with pip.
There should no longer be a container "FontTools" folder if you install the latest fonttools using pip.
We dropped that long time ago.

[2017-09-16 18:59] #1037 closed

[2017-09-16 19:16] brawer commented on #930
Agree, I think the current function is OK for now. It can always be improved later.

[2017-09-16 20:44] anthrotype commented on #930
The `addMultilingualNames` method adds Macintosh (platform 1) nameIDs only when it can't find a match for a given BCP-47 tag among Windows (platform 3) language ids.

The `addNames` method currently used by default adds both Mac and Windows (English) nameIDs.

If we un-comment that line and use the former instead of the latter, that means we would no longer add both sets of nameIDs for fvar axes n

[2017-09-16 21:30] brawer commented on #930
Uhm, why not try and see what works?

[2017-09-17 03:06] miguelsousa commented on #820
Photoshop's Glyphs palette also heavily relies on the presence of the `aalt` feature.

[2017-09-17 09:24] twardoch commented on #820
My impression has been that if aalt isn't defined in the font, Illustrator or InDesign will synthesize it so to speak, i.e. generate the variant relations based on other features. Having aalt is useful however if we want to override this behavior i.e. only specify certain features to be used to generate the variant relations. Some features may not be suitable for being exposed in the "pick alterna

[2017-09-18 02:28] mac-chaffee opened #1056 "Unhashable type: "Feature" when using merge.py"
I was actually using [EmojiOne's windows install script](https://github.com/eosrei/emojione-color-font/blob/master/windows/install.cmd#L59-L60) at the time.

[code]
[Source code link](https://github.com/fonttools/fonttools/blob/master/Lib/fontTools/merge.py#L999)

[2017-09-18 11:20] jenskutilek commented on #820
I have frequently seen fonts with some glyph alternates linked only in the `aalt` feature, like one-off variants or those ten different ampersands that didn’t fit in any other supported feature. Those fonts rely on the `aalt` feature to make these glyphs available (or at least easier discoverable) through the glyphs palette in InDesign and Photoshop.

So I’d second the argument that it’s a good id

[2017-09-18 12:50] yanone commented on #820
And, probably more importantly: exclude the `aalt` feature from the glyph subsetting calculations when it shall be kept.
The biggest obstacle for the Small Caps glyphs that I couldn't get deleted from the font earlier was that I didn’t exclude the `aalt` feature with all the references to the `.sc` glyphs.

[2017-09-18 16:53] behdad commented on #820
If there's a concrete proposal re aalt please file a new issue.  We can add code to synthesize aalt, and add option to subsetter to call it.

[2017-09-18 18:32] brawer opened #1057 "Merge failure for Noto"
This merge command:

[code]

fails with the following error:

[code]

The same error happens for quite a few other fonts in Noto. Examples are NotoSansCarian-Regular.ttf or NotoSansDeseret-Regular.ttf, but there's more. See the attached [merge-failures.zip](https://github.com/fonttools/fonttools/files/1311746/merge-failures.zip) for some fonts I'm trying to merge.

This might also be a problem wit

[2017-09-18 19:48] brawer commented on #1057
I’m running a script to find all shards that cause merge failures, but it it won’t finish before I board my flight. Here’s the merge failures my script has found so far: NotoSansAnatolianHieroglyphs, NotoSansBamum, NotoSansCarian, NotoSansCuneiform, NotoSansCypriot, NotoSansDeseret, NotoSansDevanagari, NotoSansEgyptianHieroglyphs, NotoSansGlagolitic, NotoSansImperialAramaic.

@behdad, can you tell

[2017-09-19 07:12] yanone opened #1058 "[subset] Add option to retain `aalt` feature after subsetting"
The problem:
When certain features shall be dropped whose participating glyphs are also referenced in the `aalt` feature (such as the target glyphs of `smcp` and `c2sc` in my earlier issue), it is necessary for the intended result to explicitly drop the `aalt` feature along them to remove all references to the droppable glyphs.
But one may want to actually keep the `aalt` feature.

The solution:
A

[2017-09-19 07:14] yanone commented on #998
This reminds me of an issue I had earlier.
Keep in mind that *pyftsubset* will not remove glyphs or features when they are still being referenced in other features that you didn’t say you want to drop. Pay special attention to the `aalt` feature. Loads of glyphs are referenced there.

[2017-09-19 08:14] jenskutilek commented on #1058
Let me try to write down the logic of special-casing the `aalt` feature.

- `aalt` is dropped completely if it is not in the requested features list (option `--layout-features`).
- `aalt`is kept but treated differently than the other features if it is in the requested features list, as follows.
- Lookups that are referenced in `aalt` as well as in a feature that is to be dropped, are also dropped

[2017-09-19 08:48] brawer opened #1059 "[merge] Cannot merge variable fonts"
The following command fails:

[code]

[2017-09-19 19:44] behdad commented on #1059
Right...

If and when I fix this, then we can merge variable fonts, which means different scripts would not need to have the same master configuration, just the same design range.

[2017-09-23 17:41] MartinPerry opened #1061 "Font line height is different from originall font"
It was already discussed here (https://github.com/fonttools/fonttools/issues/336), but I have the same problem and the proposed solution with --text-file is not working.

Example of my script:
`pyftsubset "NotoSans-Regular.ttf" --output-file="subset_NotoSans-Regular.ttf" --text-file="glyphs_NotoSans-Regular.ttf.txt" --hinting --layout-features='*' --glyph-names --symbol-cmap --legacy-cmap --notdef

[2017-09-26 07:06] MartinPerry commented on #1061
As it turns out, this was not pytfsubset error, but I had corrupted input ttf file.

[2017-09-26 07:06] #1061 closed

[2017-10-02 03:17] mashabow opened #1062 "cmap format 2: single byte of 1-byte character vs first byte of 2-byte characters"
I found a difference in `subHeaderKeys[]` of [cmap subtable format 2](https://www.microsoft.com/typography/otspec/cmap.htm#format2), while modifying a font originally generated from makeotf. This subtable is for (legacy) [MacJapanese](http://unicode.org/Public/MAPPINGS/VENDORS/APPLE/JAPANESE.TXT), and built from [83pv-RKSJ-H CMap](https://github.com/adobe-type-tools/afdko/blob/master/FDK/Tools/Sha

[2017-10-04 14:36] typemytype opened #1064 "fontTools/misc/sstruct.py:75: DeprecationWarning: integer argument expected, got float"
[code]

[2017-10-04 14:43] typemytype commented on #1064
those `math.ceil` and `math.floor` must be an `int`

see https://github.com/fonttools/fonttools/blob/master/Lib/fontTools/ttLib/tables/_h_h_e_a.py#L71
also in vhea see https://github.com/fonttools/fonttools/blob/master/Lib/fontTools/ttLib/tables/_v_h_e_a.py#L70

[2017-10-04 14:46] typemytype commented on #1064
at least in py2, I just see in  py3 math.ceil returns a int, pff

[2017-10-05 12:28] anthrotype commented on #1064
Thanks @typemytype

[2017-10-05 14:39] davelab6 commented on #1040
After generating EFGHN, can ABCD be removed? Since eg B is E+H

[2017-10-05 15:08] petrvanblokland opened #1065 "Decompile from working TTF. What to do about this error?"
Traceback (most recent call last):
  File "findParametricAxes.py", line 35, in <module>
  File "findParametricAxes.py", line 23, in findTTF
  File "/Users/petr/Desktop/git/Pagebot/Lib/pagebot/fonttoolbox/analyzers/glyphanalyzer.py", line 60, in _get_verticals
  File "/Users/petr/Desktop/git/Pagebot/Lib/pagebot/fonttoolbox/analyzers/glyphanalyzer.py", line 76, in findVerticals
  File "/Users/petr/D

[2017-10-05 15:16] anthrotype commented on #1065
it means the loca table has an offset that's pointing beyond the length of the glyf table so something must be wrong in the font...

[2017-10-05 17:39] davelab6 commented on #1065
What do other validators say (eg Hin-Tak FontVal, ftxvalidator,
FontLab/FontForge "Check Problems", OTMaster)

[2017-10-06 08:33] jenskutilek opened #1066 "[varLib] mutator and cvt/cvar"
Looking for clarification on the cvar table ...

I created the branch [varlib-mutator-cvar](https://github.com/fonttools/fonttools/tree/varlib-mutator-cvar) where I added code to interpolate the cvar table with the same rules as the glyf variations: https://github.com/fonttools/fonttools/blob/varlib-mutator-cvar/Lib/fontTools/varLib/mutator.py#L155

To find out if the code is correct, I added a cv

[2017-10-06 10:06] moyogo commented on #1066
@jenskutilek When I open BuildMain.ttf in VTT, it shows the Varied CVT `0: 487 (13)` in the Variation CVT window.

[2017-10-06 10:08] moyogo commented on #1066
/cc @jmsole Could you describe how you handled the Variation CVT deltas?

[2017-10-06 10:12] jenskutilek commented on #1066
Thanks for having a look!

Yes, in VTT the variation cvts look correct, but when I generate an instance with varLib.mutator using my code, the instance wght=1000 cntr=100 has cvt 0 = 500 (474 + 13 + 13). I’m not sure if the error is in my code or the VTT-generated cvar.

[2017-10-06 10:14] moyogo commented on #1066
From what I saw, the deltas entered in VTT don’t always match what is rendered even in VTT.

[2017-10-06 10:15] anthrotype commented on #1066
@jenskutilek please open a PR from that branch so we can comment the code in-line

[2017-10-06 10:22] jenskutilek commented on #1066
PR: https://github.com/fonttools/fonttools/pull/1067

[2017-10-06 17:41] robmck-ms commented on #1066
I'm not sure that VTT is computing off-axis deltas for cvar correctly. It appears to be not including the contribution of on-axis deltas. I'm investigating. Meanwhile, I wouldn't take VTT's cvar entry for this as an authoritative reference.

[2017-10-06 17:46] robmck-ms commented on #1066
I.e. in Jens' example above, the entry for (cntr=0,wght=1) contributes a delta of 13, thus the delta at (cntr=1,wght=1) should be 0 (so that the net delta is 13). And, with a delta of 0, the entry for (cntr=1,wght=1) shouldn't have even been emitted.

[2017-10-07 10:37] behdad commented on #1040
No. And that's not true.

[2017-10-08 00:27] davelab6 commented on #1040
Ok cool, thanks for confirming. Fyi we have about 20 GF families set up AB or ABCD and can't generate them with fontmake

[2017-10-08 06:54] moyogo commented on #1040
@davelab6 could you report the errors or what is needed as issues on the fontmake repo?

[2017-10-08 09:17] m4rc1e commented on #1040
@moyogo sure!

[2017-10-08 09:28] anthrotype commented on #1040
The error in this cases should be this AssertionError
https://github.com/fonttools/fonttools/blob/ae73c45e6a8d27381020538a422964d24a3926af/Lib/fontTools/varLib/__init__.py#L813

[2017-10-09 11:08] davidseah commented on #156
@cbreeden did you managed to find a solution for the reordering of the glyph? I needed this feature for a project and found this thread.

[2017-10-09 12:08] jenskutilek opened #1068 "Travis build on Python 3.6 fails"
Currently the Travis builds on Python 3.6 fail during `install.sh`. Example:
https://travis-ci.org/fonttools/fonttools/jobs/285520779

[code]

I dont’t know much about either Travis or Homebrew …

[2017-10-09 12:40] anthrotype commented on #1068
upstream bug in Travis CI or homebrew...

https://github.com/travis-ci/travis-ci/issues/8552

we can temporarily allow it to fail until they fix it or we find a workaround.

[2017-10-09 13:14] anthrotype commented on #1068
@jenskutilek Ok, I temporarily commented out the python3.6 osx build. You can merge master in your PR branch to avoid seeing those unrelated failures.

[2017-10-09 13:22] jenskutilek commented on #1068
Thank you!

[2017-10-09 13:31] anthrotype commented on #1068
Let's keep it open as reminder to reenable the failing OS X build once they fix the upstream issue

[2017-10-09 14:26] jenskutilek commented on #1066
Thanks. Closing because this is not a fontTools issue.

[2017-10-09 14:26] #1066 closed

[2017-10-11 09:07] anthrotype opened #1070 "add a programmatic interface to mutator.py"
Right now it's set up as only a command line tool.
It would useful to have something like the subsetter module.

[2017-10-11 09:42] behdad commented on #1070
@garretrieger

[2017-10-12 14:35] #1068 closed

[2017-10-12 23:03] robmck-ms opened #1072 "Instantiating a STAT table or DesignAxisRecord"
Dumb question: How do you programmatically instantiate a new STAT table. `font['STAT'] = newTable('STAT')` does instantiate a STAT table object, but it doesn't have a `table` member, etc. Seems like the constructor doesn't fully set everything up?

While I'm at it: How do you instantiate a new DesignAxisRecord to add to an existing STAT table?

There doesn't seem to be a lot of docs on tables & ob

[2017-10-13 15:49] jenskutilek commented on #1072
I haven’t tried it myself, but it should be analogous to this snippet generating a HVAR table from varLib:

[code]

[2017-10-13 16:11] jenskutilek commented on #1072
All objects seem to come from `fontTools.ttLib.tables.otTables` and you have to figure out how to combine them:

[code]

[2017-10-13 16:59] robmck-ms commented on #1072
This is great. Thanks!

[2017-10-13 16:59] #1072 closed

[2017-10-13 18:05] davelab6 commented on #952
Seems related to https://github.com/fonttools/fonttools/issues/1072

[2017-10-15 08:45] m4rc1e opened #1074 "Glyph side-bearing attributes"
It would be nice to have these attributes in the glyf table or any other suitable table.

[code]

I've needed these attributes on a few occasions. My usual approach is:

[code]

I understand that glyph side bearings may be a concept of font editors and not any font spec.

More than happy to implement this and submit a pr if people approve.

[2017-10-15 10:43] khaledhosny commented on #1074
The left side bearing and glyph advance are stored in the `hmtx` table, the right side bearing is the difference between x max and glyph advance.

[2017-10-15 10:48] khaledhosny commented on #1074
[code]

[2017-10-15 10:53] m4rc1e commented on #1074
@khaledhosny Thanks, I pretty much the same thing in my example.

[2017-10-15 10:56] anthrotype commented on #1074
For higher level stuff that's shared among glyf/CFF glyphs there is the ttLib._TTGlyph class. That already has both advance width and lsb. You could add a property that returns the rsb as well.

[2017-10-15 10:56] anthrotype commented on #1074
That's the objects that you get when you do TTFont.getGlyphSet()

[2017-10-15 11:00] m4rc1e commented on #1074
@anthrotype I see :-)

[code]

Mind if I implement rsb?

[2017-10-15 11:07] anthrotype commented on #1074
If don't mind if you do, thanks :)

[2017-10-15 11:20] anthrotype commented on #1074
For consistency then you should also add a `bsb` (bottom side bearing) property if font has vmtx table.

Although I'm not super concinced of the necessity of these extra attributes at this level.. I think they are a bit fictitious, in the sense that they are not "there" in the font, but only derived from other data. It has to be clear to the user that there is no "right side bearing" value in the

[2017-10-15 12:48] m4rc1e commented on #1074
Closing due to discussion in #1075

[2017-10-15 12:48] #1074 closed

[2017-10-15 15:48] anthrotype commented on #1070
ca7c359

I just added an `instantiateVariableFont` function that takes a variable TTFont and a dictionary of axes locations, and returns a new static TTFont.

@behdad @garretrieger @rsheeter Is that what you had in mind?

[2017-10-15 16:12] rsheeter commented on #1070
Yes, awesome! Hm. Bonus points if it can partially instantiate. For
example, I want to keep wght but pin a specific wdth, dropping data
relating to varying wdth.

On Sun, Oct 15, 2017, 8:48 AM Cosimo Lupo <notifications@github.com> wrote:

[2017-10-15 17:36] justvanrossum commented on #1070
Also relates to #1021

[2017-10-15 22:00] behdad commented on #1070
Will happen eventually, but not any time soon.

[2017-10-15 22:02] behdad commented on #1070
I'm merging because I like to touch this module.  Might rename the entry point.

[2017-10-15 22:03] behdad commented on #1070
Oh, this is not a PR :D

[2017-10-16 08:46] anthrotype commented on #1070
please do, I wasn't sure either.

[2017-10-16 22:46] felipesanches opened #1076 "Error: unpack requires a string argument of length 4"
![31041355-425f948a-a56a-11e7-9389-ca011a83904a](https://user-images.githubusercontent.com/213676/31638519-dc049db0-b2b2-11e7-8977-d3140ebdc06d.png)

Interestingly, when trying to use ttx to inspect the file contents I get a similar error, which makes me believe this is a case of corrupted TTF files:

![31041363-6697f626-a56a-11e7-9725-c51b41ed8c87](https://user-images.githubusercontent.com/213676

[2017-10-16 22:48] felipesanches commented on #1076
To replicate this bug, you can run ttx on the **ofl/seoulnamsan/SeoulNamsan-Bold.ttf** from the google/fonts git repo (at commit bb5c17d9c67039166a4f1f5894cdd2629156d13d).

[2017-10-18 00:05] behdad commented on #1057
I need to resurrect some of https://github.com/fonttools/fonttools/pull/880 to fix this.

[2017-10-19 06:35] davidseah opened #1077 "Rearrange tables order"
Will it be possible to have a feature that allows us to rearrange the tables order? Something like the GlyphOrder.

[2017-10-19 07:14] justvanrossum commented on #1077
Check `fontTools.ttLib.reorderFontTables()`

[2017-10-19 12:09] #993 closed

[2017-10-19 12:16] anthrotype commented on #993
It turns out some fonttools users are still stuck with pythons older than 2.7.7.

I wouldn't like to add another Travis build to check for such old python, it's slow enough already.
Let's content ourselves of occasionally fixing things based on users' report.. Until the https://pythonclock.org/ finally reaches its end.

[2017-10-19 12:22] anthrotype commented on #993
for this specific issue with the py27 struct module, fonttools devs should remember to use explicitly use bytes for the struct.pack and unpack format string (using the ``b""` notation) whenever the module in which the call to struct appears also imports `unicode_literals`.
The `unicode_literals` module is known to have some issue with some stdlib modules, but sometimes the convenience of not prefi

[2017-10-19 15:45] behdad commented on #1077
I'm curious. Why do you need that?

[2017-10-20 11:00] davidseah commented on #1077
@behdad we are looking into the possibility to stream our TTF files, allowing just enough data to draw the first few glyphs while loading the rest of the TTF data.

[2017-10-20 20:14] behdad commented on #1070
Let's leave it as is.

[2017-10-20 20:14] #1070 closed

[2017-10-23 15:00] typemytype commented on #1064
(I cannot reopen)

similar issue:

[code]

[2017-10-23 15:05] anthrotype commented on #1064
hm. where do those floats come from?

[2017-10-23 15:07] typemytype commented on #1064
dont know (yet)