[2018-05-10 11:07] madig commented on #1259
Whoops, didn't find that one. Maybe a more explicit error message would have helped. Can write something soon.

[2018-05-10 14:53] #1207 closed

[2018-05-11 06:54] BlackFoundry opened #1260 "fontTools merge.py: mark2mark OT feature broken"
When merging a freshly compiled font from "NotoSansThai-MM.glyphs" font with "NotoSans-Regular.ttf" (Latin) the "mkmk" OT feature seems to be broken when testing the resulting font (mark to mark not stacking as intended)

test case:
[gist](https://gist.github.com/BlackFoundry/7950dde3b67e2deded3729065fb894ec)
resulting NotoSansThaiOnly-Regular.ttf works as expected
while NotoSansMergedThai-Regular

[2018-05-17 07:59] BlackFoundry commented on #1260
Didn't found the reason of why, and not sure whether it comes from GPOS 'mkmk' or GSUB 'ccmp' features yet.
But swapping the order of the fonts to merge solved the issue: first Thai, second Latin.

[2018-05-22 20:59] behdad opened #1264 "[varLib.mutator] Does not mutate weight/width/italicAngle"
Because those are not in MVAR, but in standard axes. Quoting MVAR spec:

There's probably some binary flags that we can also tweak, re boldness, italicness, etc of the font.

[2018-05-23 00:15] behdad commented on #1248
Anyone want to take a stab at this?

[2018-05-23 00:15] behdad commented on #1213
Can we push the fix for this?

[2018-05-23 00:16] behdad commented on #924
This is fixed now.

[2018-05-23 00:16] #924 closed

[2018-05-23 13:29] behdad commented on #1213
We must create HVAR. It's presence has semantic significance. If it's missing, layout engines have to load glyph shape to deduce advance variation. If there's no advance variation, empty HVAR should be encoded.

[2018-05-23 13:33] anthrotype commented on #1213
ok

[2018-05-23 13:47] anthrotype commented on #1213
so just to be clear, the current code is correct and there's nothing else to do?

[2018-05-23 21:10] chrissimpkins commented on #1210
Suggestions for *.ttc currently in repository test data directories to use for these tests?  There is this in the ttx test data directory: https://github.com/fonttools/fonttools/blob/master/Tests/ttx/data/TestTTC.ttc

[2018-05-23 21:36] bobh0303 opened #1265 "request: support for dlng and slng"
Now that UFO3 spec includes `public.openTypeMeta` in [lib.plist](http://unifiedfontobject.org/versions/ufo3/lib.plist/), could we get support for `dlng` and `slng` [metadata tags](https://docs.microsoft.com/en-us/typography/opentype/spec/meta#metadata-tags)?

[2018-05-24 03:46] behdad commented on #1213
Sounds about right.

[2018-05-24 03:47] behdad commented on #1213
Sounds about right.

[2018-05-24 03:47] #1213 closed

[2018-05-24 10:48] anthrotype opened #1266 "convert README and Doc files to markdown?"
PyPI recently added support for package `long_description` set in Markdown format, and Sphinx also supports Markdown (see http://www.sphinx-doc.org/en/master/usage/markdown.html).
ReStructuredText may be more powerful, but life is too short to learn another markup language, and most people are already familiar with Markdown.
I also believe that having the docs set in Markdown instead of RST may lo

[2018-05-24 10:50] anthrotype commented on #1266
I'm especially keen on hearing @gferreira opinions on this, since he's the "Sphinx expert" in our font community :)

[2018-05-24 11:35] gferreira commented on #1266
not sure I qualify as a “Sphinx expert”… but here’s my 2¢:

- all Sphinx projects I’ve worked on were written in reST. I have yet to see a project using Sphinx with Markdown.

- it’s very easy to learn reST (and Sphinx) by looking at the source code of vanilla, defcon, fontParts, drawBot etc.

- the biggest barrier to writing documentation is writing documentation :)

[2018-05-24 12:06] gferreira commented on #1266
the README is something else… I agree it should be written in markdown.

BUT the current fontTools README is too long, because it tries to be documentation. I would make it shorter and move some of the content to the Sphinx docs; and integrate the docs with ReadTheDocs, to make it more accessible.

see for example [defcon](http://github.com/typesupply/defcon), [fontParts](http://github.com/robofab

[2018-05-24 12:55] belluzj commented on #1266
+1 specifically for putting the documentation online (and putting a link to it at the top of the README?)

and not only manually written docs but also generated documentation from docstrings for methods etc.

[2018-05-24 14:21] anthrotype commented on #1266
There's some discussion about the limitations/intended usage of markdown support in Sphinx/ReadTheDocs here: http://blog.readthedocs.com/adding-markdown-support/

Hm, I guess I'll have to learn reStructuredText anyway.. :unamused:

It'd be great if someone stepped up to becoming the maintainer of the documentation portion of FontTools. I myself am too busy with other work and likely won't be able

[2018-05-24 16:30] chrissimpkins commented on #1266
This is automated with RTD and is simple to implement.  The sphinx-quickstart configuration tool does most of the work for you and RTD updates with every commit pushed to the repository so there is no documentation maintenance involved.  Any undocumented areas would just need to have the docstrings updated.

Agree.  Would add that it would be helpful to have separate Markdown documentation (or a d

[2018-05-25 09:50] LettError commented on #1238
Ok to close?

[2018-05-25 09:52] anthrotype commented on #1238
I'd say, let's keep it open until we address the second part of the issue:

[2018-05-25 09:52] anthrotype commented on #1238
or if you prefer, go on and close this and open a new separate issue for the latter, thanks

[2018-05-25 09:54] LettError commented on #1238
Just trying to prune some of the long-open-stale-issues.

[2018-05-28 13:29] petrvanblokland opened #1268 "Suggested addition of error print in debugging VF building"
I am using this useful local change, to get an indication for what is causing the doubling, instead of plain assert.

	def getMasterLocationsSortKeyFunc(locations, axisOrder=[]):
		assert {} in locations, "Base master not found."
		axisPoints = {}
		for loc in locations:
			if len(loc) != 1:
				continue
			axis = next(iter(loc))
			value = loc[axis]
			if axis not in axisPoints:
				axisPoints[ax

[2018-05-28 21:10] typemytype commented on #868
these warnings are still present, coming from
[code]

[2018-05-28 21:18] anthrotype commented on #868
I know. For now, you could set up a warnings filter to mute those.
We will use `frombytes` once we drop python2.7 support (sometime next year I hope).
I don't think they will drop `fromstring` from python3's `array` module anytime soon, because it would make it difficult to write code that's compatible with both py2 and py3.
We could also define a wrapping function that calls the non-deprecated me

[2018-05-28 21:32] typemytype commented on #868
fair enough :)

thanks!

[2018-05-29 22:04] behdad commented on #1268
Thanks. You can add the debug message to the assert itself as its second argument. Feel free to send a pull-request.

[2018-05-31 13:56] bobh0303 commented on #1265
I misunderstood -- looks like meta table is already supported.

[2018-05-31 13:56] #1265 closed

[2018-06-05 21:26] justvanrossum opened #1269 "[varLib] 2D designspace with 6 masters creates wrong var font"
The enclosed designspace contains two axes, "FOOO" and "BARR". There are masters at all four corners, as well as intermediate masters in the middle of the "BARR" axis at both "FOOO" master positions.

At FOOO=0 all is well. At FOOO=1, the resulting shape at BARR=0.5 is wrong, and does not match the master at that position.

Below is the complete gvar.

What is curious is that the FOOO=0 BARR=1 del

[2018-06-06 10:57] thundernixon commented on #1269
Thanks so much for helping file a simplified version of this issue, @justvanrossum!

In case it's useful to show how this affects a real-world font, I'll show a few letters of a current project. I'm showing this in FontView, but the same error appears in browsers, Illustrator, etc. I have a font with a "genre" axis and a weight axis. The first genre works well across weights, but the middle weight

[2018-06-06 11:51] anthrotype commented on #1269
Thanks both for the detailed report. It might have to do with the improved support-resolution algorithm @behdad worked on recentely.

To help visualise the designspace with an interactive 3d plot, you could try running this command:

[code]

Which gives this (here it's a static png, but in the matplotlib window, you can also zoom, pan, etc.):

![figure_1](https://user-images.githubusercontent.com/

[2018-06-07 12:10] anthrotype commented on #1095
Ok, I convinced myself that we should fold https://github.com/fonttools/ufoLib2 as `fontTools.ufoLib`.
I want to start using it in ufo2ft, glyphsLib, fontmake, but I don't want to support an additional package.

Since it requires a few third-party libraries (lxml, attrs, cattrs), I'm gonna make it into a so-called "extra" feature named "ufo".
So if one wishes to install fonttools with UFO support,

[2018-06-07 13:48] benkiel commented on #1095
@anthrotype I've not been following ufolib2, it's actually the first time i've seen it: can you comment on what was ported from ufolib, how it's been tested to conform to the spec and how ufolib behaves?

[2018-06-07 14:10] anthrotype commented on #1095
hey @benkiel. I opened that repo a month ago, it's basically @adrientetar "fonttools-ufolib" branch, backported to work on py27, plus some fixups. I did not publicize it much as I first wanted to make sure it worked for my immediate use case, which is reading UFO sources (quickly) to produce font binaries.
This is not meant to replace ufoLib as the reference UFO implementation, at least not in thi

[2018-06-07 14:38] anthrotype commented on #1095
of course, I understand :)

sure, we need to document this.

[2018-06-07 15:56] benkiel commented on #1095
@anthrotype Understood. I wasn't checking the general fontTools account, so I didn't see the new repo.

It would be great to see how this API differs from the ufoLib API, there was consensus about having a lightweight UFOLib like thing in FontParts that used the same API as ufoLib; it would be great if this could be that thing, and it sounds like it is/could be.

I'll spend more time looking at th

[2018-06-11 11:00] anthrotype commented on #1095
@typemytype thank you for taking a look.

Maybe we should explore again the possibility of integrating the current ufoLib reader/writer in fontTools, and work together on defining a standard UFO object interface or protocol like @justvanrossum has suggested, plus maybe a minimalist base implementation that fonttools' own scripts can use. Then, clients would implement these objects as they see fit

[2018-06-11 11:07] justvanrossum commented on #1095
+1

Would be nice, if the speedup is significant compared to the amount of intrusion to the code base.

[2018-06-11 11:24] typemytype commented on #1095
here is my quick tests: https://gist.github.com/typemytype/d338ebdc84ccc0a0be534cf6667797e4
and a full object implementation :)

comparing the current ufoLib and fontTools.ufoLib

[code]

[2018-06-11 11:33] anthrotype opened #1272 "move convertCFFtoCFF2 out of cffLib; remove need for isCFF2 when building"
Follow up from #1211 and #1271

quoting @readroberts from https://github.com/fonttools/fonttools/pull/1211#issuecomment-388205182

[2018-06-11 11:44] typesupply commented on #1095
I'm 100% onboard with this.

Yeah. This protocol can be very simple and Pythonic. The UFO 1 and UFO 2 data protocols were built as we needed them, so there wasn't a Big Plan. When we added the new stuff from UFO 3, I tried to use standard object types (primarily dicts and lists) and make things more easily updatable as new things are added.

+1

My hunch is that this will offer a big speedup. I'd

[2018-06-11 12:20] anthrotype commented on #1243
https://github.com/fonttools/fonttools/pull/1255 and subsequent clean-ups implemented conditionSets for the RuleDescriptor object

[2018-06-11 12:20] #1243 closed

[2018-06-11 20:11] benkiel commented on #1095
Here is a first swing at giving ufoLib the option to turn off validation: https://github.com/unified-font-object/ufoLib/pull/149

[2018-06-11 22:54] benkiel commented on #1095
Err, now in the `validation_optional` branch of ufoLib

[2018-06-12 14:06] benkiel commented on #1095
FWIW, I just tried to drop `lxml` in as a replacement, it isn't going to be as simple as `from lxml import etree as ElementTree`, but may not be too bad.

[2018-06-13 12:26] anthrotype opened #1273 "feaLib/makeotf disagree when building MarkBasePos"
Say we have this feature file snippet, containing a mark feature with two mark2base pos statements; but not all the statements refer to the same mark classes; one of them refers to both `@MC_top` and `@MC_bottom`, the other only to `@MC_top`.

I compile this using feaLib using the following python code:

[code]

This results in the following GPOS table. Note in the last BaseRecord, the first BaseA

[2018-06-13 12:33] anthrotype commented on #1273
Note that the answer to this has an impact on the way the new ufo2ft MarkFeatureWriter works (released [2.0](https://github.com/googlei18n/ufo2ft/releases/tag/v2.0.0) yesterday).
Previously we were creating a new lookup for each mark class (one for @MC_top, one for @MC_bottom, etc.) so the situation outlined above was impossible.
I changed it to work the way Glyphs.app does: i.e. one single lookup

[2018-06-13 18:29] miguelsousa commented on #1273
@anthrotype I don't know the answer. This is really for @readroberts who just started a 3-week time-off, so we won't hear from him for a while.

[2018-06-13 18:33] miguelsousa commented on #1273
@anthrotype can I add the test files to the FDK's test suite?

[2018-06-13 18:43] anthrotype commented on #1273
@miguelsousa sure you can (maybe also subset it), but first we need to understand which of the two is correct.

[2018-06-14 14:29] anthrotype commented on #1176
I just merged #1240 to master and marked it as experimental, so @behdad can have a go at hooking it up to varLib.

[2018-06-14 14:34] #1268 closed

[2018-06-14 14:52] grzegorzrolek commented on #1273
I can see no reason why the implicit null anchor approach shouldn’t be allowed or otherwise considered as incorrect. Binary-wise, the use of a null anchor in such case makes perfect sense (as far as the OpenType spec is concerned, anyway).

From the feature file syntax point of view, it wouldn’t be any different to having an explicit null anchor inserted in place of the unused mark class (like in

[2018-06-14 14:55] anthrotype commented on #1273
@grzegorzrolek thank you Grzegorz, this is what I was hoping to hear :)
I guess the resolution here is change the Feature File spec to be more explicit about this, and have makeotf implement that instead of failing with obscure error.

[2018-06-14 15:21] anthrotype commented on #1248
where shall I place this new `round_ot` function that does `math.floor(f + .5)`?
`py23` module doesn't quite fit the bill

[2018-06-14 15:30] anthrotype commented on #1248
(of course, I meant `fixedTools` module)

[2018-06-14 15:50] behdad commented on #1248
Sounds good to me.

[2018-06-14 17:49] typesupply commented on #1095
We (@benkiel and I, with feedback from others) have [a branch of ufoLib](https://github.com/unified-font-object/ufoLib/tree/validation_optional) in which:

- lxml is used for reading and writing
- validation is optional

[Here is a script](https://gist.github.com/typesupply/687cbaf731b6d1f3b997bbc8846ce65a) that can be used to compare times and dump a profile. This is what I get on my machine:

[c

[2018-06-14 19:34] khaledhosny commented on #1095
My understanding is that FontTools ufoLib is a replacement of both ufoLib and defcon, so I think a fair comparison should include defcon somehow (I vaguely remember that defcon speed was a significant issue).

[2018-06-14 21:58] grzegorzrolek commented on #1273
OK, I just double-checked the OpenType spec and I might be wrong after all. While the mark-to-ligature subtable **does** mention that the base/ligature component anchor _may_ be null, the other subtables **do not**.

But here’s the thing. If the spec indeed does not allow null anchors in the mark-to-base and mark-to-mark subtables (though it could use a bit of clarification with this), the anchors

[2018-06-14 22:36] typesupply commented on #1095
(See @anthrotype's [comment](https://github.com/fonttools/fonttools/issues/1095#issuecomment-396204917).)

defcon and ufoLib are completely different things. The speed issues that have been raised in the past are almost entirely related to the overhead of defcon's internal notification system. Replacing defcon makes sense if you are looking to write lots of fonts at the fastest speed possible. A v

[2018-06-15 09:38] anthrotype commented on #1273
thanks for double checking. I don't feel comfortable playing on the _undefined_ territory.. :thinking:
I may revert ufo2ft to always generate one separate lookup for each class of marks, in which case it's guaranteed that BaseRecord won't contain NULL offsets to Anchor tables.
Perhaps I should also ask on the OpenType mailing list.

[2018-06-15 10:03] anthrotype commented on #1273
Glyphs.app also generates mark feature code with `pos base` statements within the same lookup that don't reference all the same mark classes: e.g. one base glyph may have anchors for both `@mark_top` and `@mark_topright`, another base glyph in the same named lookup may have only anchors for `@mark_top` and not also for `@mark_topright`, like in this example:

[code]

This also won't compile with t

[2018-06-15 10:36] anthrotype commented on #1248
Now we just have to remember to use the correct otRound function whenever it makes sense and be consistent with it. Though I have a feeling that the distinction between when to use the naive, more “visual” otRound and when to use the more mathematically and statistically sound banker’s `round`, is not always clear cut..

[2018-06-15 11:15] schriftgestalt commented on #1273
How do different apps handle thos different tables?

[2018-06-15 15:19] justvanrossum commented on #1269
@behdad can you please have a look? This is a fairly serious bug.

[2018-06-15 16:46] behdad commented on #1269
Will do today.

[2018-06-16 17:53] behdad commented on #1269
I can confirm the bug.  Investigating.

[2018-06-16 18:09] #1269 closed

[2018-06-16 18:09] behdad commented on #1269
Ok, fixed. Sorry about that again.

[2018-06-16 18:41] behdad commented on #713
We have some code for now, thanks to Just https://github.com/fonttools/fonttools/pull/1240

I need to hook it up to varLib.

[2018-06-18 11:03] anthrotype commented on #1269
@behdad thank you! :+1:

[2018-06-18 11:40] justvanrossum commented on #1269
Yes, thanks, @behdad!

[2018-06-18 15:17] anthrotype commented on #1228
in fonttools 3.27, we

values for each axis (#1254, #1255, #1267)

are we all happy and can we now close this or is there anything else to be done here?

[2018-06-18 15:18] anthrotype commented on #1226
is this still an issue? If so, can you elaborate what needs fixing? thanks

[2018-06-18 17:00] anthrotype commented on #1264
OK, it's clear what to do with OS/2.usWeightClass, usWidthClass and post.italicAngle.

But, about the `OS/2.fsSelection` or `head.macStyle` which @behdad is hinting at in his comment -- when exactly do we want to set the bold flags? Say, when the location on the `wght`
axis and the corresponding OS/2.usWeightClass is _exactly_ 700? But not when it's 699 or 900 or whatever?

And about the "italic"

[2018-06-18 19:40] behdad commented on #1228
So, axes is now mandatory? Sounds good to me.

[2018-06-18 19:43] behdad commented on #1264
Thanks for working on this.

Re bold bit, I think anything > SemiBold should be marked as bold...

[2018-06-19 13:50] mdickinson opened #1277 "Request to not configure logging as an import-time side-effect (on Python 2)"
We just tracked down some surprising behaviour in our test runs to the fact that `fontTools` configures logging at import time, swapping out the default `Logger` class for a custom implementation and adding a handler of last resort. The relevant code is in the `py23` module [here](https://github.com/fonttools/fonttools/blob/b2d47132bf17d093c2b57d558ad08f181ea2dfd4/Lib/fontTools/misc/py23.py#L472-L

[2018-06-19 14:12] anthrotype commented on #1277
Thanks for opening this issue.
Just out of curiosity, what is this "surprising behaviour in your test runs"?
I don't really see what we are doing here as a "logging configuration", but rather more like adding a compatibility shim to enable logging code to behave the same way on python 2 and 3.
the recommendation to set lastResort to None, comes from the python 3 docs actually:
https://docs.python.

[2018-06-19 14:15] anthrotype commented on #1277
But I see your point that just the mere `import fontTools` should not automatically swap the default python2 Logger class with one that defines a lastResort handler (like the python3 Logger).
I'll move that code to our own `configLogger` function, which is used only by our own command line scripts.
I'll fix this soon, sorry the trouble!

[2018-06-19 14:22] mdickinson commented on #1277
Simply that we were seeing messages printed out during the test run, and since they didn't have any kind of "WARNING: ..." prefix, it wasn't immediately clear that they were coming from the logging system. When it did become clear that they were logging messages, it wasn't clear _why_ they were being printed out, and we needed to do some digging to find out how this was happening. This is (current

[2018-06-19 14:36] anthrotype commented on #1277
fixed by https://github.com/fonttools/fonttools/commit/e6a5db543d8a5be34db5d007a9d5634ae2a2edde

a new release is coming before end of the week

thanks for using fonttools!

[2018-06-19 14:36] #1277 closed

[2018-06-19 14:47] mdickinson commented on #1277
Wow! Thanks for the quick fix!

[2018-06-19 16:16] anthrotype commented on #1264
hmm I'm not sure that's a good idea.
Usually in a family where there are several bolder variants, only one of them, namely the "Bold", around 700 weightClass, is the one that gets the bold fontSelection/macStyle flags enabled. A "Black" or similar are bolder than Bold, but they don't usually get the bold flag enabled.

[2018-06-19 16:16] anthrotype commented on #1264
(dind't mean to close, sorry)

[2018-06-19 16:22] anthrotype commented on #1264
actually, maybe for setting the Bold (and Italic) font selection flags, we should not look at the OS/2 weightClass at all, but rather we should use the STAT tables. Hm, yeah :thinking:
ok i'll merge this for now, will work on the latter later.

[2018-06-19 16:24] m4rc1e commented on #1264
Google Fonts only sets fsSelection bit 7 and macStyle to bold for the Bold style only. SemiBold, Black, ExtraBlack etc are set to Regular.

[2018-06-19 16:28] m4rc1e commented on #1264
We have a sheet outlining how we set bits and names for each style, https://docs.google.com/spreadsheets/d/1ckHigO7kRxbm9ZGVQwJ6QJG_HjV_l_IRWJ_xeWnTSBg/edit#gid=0. Some of this may be out of date though.

[2018-06-21 09:45] moyogo opened #1279 "feaLib shouldn’t ignore subtable statements"
The AFDKO syntax spec says:

I tested writing a kern feature lookup with inserted `subtable` statements. As is, fonttools generates GPOS that is 94114 bytes for one of our fonts. If it was applying the `subtable` statements the GPOS would be 55712 bytes.

[2018-06-24 15:38] behdad commented on #1221
No. They treat the data for each row as a point in a high-dimensional space, with each column a dimension...

[2018-06-24 15:42] behdad commented on #1252
No, requires more work than just that.

[2018-06-24 16:07] behdad commented on #1244
Can you share a test font please?

[2018-06-24 16:52] asaumierdemers opened #1280 "feaLib featureNames AssertionError"
I recently updated to fontTools 3.28 and I get this error when building a font with featureNames:
[code]

My feature:
[code]
I had no issue when building this with fontTools 3.21

Any thoughts?

[2018-06-25 05:29] miguelsousa commented on #1280
I had no problem compiling that to TTX with v3.28. I got an error when I tried with v3.21.
[code]
My guess is that it's not just this FEA snippet that is causing the problem.

[2018-06-25 05:49] miguelsousa commented on #1279
Judging from comments that Behdad has made about the results of [otf-making-benchmark](https://github.com/adobe-type-tools/otf-making-benchmark) I don't think it's the ignoring of `subtable` that's causing the significant size difference; makeotf uses some tricks to reduce the size of GPOS that are not implemented in feaLib.

[2018-06-25 05:53] miguelsousa commented on #1279
@moyogo see https://github.com/adobe-type-tools/otf-making-benchmark/issues/1
I haven't had any time to dedicate to this project unfortunately.

[2018-06-25 07:33] moyogo commented on #1279
I think these are two separate issues. While a lookup without any subtable statements should be compiled as efficiently as possible, a lookup with subtable statements should be compiled as specified.

[2018-06-25 08:14] justvanrossum commented on #1244
I could build one, but that would take a while. Maybe @thundernixon or @petrvanblokland have a test font that uses FeatureVariations that's suitable for testing this? Or @irenevl? Or @thomgb?

[2018-06-25 08:16] petrvanblokland commented on #1244
I'll  make one today.

[2018-06-25 17:07] asaumierdemers commented on #1280
Right.

I am building from fontmake with:
[code]
I deleted everything else in the font and found out if I remove the anchors it works. Must be something with the automatic feature_writers for mark or mkmk. When I disable the feature_writers it works:

`project.run_from_ufos(ufos, output=("otf"), feature_writers=[])`

Probably something wrong with ufo2ft then?

Thanks for the help @miguelsousa !

[2018-06-25 20:02] robmck-ms commented on #1244
You can also use Bahnschrift, which has 10 characters that use feature variations (e.g. dollar, oslash, etc).

Email me privately if you need a copy for testing purposes.

[2018-06-26 08:48] m4rc1e opened #1281 "[varLib.mutator] Overlapping contours on old versions of Safari"
Google Fonts has just released their first VF font, [MarkaziText](https://fonts.google.com/specimen/Markazi+Text). VarLib's mutator has been used to serve static instances to browsers which do not support variable fonts. Unfortunately, users who still use older versions of Safari are [reporting](https://github.com/BornaIz/markazitext/issues/6#issuecomment-399991205) the classic OS X [winding probl

[2018-06-26 16:08] behdad commented on #1281
See https://github.com/fonttools/fonttools/issues/730

[2018-06-26 18:45] behdad commented on #1281
cc @lorp

[2018-06-26 19:19] Lorp commented on #1281
Note that this overlap issue still affects *current* Safari Version 11.1.1 (13605.2.8).

Thanks for the pointer to the "bit 6 hack", @behdad. Please remember that this causes the font to be rejected by [OT sanitizer code](https://github.com/khaledhosny/ots) built into Chrome and Firefox.

Another hack that works is to add a dummy fvar table in the font (e.g. a single custom axis with min, max & de

[2018-06-26 21:01] garretrieger commented on #1281
Looks like this is was already recently fixed in OTS. Font with the bit flipped works on the latest Chrome/FF. However fails on FF 59 and below and Chrome 63 and below.

[2018-06-26 21:08] khaledhosny commented on #1281
I already did, last year 353c7f83a21ca520f23f7fba480121d0bca3cac9.

[2018-06-27 09:26] ghost opened #1283 "Please add a code example for converting OTF to TTF"
Please add a code example for converting OTF to TTF. The TTX tool is mentioned which apparently can do this somehow, but I can't find it in the API. When using ttLib.TTFont.save(), the written font will remain in otf/postscript format even when saved with ".ttf" ending, so at least that function doesn't seem to do a conversion from postscript outlines to truetype outlines...

[2018-06-27 09:29] moyogo commented on #1283
There is already a snippet that shows how to do that:
https://github.com/fonttools/fonttools/blob/master/Snippets/otf2ttf.py

[2018-06-27 09:35] JonasT commented on #1283
Can this be be imported as a function from the ttLib library? I would prefer to properly import this from a library rather than copying 90 lines of code, because that is problematic licensing wise unless they are explicitly stated as public domain (which they don't appear to be).

[2018-06-27 10:41] behdad commented on #1283
Not currently. But I agree we should make that a module.

Maybe try to unify with the CFF-to-CFF2 as well.

[2018-06-27 11:04] Vampire opened #1284 "Recursive dis- / assembling"
It would be nice if you support recursive disassembling and assembling.

What I mean you can see if you e. g. convert FiraCode font. In the glyphs you have instructions, but the disassembly is `NPUSHB`, all remaining bytes except one `CALL`.

If I got this right, then the bytes pushed to stack are executed as function until `ENDF` is found, so the bytes on the stack should be reversed, then disass

[2018-06-27 13:20] justvanrossum commented on #1284
That's not at all how CALL works. See https://developer.apple.com/fonts/TrueType-Reference-Manual/RM05/Chap5.html#CALL

[2018-06-27 13:40] Vampire commented on #1284
Ah sorry, totally got that wrong then.
So, if there is in the glyph
[code]
how do you know and modify what is called?
Could this be analyzed / shown a bit more extensive, like some pointer at where it jumps to in the file?

[2018-06-27 17:50] justvanrossum commented on #1284
I think it's calling "function 23" which will be defined in the pre-program (the `prep` table) or in the font-program (the `fpgm` table).

[2018-06-27 18:15] Vampire commented on #1284
Yes, I think so too.
But it would nice to have this clearer, e. g. having there `CALL[23]` and at the `FDEF` e. g. `FDEF[23]	/* FunctionDefinition 23 */` or similar, so that you can more easily navigate between those connection points.

[2018-06-27 18:19] behdad commented on #1284
That's beyond what disassembling is..

[2018-06-28 14:06] Vampire commented on #1284
Yes, it is a little additional analyzing, but it would be super handy to have it and greatly improve the usefulness of the disassembly.

[2018-06-29 19:52] davelab6 opened #1286 "Does fontTools do what fastfont.exe did?"
There used to be an old tool from Microsoft call fastfont.exe which repacked TrueType/OpenType fonts in an optimized way.

However I can no longer find it on the MS site (https://www.google.com/search?q=ms+font+tools+%22fastfont.exe%22)

I wonder if fontTools, when it writes out a binary, uses the same optimization techniques?

[2018-06-29 20:02] benkiel commented on #1286
AFAIK it does.

[2018-06-30 03:45] behdad commented on #1284
It's more than "a little additional analyzing". In fact, someone did a Master's thesis on just the initial steps of analyzing TrueType bytecode...

https://uwspace.uwaterloo.ca/bitstream/handle/10012/9116/Man_Wenzhu.pdf

Pat Lam has a fork of fonttools on github with code for that.  Cannot find right now.

[2018-06-30 05:19] lemzwerg commented on #1284
Indirect function calls will be never displayable as you suggest.  For example, the bytecode might use your value 23 only if the ppem value is 17 to 20, and the font variation axis 7 is in the range 0.3 to 0.4. For everything else, the stack value might be constructed to be 24.  The same holds for almost everything else: In many cases, CVT and storage area values are depending on various condition

[2018-07-02 14:43] anthrotype commented on #1280
@asaumierdemers thanks for reporting this. Could you please send me a copy of the font (privately if you like) so I can test? Thanks

[2018-07-02 15:01] anthrotype commented on #1279
it's in the spec, so I guess we should support manual `subtable` breaks.

[2018-07-03 18:43] readroberts commented on #1273
The makeotfexe behavior was chosen because of a thread on the opentype-list@indx.co.uk list, subject "NULL offsets to anchor tables in  GPOS  lookups", starting on Tuesday, April 26, 2016, initiated by a question from Sasha Brawer.

I asked "However, I see that the OpenType spec explicitly says the an anchor table offset may be NULL for MarkToLigature and Cursive lookups, but does not say this for

[2018-07-04 11:08] madig opened #1287 "Go Python 3.x+ only"
Hi!
Python 2 reaches EOL January 1, 2020. It is by now a maintenance shackle and source of admin headaches and needs to clubbed off. I propose Python 2 support is dropped right now, but would also be okay with January 1, 2019 or mid-2019. The sooner the better.

What you say.

https://python3statement.org/

[2018-07-04 11:30] behdad commented on #1287
@garretreiger

I think Google Fonts still uses it with Python 2.7.

[2018-07-04 13:18] jenskutilek commented on #1287
As far as I have heard, macOS 10.14 will still only come with Python 2.7 preinstalled. Python-3-only FontTools will require an additional Python 3 install there.

[2018-07-04 15:06] anthrotype commented on #1287
https://www.quora.com/Why-doesnt-Apple-include-Python-3-in-Mac-OS-X

[2018-07-04 15:10] anthrotype commented on #1287
Duplicate of https://github.com/fonttools/fonttools/issues/765
Let’s continue the discussion there

[2018-07-04 15:10] #1287 closed

[2018-07-05 11:11] anthrotype commented on #1273
@readroberts thanks for the explanation and for linking to the opentype-list discussion.

From @SergeyMalkin's reply in that conversation ([link](http://www.indx.co.uk/biglistarchive/?mode=showpost&id=NbGim7v61P1ke7oMaCVhVpmwH)), it seems like using NULL offsets for mark2base and mark2mark anchors is not supported in DWrite/Uniscribe:

So, I'm going to change ufo2ft markFeatureWriter to output sep

[2018-07-05 11:15] anthrotype commented on #1273
according to @behdad:

https://github.com/googlei18n/ufo2ft/issues/259#issuecomment-397824616

Maybe that bug was indeed fixed in DWrite/Uniscribe? :thinking:

[2018-07-05 17:36] LIXiangChen opened #1288 "[ttx] Recommend allowing the <extfileimagedata> value in EBDT/CBDT table to use a relative path"
Another problem is, currently the top-level-folder where the dumped images saved is named `bitmaps/`, if dump multiple fonts in the same directory will be confused, I recommend changing the folder to the same name as the source font file or the XML file.

Example:

**Directory Structure**
[code]

**`<extfileimagedata>` in EBDT/CBDT table**
[code]

[2018-07-06 00:59] SergeyMalkin commented on #1273
I believe DWrite/Uniscribe still exhibit behavior I described above. @behdad, did you have any reason to believe DWrite behaves the same way as harfbuzz in this case?

Said that, it makes sense to continue with next subtable if anchor is NULL for mark attachment lookups. However, we should consider potential backward compatibility problems before going ahead and changing DWrite.

[2018-07-09 11:33] anthrotype commented on #1273
ok, that's reason enough to fix ufo2ft to not output those NULL anchor offsets. I'll work on that.

[2018-07-09 11:39] anthrotype commented on #1273
should we also change fontTools.feaLib to raise an error (like makeotf does) when this occurs in a feature file, or perhaps a warning message (given that it does work in some implementations like harfbuzz)?

[2018-07-09 13:02] behdad commented on #1273
Actually I don't interpret it that way.  All known implementations ignore a NULL anchor offset.  HarfBuzz continues searching in subsetquent subtables whereas Uniscribe stops.  As long as you generate only one subtable, the behavior is welldefined and consistent.  I don't see why you cannot use it.

[2018-07-09 13:14] anthrotype commented on #1273
it looks like feaLib currently only outputs a single MarkBasePos subtable:
https://github.com/fonttools/fonttools/blob/87178f413a97bd725c7a62e0c89108933e35c746/Lib/fontTools/otlLib/builder.py#L228-L246

so I guess we are fine (for now)?

[2018-07-09 13:17] anthrotype commented on #1273
same for MarkMarkPos subtables (though that wasn't factored out into otlLib):
https://github.com/fonttools/fonttools/blob/87178f413a97bd725c7a62e0c89108933e35c746/Lib/fontTools/feaLib/builder.py#L1407

[2018-07-09 13:18] behdad commented on #1273
Agree.

[2018-07-09 14:10] jbicha opened #1291 "fonttools test failure with unicode-data 11"
fonttools 3.28.0 has a failing test when built with unicode-data 11 on Debian "unstable".

[code]

[2018-07-09 14:16] anthrotype commented on #1291
thanks for the report. Yes, I need to re-run the MetaTools/buildUCD.py script for the current Unicode 11 and also update the test cases.

[2018-07-10 07:39] dadasutasudadas opened #1293 "Cannot parse some pfb files"
When I tried to parse a pfb file created with Fontlab 5.2.1 Win, it cause an error.
I set it to logging level "DEBUG".
There are PFB that parse() succeeds and some PFB that fails.
How can I overcome this error?

[code]

[2018-07-10 07:44] justvanrossum commented on #1293
Can you add a test font to this issue?

[2018-07-10 07:55] dadasutasudadas commented on #1293
Thank you for your quick reply. I attached a test font.
[test.zip](https://github.com/fonttools/fonttools/files/2179373/test.zip)

[2018-07-10 08:16] dadasutasudadas commented on #1293
I attached another test font. This data can be pase ().
[test2.zip](https://github.com/fonttools/fonttools/files/2179436/test2.zip)

[2018-07-11 22:38] readroberts commented on #1273
@behdad @anthrotype Do I understand correctly that fontmake will/fealib will continue to write NULL anchor offsets for this case? If so, I am inclined to have makeotfexe in the afdko do the same, with warnings. I would like type developers to not encounter feature files that work in one workflow and altogether fail in another.

[2018-07-12 02:45] miguelsousa commented on #1273
@readroberts do you know if makeotf will generate only one subtable? According to Behdad that's an important factor.

[2018-07-12 04:12] kaushalmodi opened #1294 "pyftsubset generated WOFF2 renders fine on Firefox/Chrome but shows gibberish on Safari"
Hello,

For quite some time, this issue had been bugging me -- See https://gitlab.com/kaushalmodi/kaushalmodi.gitlab.io/issues/3.

For some reason, the text from my blog showed up as gibberish on Safari, but worked fine on Firefox/Chrome.

After countless hours of debug, tweaking CSS, changing fonts, etc, I narrowed down to the issue that Safari cannot render the pyftsubset generated WOFF2.

I hav

[2018-07-12 08:10] jenskutilek commented on #1294
The fonts you see in Safari are fallback fonts, not your webfonts.

You have to omit the quotes in your pyftsubset command line for the --unicodes parameter:

[code]

So your fonts are basically empty except for the notdef glyph. Strange bug in Safari though that this affects the text rendering in this way.

[2018-07-12 09:02] anthrotype commented on #1294
Hm, that the quotes in the argument value make a difference I would consider a bug. A command line parser should take care of those transparently, but pyftsubset uses its own parser rather than argparse module or similar. We should fix that.

[2018-07-12 09:23] anthrotype commented on #1294
@kaushalmodi can you tell me which operating system and which shell environment you're using to run pyftsubset? Maybe also the python version, and the fonttools version.

I've just tried your command (with and without quotes) in bash on Linux, and it works in both cases, producing the same WOFF2 font (and it's not empty, but contains the correct glyphs requested).

I believe it's the shell itself

[2018-07-12 09:48] anthrotype commented on #1294
I checked myself on all three platforms and it's not the presence of the quotes in command line option.
Those are automatically stripped from the string that gets stored in sys.argv list (unless one escapes them with backslash, but that's not the issue here).

We need more information to debug this.

[2018-07-12 09:54] anthrotype commented on #1294
like @jenskutilek said, the woff2 merriweather fonts that you are using on https://woff2--scripter-co.netlify.com/ are defintely broken, as they are basically empty, only contain .notdef glyph. Maybe the reason it works in Chrome and not in Safari is that the former will attempt to sanitise the fonts and if the WOFF2 are broken it tries the WOFF ones (which are not empty in your case).

Now the my

[2018-07-12 10:07] anthrotype commented on #1294
I just downloaded the official Merriweather from https://fonts.google.com/specimen/Merriweather, then run the pyftsubset commands similar to the ones you wrote in your original post.
You can see the result in this zip file. Both the woff and woff2 subsets are identical to each other and working fine as intended:

[fonttools-issue-1294.zip](https://github.com/fonttools/fonttools/files/2188105/fontt

[2018-07-12 10:08] anthrotype commented on #1294
@jenskutilek where did you get the impression that removing the quotes would make any difference? Did you encounter an issue like that already that we can reproduce?

[2018-07-12 10:30] kaushalmodi commented on #1294
Wow, thank you guys for the prompt responses!  Looks like I could have created confusion by trying to "simplify" the recipe.. here's my actual wrapper script:

[code]

Above will create the woff and woff2 fonts in `hugo-theme-refined/static/fonts/<font name>/<version>/<subset>/`.

The original non-subsetted ttf are in `hugo-theme-refined/static-src/fonts/<font name>/<version>/ttf/`.

I hope this h

[2018-07-12 10:32] anthrotype commented on #1294
thanks for the info @kaushalmodi
since you're here, could you try running this in your tsch shell for me please:
[code]

verify that it prints this and the quotes are stripped:
[code]

this is just to rule out completely the earlier suggestion that this may have to do with the presence of quotes in the --unicodes= option string, thanks.

[2018-07-12 10:34] anthrotype commented on #1294
@kaushalmodi also, please have a look at the `subset.sh` shell script that is inside the zip I uploaded before. Maybe try change the shebang that currently points to `#!/bin/bash` to use your tsch shell, and see if it works and outputs correct woff and woff2 fonts. Perhaps first remove that `subset` subdirectory which contains already made webfonts.

[2018-07-12 10:35] #1291 closed

[2018-07-12 10:36] anthrotype commented on #1291
I just updated the unicodedata modules to Unicode 11 by rerunning the MetaTools/buildUCD.py script, and fixed up the expected test results.

[2018-07-12 10:44] kaushalmodi commented on #1294
Actually I am running the bash script, so you can consider that I am running in bash shell. Also the quoting should not matter because as you see, I am passing the unicode values internally in the bash script via variables (so the double quotes won't be getting passed as value).

Also the same value of `$unicodes` is used for both woff and woff2 generation.

I'll be at my computer in 3 hours. I'll

[2018-07-12 10:46] anthrotype commented on #1294
i'm on it

[2018-07-12 11:19] anthrotype commented on #1294
oh I see where the misunderstanding is now!

For the woff2 webfonts, you're calling pyftsubset without giving any glyph subset specifiction, thus the subsetter is keeping no glyphs leaving you with only the .notdef!

https://gitlab.com/kaushalmodi/hugo-theme-refined/blob/master/static-src/fonts/create_font_subset.sh#L60

You have two options:

1) re-run the pyftsubset script using the uncompressed

[2018-07-12 11:20] anthrotype commented on #1294
i'll keep this open in case you have questions.

[2018-07-12 11:37] kaushalmodi commented on #1294
I was actually using option 1 before yesterday: https://gitlab.com/kaushalmodi/hugo-theme-refined/blob/6a9a5e526558910a847d9fab6fc0853252e52ab2/static-src/fonts/create_font_subset.sh

In that older version, notice that I was using the same ttf as source font, and still that issue showed up on Safari.

I'll try option 3 as soon as I get to a computer!

Side question: It didn't occur to me until now

[2018-07-12 11:40] kaushalmodi commented on #1294
That's embarrassing.. a terrible oversight on my part. Thanks for pointing that out.. it all makes sense now.

[2018-07-12 11:40] #1294 closed

[2018-07-12 11:46] anthrotype commented on #1294
you can use pyftsubset with --verbose option, it will tell you each steps it's currently doing including the final glyph set that it's actually keeping after evaluating all the options

[2018-07-12 11:48] kaushalmodi commented on #1294
I appreciate your help. Such a silly mistake.. wasted so many hours, mine and yours. Sorry about that.

[2018-07-12 11:48] anthrotype commented on #1294
you can use ttx to print the `GlyphOrder` table (which is not really an OpenType 'table', but it's where fontTools internally stores the information as to what is the glyph name and the order of the glyphs in a font).

[code]

`-o -` is to print to standard output instead of to a file.

[2018-07-12 11:48] anthrotype commented on #1294
No problem! Glad we could find the solution :+1:

[2018-07-12 14:08] kaushalmodi commented on #1294
@anthrotype Thanks. `--verbose` ended up too verbose for my use case of finding out the number of glyphs. But `ttx -q -o - -t <font file> | grep -c '<GlyphID id'` works.

Was wondering.. would it be useful in general for `pyftsubset` to add a minimal 1-liner confirmation message at the end, like *"Exported N glyphs to FONTFILENAME"*?

[2018-07-12 17:00] jenskutilek commented on #1294
No, sorry, I just saw that the fonts are empty and noticed the difference in the command line from the help output. I didn't actually test if the quotes made a difference. Sorry for the sloppy testing ;)

[2018-07-12 22:03] readroberts commented on #1273
Yes, makeotf does build only one subtable for each mark-to-base or mark-to-mark lookup.

[2018-07-12 22:09] readroberts commented on #1273
The feature file spec says "All the base glyphs in a base glyph class must share the same anchor points for all mark classes, otherwise separate statements are needed.".

How about new wording: "All the base glyphs in a base glyph class should share the same anchor points for all mark classes. Not doing so is allowed: an implementation should then set the Base Record anchor offset to 0 for the mis

[2018-07-12 23:56] readroberts commented on #1273
@anthrotype Could you post a version of markbase-makeotf-issue.zip with a font that has the GPOS table built? I'd like to compare makeotfexe output with what fontmake does.

[2018-07-16 22:49] readroberts commented on #1273
@behdad @anthrotype Any opinion on the feature file wording? Another possibility is that we can ignore the implicit OpenType spec restriction on the use of null anchors in mark-to-mark and mark-to-pos lookups in the anticipation of requesting explicit permission to do so in the next version of the OpenType spec.

[2018-07-17 09:58] behdad commented on #1273
IMO in OT spec every offset is allowed to be null.  I'm fine changing HarfBuzz to match Windows behavior, because in every other lookup, there's always the assumption that if the first glyph matched the Coverage, then it's a match and we stop searching later subtables.  I broke that rule with my change; am willing to revert it back.

[2018-07-17 16:10] laerm0 opened #1295 "Double-byte Unicodes?"
Hi –

It looks like TTX can't handle double-byte Unicodes. I dumped a TTF, edited a few Unicodes, and then when going back to TTF, I won this error:

[code]

[2018-07-17 16:23] rsheeter commented on #765
Long time since the last update. Any idea when this might start to move? - helpful for Google Fonts planning.

Out of curiosity, are there specific things in Python 3 that are desirable for FontTools?

[2018-07-17 17:46] khaledhosny commented on #1295
You probably need to change the `cmap` subtable as well, since characters beyond basic multilingual plane can’t be represented by older subtables, see [`cmap`](https://docs.microsoft.com/en-us/typography/opentype/spec/cmap) documentation.

[2018-07-17 17:47] anthrotype commented on #1295
Correct

[2018-07-17 17:47] #1295 closed

[2018-07-17 17:51] laerm0 commented on #1295
The only place to change encoding in this font is in the `cmap`, and I changed both (`0,3,0` and `3,1,0`), and it's the only thing I changed, so I dunno where else you think I could've changed it.

[2018-07-17 17:54] anthrotype commented on #1295
You need a cmap subtable format that supports characters beyond the BMP, like format 12

[2018-07-17 17:54] laerm0 commented on #1295
Oh, duh. Sorry! Thanks.

[2018-07-17 17:56] anthrotype commented on #1295
No problem!

[2018-07-17 17:57] campbellgraphics commented on #1295
Isn't this only supported in the format 12 subtable?

On Tue, Jul 17, 2018, 1:51 PM Micah Stupak <notifications@github.com> wrote:

[2018-07-17 18:54] davelab6 commented on #1295
Could there be a more informative error message?

[2018-07-18 03:27] readroberts opened #1296 "[varlib] Cannot build VF font for SourceSerifPro with fontmake"
varlib used to be able to merge the master designs of SourceSerifPro. This broke after the application of varIDXmap optimization to ValueRecords in in varStore.py:: _visit() of (added 2/27 with commit [54fd71f7]), and the use of caching in varStore.py:: OnlineVarStoreBuilder.storeMasters() (added 2/21 with commit [e299650f]). The immediate problem is that an offset overflow error is not being hand

[2018-07-19 05:10] miguelsousa commented on #1296
@readroberts those instructions didn't work for me. I tried them with a clean installation of fontmake version 1.6.0. I did run into two issues though.

One was in fontmake and I logged it at https://github.com/googlei18n/fontmake/issues/451 . My solution was to comment line 585.

The other one was in the feature files of Source Serif, and relates to this change on how the `include()` statements a

[2018-07-19 05:12] miguelsousa commented on #1296
@behdad this is the traceback. Any idea of what's wrong?

[code]

[2018-07-19 12:37] anthrotype commented on #765
hey Roderick, glad you ask

well, if it was only up to me, the earliest the better, e.g. 1st of January 2019 (about in six months time) could be my most optimistic date.

I could list many things, but I'm too lazy. here's a good summary
https://snarky.ca/how-to-pitch-python-3-to-management/

I'm not joking: I spend 30-40 % of my dev time trying to make the same code base work reliably on both pyth

[2018-07-19 12:45] anthrotype commented on #1296
I have a fix for the first overflow error that @miguelsousa mentioned, i.e. the one occurring in `MarkBasePos` subtables (see https://github.com/googlei18n/fontmake/issues/450#issuecomment-403925036). I will clean up and push it soon.

The second overflow error mentioned above seems to be occuring in PairPos subtable format 1, which supposedly we fonttools is able to fix. Not sure what's going on,

[2018-07-19 14:12] chrissimpkins commented on #765
There is a good argument that projects that continue to do such things simply act as enablers for the ongoing existence of the Python 2 interpreter.  Everyone wants to kick the code base transition can down the road because it is time-intensive unproductive work but at some point the entire Python development community needs to simply cut the cord or Py2 will never go away.  Those who find that th

[2018-07-19 14:34] chrissimpkins commented on #765
Great comment on SO about the Py2 sunset... :)

[2018-07-19 17:18] anthrotype commented on #1273
in #1297 I implemented splitting a MarkBasePos subtable into two when an offset overflow error occurs inside it; each subtable will contain the same base coverage but specifies only half of the mark classes from the original one.

This means that, potentially, one could end up with a situation whereby, within the same lookup now containing two subtables, a base glyph's anchor is NULL in the first

[2018-07-19 18:01] behdad commented on #1273
That would only be a problem if same Mark is covered by multiple subtables, which isn't the case here.

[2018-07-21 09:27] anthrotype opened #1298 "pyftsubset should write file extension matching the output flavor (woff, woff2, etc.)"
currently it always defaults to the input font's extension, and that may be confusing.

[2018-07-21 17:28] #1298 closed, assigned to nobody

[2018-07-23 12:34] anthrotype commented on #1296
Here's how I managed to reproduce, in case @behdad wants to also have a look.

1) I cloned https://github.com/adobe-fonts/source-serif-pro,

2) then `cd Roman/Masters`

3) then i compiled the ttf-interpolatable with
  `fontmake -m SourceSerifVariable-Roman.designspace -o ttf-interpolatable`.

4) Finally I run `fonttools varLib SourceSerifVariable-Roman.designspace`.

This is the error:
[code]

Ins

[2018-07-23 13:06] anthrotype commented on #1296
it appears the offset that is overflowing is the one from the beginning of BaseAnchor (format 3) subtable to the VariationIndex table for the Y coordinate.

[2018-07-23 15:34] anthrotype commented on #1296
if I completely disable the GDEF varstore optimization and the remapping of GPOS VariationIndexes, I can finish compiling SourceSerifPro-VF.
Then if I run `fonttools varLib.varStore` on the generated un-optimized font, then it works!

This reminds me of another similar issue... lemme remember

[2018-07-23 15:51] anthrotype commented on #1296
found this https://github.com/fonttools/fonttools/issues/1206#issuecomment-369907915

[2018-07-23 16:04] anthrotype commented on #1296
@behdad here is the interpolatable master TTFs and the accompanying designspace file so you can try reproducing the bug

[SourceSerifVariable-designspace-issue1296.zip](https://github.com/fonttools/fonttools/files/2220089/SourceSerifVariable-designspace-issue1296.zip)

[2018-07-23 16:10] anthrotype commented on #1296
I think this has to do with the reusing of the same objects in combination with commit https://github.com/fonttools/fonttools/commit/03b9c50055c4d45360150f2830ebf9715db26d3c, because the problem seems to disappear if one first compiles without optimization and then applies the varStore optimizer in a separate run, after reading the font from disk (in which I presume this reusing of the same object

[2018-07-23 17:59] behdad commented on #1296
I'll look into this today.

[2018-07-24 06:00] LIXiangChen opened #1299 "[ttx] about <created>/<modified> value format in `head` table"
I found that the "day of month" have no leading zero, though, there will be an extra space in front of it, like this:

![img](https://user-images.githubusercontent.com/8857634/43047906-79dd75b8-8e11-11e8-9616-d2eb44080cf4.png)

I think this should be fixed, either remove extra space or use a format with leading zero.

[2018-07-24 10:33] moyogo commented on #1299
This is how Python 3 formats it.

[2018-07-24 10:35] moyogo commented on #1299
See #455 and #462.

[2018-07-24 11:12] anthrotype commented on #1299
Like Denis said. That's how the POSIX C asctime function works. The returned string is always 25 characters long, and the day of the month is padded with space. It's not worth changing this.

[2018-07-24 11:12] #1299 closed

[2018-07-24 16:22] anthrotype commented on #1286
all fastfont.exe does is ensure the sfnt tables are sorted according to the "recommended" ordering, so yes, fonttools SfntWriter always does that by default.

[2018-07-24 16:22] #1286 closed

[2018-07-24 16:56] anthrotype commented on #1293
@dadasutasudadas how was the pfb generated? what editor?
I was able to parse it with `fontTools.t1Lib` after using the afdko's `tx` tool, by converting the .pfb to Type-1 .pfa format, like so:

[code]

[test.pfa.zip](https://github.com/fonttools/fonttools/files/2224585/test.pfa.zip)

I'm not familiar with postscript language, but that comman in the reported error message looks suspicious:

[code]

[2018-07-25 01:30] behdad commented on #1296
Trying to build this with master fontmake stack, I get include error:
[code]
Is it because of how we changed what is the path relative to?

[2018-07-25 01:32] behdad commented on #1296
I had to modify all .fea files to remove one set of '../' from all includes.

[2018-07-25 01:36] behdad commented on #1296
That's actually understandable.  When you don't optimize, DeviceTable sharing doesn't happen.  Font compiles fine, though with multiple lookups being upgraded to Extension.  When you rerun optimizer, it still compiles back fine, because lookups in Extension don't share objects together, and the Extension decisions from before are still in effect...

[2018-07-25 02:10] behdad commented on #1296
This is very hard to fix within the current table-packing algorithm. Maybe I should just finish the 99proof... Working on it.

[2018-07-25 10:58] #1279 closed

[2018-07-25 11:14] anthrotype commented on #1293
oh I see, you mentioned that already, I'd missed that line :sweat_smile:

[2018-07-25 11:16] anthrotype commented on #1288
doesn't the existing `ttx -d <outputfolder>` option also work for this use case?

[2018-07-25 11:32] LIXiangChen commented on #1288
Oh, thank you. It should be that when I tested, the path was misspelled, which caused the program error.

[2018-07-25 11:40] anthrotype commented on #1288
no prob! can we close this?

[2018-07-25 11:44] LIXiangChen commented on #1288
Ok, but why only use relative path when specifying the `-d` option instead of using it all the time?

[2018-07-25 11:47] anthrotype commented on #1288
sorry I don't get what you mean by "relative path" in this context?

[2018-07-25 11:58] LIXiangChen commented on #1288
Very strange... I just tried it again, the <extfileimagedata> path is a relative path. But in my impression it has always been an absolute path... Maybe my memory is in a mess. Sorry, please close the issue.

[2018-07-25 12:00] anthrotype commented on #1288
oh, I get it now! yes, if you pass an absolute path to ttx as the input file, you'll get an absolute path written out in the ttx dump for the bitmaps folder. If you use -d option, similarly, you can use a relative path and that will be used. So, the code doesn't enforce relative or absolute, let's the user decide. Sounds good to me.

[2018-07-25 12:01] anthrotype commented on #1288
no need to be sorry! you're always welcome to open issues or ask questions here or in the chat room https://gitter.im/fonttools-dev/Lobby
I myself am not very familiar with that part of the code base that deals with color font formats, that's why initially I didn't know what you were referring to.

[2018-07-25 12:01] #1288 closed

[2018-07-25 12:13] LIXiangChen commented on #1288
Oh I see. `<extfileimagedata>` is a relative path or absolute path depending on the `inputfile` path. I usually like to drag file into the command window, which will input an absolute path, so `<extfileimagedata>` is also an absolute path. It's smart!

[2018-07-25 18:06] behdad commented on #1296
Ok, pushed a bandaid.  Please test.

[2018-07-25 18:08] anthrotype commented on #1296
Thanks @behdad!

[2018-07-25 18:34] benkiel commented on #607
@anthrotype Should we just close this? I understand that it's likely not worth the effort.

[2018-07-25 21:00] readroberts commented on #1296
@behdad Yes, this fixes the problems with Minion3 and with SourceSerifPro Thanks! I was really looking in the wrong place.

[2018-07-25 21:19] miguelsousa commented on #1296
thank you @behdad.

@anthrotype can you issue a new fonttools version by Monday? There's this and other fixes that we'd like to pick up. Thanks

[2018-07-25 21:30] behdad commented on #1296
Any comments on this one?

[2018-07-25 23:21] miguelsousa commented on #1296
I wasn't in favor of that change (discussed at https://github.com/googlei18n/fontmake/issues/157), but the spec got updated (https://github.com/unified-font-object/ufo-spec/pull/66) so we'll just have to adjust the tooling accordingly, I guess.

[2018-07-25 23:43] behdad commented on #1296
The part that bothers me most is that in included feature files, paths are still relative to the ufo...  I still think we should fix this.  A proposal, eg. have paths starting with "./" be relative to current file. Or "__dir__/" or something...  It's fine to keep whatever current behavior and add new syntax for relative-to-ufo, relative-to-inside-the-ufo, and relative-to-current-file...

[2018-07-25 23:45] behdad commented on #1296
Another possibility, to borrow from C: Includes with double quotes (include "...") be relative to current file and includes with pointed brackets (include <...>) be relative to "search path", which will be inside the UFO directory in case of UFOs, or whereever else one supplies to the compiler (-I...). Includes with parantheses can stay with whatever meaning they have right now.

[2018-07-26 00:10] miguelsousa commented on #1296
I agree that the whole `include` mechanism needs to be revisited.
@readroberts can you take care of that? There's an issue open already at https://github.com/adobe-type-tools/afdko/issues/164

[2018-07-26 03:51] readroberts commented on #1296
@miguelsousa @behdad  Will do. Was just reading up on this this afternoon.  The feature file spec is clear that relative include paths are relative to the directory of the including file. The ufo spec is clear that included files from the main feature file are relative to the parent directory of the ufo font, not so clear about children. What makeotfexe does is to first try to find the file relati

[2018-07-26 11:56] anthrotype commented on #1273
ok so now both feaLib and makeotf (after https://github.com/adobe-type-tools/afdko/pull/499) allow to compile MarkBasePos subtables containing NULL offsets for base anchors, so I think we could close this issue.

I just wanted to point out that Microsoft FontValidator (I tested the latest build from Hin-Tak's fork) spits out this error message when a font contain those:

![image](https://user-imag

[2018-07-26 14:38] anthrotype commented on #1296
this issue with include statements has been discussed several times, e.g.
https://github.com/googlei18n/fontmake/issues/157

fontmake now follows what Robofont does, and the UFO spec makes it clear how features.fea inside the UFO must treat includes as relative to the directory of the UFO, not to the UFO itself seen as a directory (which is an implementation detail, and a future implementation of

[2018-07-26 14:38] #1296 closed

[2018-07-27 00:02] miguelsousa commented on #1283
What modifications does `otf2ttf.py` need to make it a core part of fonttools? I'm willing to work on it since we need its functionality in the afdko.

[2018-07-27 00:07] miguelsousa commented on #1283
@anthrotype are the things you mentioned at https://github.com/fonttools/fonttools/issues/802#issuecomment-272122600 still needed?

[2018-07-27 02:30] JonasT commented on #1283
@chrissimpkins this is not the problem. The problem is that I can't import them, so it "infects" the project source code when I need to include them into the repository - this complicates the project license, instead of having it properly separate as installable dependencies.

[2018-07-27 02:42] twardoch commented on #802
I'm not sure if it's that simple — the "fonttools convert" function. Would it convert a TTC into multiple TTFs? Would it convert a TTF+gvar into a set of static TTFs? Would it convert an OTF+SVG into a TTF+sbix? And if not, why not?

I don't think it's so trivial anymore too define what exactly "convert" means. Such a converter would be great but I don't think it should be placed inside fontTools.

[2018-07-27 03:32] twardoch commented on #1283
I'm not sure if writing a “universal font flavor converter” should be in scope of the fontTools library.

Would it convert a TTC into multiple TTFs? Would it convert a TTF+gvar into a set of static TTFs? Would it convert an OTF+SVG into a TTF+sbix? CFF2 to CFF and vice versa? With our without variations? And if not, why not?

I don't think it's so trivial anymore too define what exactly "convert"

[2018-07-27 03:43] readroberts commented on #1273
I would like to see the OpenType spec modified to support the current preferred behavior. This has not been explicit either way for a long time   (I have a hardcopy of the OpenType spec v 1.01, Oct 1997 ( hard to believe this was 20 years ago!!) which explicitly states that  NULL anchors are allowed in cursive attachments, but is silent about the other lookups which use anchors), but the behavior

[2018-07-27 06:05] JonasT commented on #1283
Well, I can only speak for myself, but I only needed that exact conversion (OTF/postscript to TTF) because reportlab kinda sucks and can't handle those fonts. So I wouldn't be hugely interested in a generic conversion library - although if it existed and handled that case I'd probably use it, but right now it's just a packaging nitpick for me.

[2018-07-27 13:50] khaledhosny commented on #1283
No one asked for a “universal font convertor” (whatever that mean), so lets keep things simple and consider what is actually being requested.

[2018-07-31 10:48] djrrb commented on #1280
Thanks so much for fixing this! I was also having this error and it seems to be working for me now.

[2018-08-01 20:50] behdad opened #1303 "[subset] Allow subsetting to specific script/language-systems in GSUB/GPOS"

[2018-08-01 21:29] #1303 closed

[2018-08-03 01:03] PaulHanslow opened #1304 "pyftsubsetter request for more complex 'layout script' abilities."
Since OpenType layout scripts are supported in the pyftsubsetter via the '--layout-scripts=' command, is the following possible to implement into the pyftsubsetter?

When an Opentype feature contains glyphs from multiple scripts, can a method be implemented to _only_ subset one script and ignore the other scripts. I believe the only way to do this currently is to have individual Opentype features

[2018-08-03 08:09] dadasutasudadas commented on #1293
I understood that the cause of the problem is the pfb output method of Fontlab 5.2.1. OtherSubrs was not output correctly.
I checked OtherSubrs using t1disasm and confirmed the existence of unnecessary "comma" such as ", ifelse", ",}", ", dup".
When "Generate Flex hints" check is on, this "impurity" is mixed.
Compared with the example given in Appendix 3 of Adobe Type 1 Font Format, I can see that

[2018-08-03 08:29] justvanrossum commented on #1293
As far as I can see FontLab emits invalid PostScript, so this font is simply broken. I'm not sure how `tx` manages to make sense out of it.

It is not reasonable to expect fontTools to handle arbitraraly buggy fonts.

[2018-08-03 08:36] justvanrossum commented on #1293
@twardoch

[2018-08-03 18:21] behdad opened #1305 "[merge] "Merge" hinting if all fonts have same hinting data"
Currently we drop hinting from all but first font. If all input fonts have the same fpgm/prep/cvt tables then it's trivial to merge. We should do. That makes it easier for font engineers to make multiple subsets of the same big font and merge them...

[2018-08-09 10:32] anthrotype commented on #1281
our [fonttools/skia-pathops](https://github.com/fonttools/skia-pathops) can be used to remove overlaps of the mutated instances. It works on quadratic curves as well, and supports the fonttools pen protocol.
We could add an option to fonttools mutator to use that (provided the it's installed).

[2018-08-14 19:01] BoldMonday opened #1306 "[ttx] AssertionError while decompiling gvar table"
The following AssertionError occurred when using ttx to dump a variable font hinted in VTT:
[code]
I'm happy to supply a copy of the font file in question if necessary.

[2018-08-14 19:03] anthrotype commented on #1306
That would be great. Please sent it to my cosimo (at) anthrotype.com email, thanks

[2018-08-15 10:07] anthrotype commented on #1306
Interesting. The assertion error is raised while decompiling the gvar deltas for two empty space glyphs, uni0020 and uni00A0, only varying horizontally along the width axis.

Looking at the glyf table of the font before and after passing through VTT, I noticed that a new contour point (0, 0) is being added by VTT to those two empty glyphs, whereas they previously contained no outline data.
If I du

[2018-08-15 10:07] #1306 closed

[2018-08-15 11:15] BoldMonday commented on #1306
Thank you very much for the detailed report @anthrotype. I will pass this on to Mike Duggan.

[2018-08-22 08:03] typemytype opened #1308 "support layer"
a designspace file has support for a layerName in the source description see https://github.com/fonttools/fonttools/blob/master/Lib/fontTools/designspaceLib/__init__.py#L122-L125

but while building a var font from such a designspace file there is no way to tell the `master_finder` to pick a layered ttf from a given source descriptor fileName.

see https://github.com/fonttools/fonttools/blob/maste

[2018-08-22 09:29] SamusAranX opened #1309 "Can't merge Helvetica Neue with Noto Emoji"
I need to draw text with Imagemagick, but because it doesn't have proper emoji support, I need to create a merged font consisting of Noto's monochrome emoji and Helvetica Neue's everything else. I thought `fonttools merge helvetica.ttf notoemoji.ttf` would do the trick, but alas:

    ~/fonts$ fonttools merge HelveticaNeue-Regular.ttf NotoEmoji-Regular.ttf
    Traceback (most recent call last):

[2018-08-22 10:34] miguelsousa commented on #1309
The two fonts have different UPM values, it seems.

[2018-08-22 10:46] SamusAranX commented on #1309
I changed NotoEmoji's UPM value to 1000 to match Helvetica's, which resulted in another error:
    ~/fonts$  fonttools merge HelveticaNeue-Regular.ttf NotoEmoji-Regular1000.otf
    Traceback (most recent call last):
      File "/usr/local/bin/fonttools", line 11, in <module>
        load_entry_point('fonttools==3.29.0', 'console_scripts', 'fonttools')()
      File "/usr/local/Cellar/fonttools/3.29

[2018-08-22 10:56] justvanrossum commented on #1309
Now you're trying to merge a ttf with an otf.

[2018-08-22 11:04] SamusAranX commented on #1309
That's just a side effect of my font editing app only being able to export OTF files.
The original Helvetica Neue and Noto Emoji files are TTFs.

[2018-08-22 11:09] justvanrossum commented on #1309
Sure, but it's also causing your error.

[2018-08-22 11:18] SamusAranX commented on #1309
I think we got sidetracked here. I have two files: HelveticaNeue-Regular.ttf, with an UPM of 1000, and NotoEmoji-Regular.ttf, with an UPM of 2048.
(Let's ignore the otf file from earlier, that was something else)

I neither have the tools or skills required to go through either of these fonts and rescale every glyph, so I was hoping fonttools could take care of that for me. Can it?

[2018-08-23 06:53] justvanrossum commented on #1309
There is no command line tool to scale a font currently, so it can't be done without writing code (and it's not quite trivial, as things like GPOS also need to be scaled).

[2018-08-23 09:18] m4rc1e commented on #1309
Does the EULA for your version Helvetica Neue grant you permission to make modifications?

Doing a quick search I found, https://www.fonts.com/font/linotype/helvetica/licenses#

[2018-08-23 12:16] SamusAranX commented on #1309
That's what I feared. Thanks for clearing that up though.

I honestly have no idea. I extracted my ttf from the version of `HelveticaNeue.ttc` that comes with macOS High Sierra. But since I'm neither redistributing the file nor selling it, who could possibly care?

[2018-08-30 09:07] jenskutilek commented on #1281
We could add an option to fonttools mutator to use that (provided pathops is installed).

Removing overlaps might get ugly if the font has TT instructions ...

[2018-08-30 09:14] jenskutilek commented on #765
I finally took the plunge and installed Python 3 on my main macOS 10.12 machine. I’m glad to report that I found no problems so far using it for font-related tasks. It doesn’t interfere at all with the system 2.7 Python that is still needed for some stuff (FontLab 5, anyone?). But that’s just one more site-packages folder to keep organized ;)

[2018-08-30 09:55] jenskutilek commented on #730
Is there a test font available in which this flag is used? I thought Skia, but as it is a variable font, it doesn’t need to use this flag.

[2018-08-30 11:07] jenskutilek commented on #730
Ah, Skia has indeed have the flag set on Q.

[2018-08-30 11:19] lemzwerg commented on #730
Shall FreeType be extended to expose this bit to the user?    If yes, how?

Unfortunately, the 'natural' solution isn't possible, i.e., being part of the `FT_Outline` structure, since all additional bits for its `tags` array are already taken.

[2018-08-30 13:16] jenskutilek commented on #730
I’ve implemented the bit in the simplest way (attached to the actual point that carries the flag in the compiled glyf table): https://github.com/fonttools/fonttools/commit/38563726473e66705d5c83ff929e749efb55ef59

Should add some test data for this ...

[2018-08-30 14:49] jenskutilek commented on #730
Hm, it seems that flags bit 6 is not supported in WOFF2, or at least https://github.com/google/woff2 ignores it.

[2018-08-30 15:07] twardoch commented on #730
There was also a discussion about this in the OT Sanitizer thread, and I’m not sure whether `ots` actually allows it or not https://github.com/khaledhosny/ots/issues/146

[2018-09-04 21:03] mcepl opened #1311 "test_xml_from_binary[graphite/graphite_tests.ttf-{Glat,Silf}] fail on big endian machines"
See [full build log](https://github.com/fonttools/fonttools/files/2350200/test_log.txt) on ppc64 machine. I can see:
[code]
The same error happens both with python 2.7.15 and with python 3.6.5

[2018-09-04 21:17] anthrotype commented on #1311
is that PowerPC? Interesting.. we don't run tests on that platform.
How can I reproduce this on my local (Debian Linux) machine?

[2018-09-04 21:54] mcepl commented on #1311
no idea. I am OpenSUSE Python packager, so I get this when building the package on ``ppc64`` machine (see https://build.opensuse.org/package/show/home:mcepl:branches:M17N/python-FontTools although here the bug is already patched against). I can even ``s390`` machine, but I don't think it is necessary, ``ppc64`` should be enough.

[2018-09-06 07:17] anthrotype commented on #1311
Thanks @behdad!

[2018-09-06 11:07] mcepl commented on #1311
@behdad perfect, works, except for missing ``import sys`` in ``Lib/fontTools/ttLib/tables/G__l_o_c.py``

[2018-09-06 11:10] anthrotype commented on #1311
@mcepl I fixed that on master. I will cut a new release before the end of this week.

[2018-09-06 11:10] #1311 closed

[2018-09-10 09:56] behdad commented on #1309
The merge script is really designed to merge very similar fonts, not arbitrary ones...

[2018-09-10 10:06] behdad opened #1312 "Add font slicer"
I think @twardoch requested this before.  Google Fonts can probably use it too.  We want functionality that analyzes GSUB/GPOS, and return sets of characters that all need to be in the same slice of the font.  This is useful for slicing fonts for CSS serving optimization tricks.

[2018-09-10 10:06] behdad commented on #1312
cc @garretrieger

[2018-09-10 13:11] #43 closed

[2018-09-10 13:52] anthrotype commented on #1121
FYI, @behdad has just added a new `--no-layout-closure` that implements subsetting based on an explicit set of glyphs, with commit https://github.com/fonttools/fonttools/commit/022536212be4cf022a2cb9a286fec8be1931d19b

[2018-09-10 13:52] #1121 closed

[2018-09-12 10:18] #1224 closed

[2018-09-12 20:40] PaulHanslow opened #1315 "Pyftsubset dropping kerning for glyphs outside specified scripts in --layout-scripts"
In Pyftsubset, the recently added '--layout-scripts' function excludes the kerning of glyphs which exist outside the scripts which are specified, even if the glyphs are listed in a source.txt. This results in all glyphs from the source.txt being included, yet glyphs existing outside the specified scripts lose their kerning.

For example, I may have a OTF containing Greek, Cyrillic and Latin. If I

[2018-09-13 11:29] LettError commented on #1226
Example, a system with 2 axes, `pop` and `snap` with masters at `0` and `100`. The snap axis has a map that scales `0` -> `33` and `100` to `66`.

![image](https://user-images.githubusercontent.com/1243961/45485420-dea20d00-b757-11e8-83fd-fdbc7b3f93d4.png)

The user sees the `snap` axis go between 33 and 66. The `pop` axis is unaffected and goes between `0` and `100`.

Normalising this system woul

[2018-09-13 19:10] behdad commented on #1226
Umm. I might be wrong but I thought axisMap works the other way around. Ie. it maps from user-visible system to internal linear-interpolation system.  Ie. in your example, user sees 0,100.

[2018-09-13 19:11] behdad commented on #1226
I need to look at the code and be back here.  I know there was a problem.  Details not fully in my head.

[2018-09-13 21:27] LettError commented on #1226
Reading the code, I see I remembered wrong. I'll take another look.

[2018-09-14 18:36] robmck-ms commented on #1176
Yay! Thanks!

[2018-09-14 19:17] anthrotype commented on #1176
Thanks to @justvanrossum who contributed the featureVars code!

[2018-09-15 08:06] anthrotype commented on #1147
I want to demote this from WARNING to a DEBUG logging message so that it doesn't clutter the console output of tools like fontmake.
This kind of message appears quite too often, creates noise and a sense of false alarm. It is triggered whenever specific pairs generated by an 'enum' rule are overridden by preceding single pairs (which according to the Feature File spec is a valid case).
Since I rem

[2018-09-15 08:32] anthrotype commented on #713
Fixed by #1314

[2018-09-15 08:32] #713 closed

[2018-09-16 13:13] LettError commented on #1226
There is a test with normalisation and a map. Does this not do the right thing?
https://github.com/fonttools/fonttools/blob/4bf522abe3b2c65f54699b748336f31a9ce8a3ea/Tests/designspaceLib/designspace_test.py#L607

[2018-09-18 14:20] anthrotype commented on #1315
I believe --layout-scripts is working as intended. If you don't pass that option, all script tags are kept. If you do pass the option, only the scripts listed are preserved, and those which aren't listed will be removed from the ScriptRecord list. You don't have to use --layout-scripts option if it doesn't suit your needs.

@behdad may wish to comment on this.

[2018-09-18 14:21] #1309 closed

[2018-09-18 14:28] #1293 closed

[2018-09-18 14:29] #1284 closed

[2018-09-18 14:31] anthrotype commented on #1281
should we add an options to fontTools.varLib.mutator to set that flag?

[2018-09-18 14:34] anthrotype commented on #1281
I meant the OVERLAP_SIMPLE flag for glyf contour points that @jenskutilek added with https://github.com/fonttools/fonttools/pull/1316

[2018-09-18 14:46] anthrotype commented on #1273
how do we proceed from here?

[2018-09-18 14:50] anthrotype commented on #1264
OS/2 weight/width class and post.italicAngle have been implmented already wit hhttps://github.com/fonttools/fonttools/pull/1276

for the OS/2.fsSelection and head.macStyle bits, I'm not sure what we should do. Maybe simply check the nameID=2 (legacy style name used for RBBI style-linking) and set Bold/Italic flags when the string exactly match either "Italic", "Bold" and "Bold Italic"?

[2018-09-18 14:58] anthrotype commented on #1226
@LettError that test case looks good to me

[2018-09-18 15:03] #1212 closed

[2018-09-18 15:34] anthrotype opened #1320 "array.fromstring and tostring are deprecated in py3"
we should use frombytes/tobytes method of array.array, but those are only available on python3+

pytest now captures and displays all the warning messages at the bottom, and the warnings about this are so many that we can't even see the full Travis build log:

https://travis-ci.org/fonttools/fonttools/jobs/430106449

One temporary solution is to filter these specific warnings so they won't display

[2018-09-18 15:35] anthrotype commented on #1320
duplicate of #868

[2018-09-18 15:35] #1320 closed

[2018-09-18 15:35] anthrotype commented on #868
https://github.com/fonttools/fonttools/issues/1320#issue-361364598

[2018-09-19 03:32] vXBaKeRXv opened #1321 "Unknown Color Emoji - CBDT/CBLC ( imageFormat="20" )"
The Fitbit Color Emoji seems to be using a unknown graphic type.  No PNG chunks and imageFormat 20 don't exist.  Anyone know how the images are stored ?

http://www.mediafire.com/file/jf5e185eqelcea6/Fitbit+Noto+Emoji.zip

# Dict for CBDT extended formats.
cbdt_bitmap_classes = {
	17: cbdt_bitmap_format_17,
	18: cbdt_bitmap_format_18,
	19: cbdt_bitmap_format_19,
}

[2018-09-21 03:19] behdad commented on #1321
This is bizarre indeed.

[2018-09-24 15:49] behdad opened #1324 "[dfont] Fix mystery +2"
https://github.com/fonttools/fonttools/blob/90176ef842581fea880272bee84433c7d31be88c/Lib/fontTools/misc/macRes.py#L85

See: https://github.com/harfbuzz/harfbuzz/commit/3789c557ca06aef430726f4942cafecac6fe4eef

[2018-09-24 15:57] anthrotype commented on #1324
I don't remember... I believe I just ported @brawer's code to python:
https://github.com/jatovm/classpath/blob/master/gnu/java/awt/font/opentype/MacResourceFork.java

I was also reading this
https://developer.apple.com/library/archive/documentation/mac/pdf/MoreMacintoshToolbox.pdf#page=151

[2018-09-24 16:20] behdad commented on #1324
Nope.  We read the count, then use the offset+2.  The count should be read at offset.
[code]

[2018-09-24 16:20] behdad commented on #1324
Oh.  Yes you're right.  I see.  Ok, this is correct.

[2018-09-24 16:20] #1324 closed

[2018-09-24 16:20] anthrotype commented on #1324
told ya

[2018-09-27 09:53] miguelsousa opened #1328 "Support splitting GPOS lookup type 6 (MarkMarkPos)"
[code]
I'm getting this error while trying to build the upcoming version of Source Sans variable.
The source files are at https://github.com/adobe-fonts/source-sans-pro/tree/fontmake

Build command used
`fontmake -m Roman/Masters/SourceSansVariable-Roman.designspace -o variable`

[2018-09-27 21:32] behdad commented on #1328
Cosimo, you can fix this, right?

[2018-09-28 06:43] anthrotype commented on #1328
I can have a look. If the mkmk feature was generated by ufo2ft, then each mkmk lookup contains only one mark class, and therefore we can’t use the same approach that we used for fixing overflows in MarkToBase subtables (i.e. splitting half of the mark classes to the new subtable), as there is only one per lookup.
Maybe we should split the coverage tables, e.g. half of the mark2 glyphs go to the ne

[2018-10-01 21:50] anthrotype commented on #1095
Alright, I just reread this long conversation to refresh my memory, and it looks like the consensus was that we can move the current ufoLib reader/writer to fontTools (as `fontTools.ufoLib`), and we then work on making a shallow defcon-like API to hold/manipulate the UFO data.

If we are still all happy with this plan, I think I can start making the move tomorrow.
Please let me know

cc @typesuppl

[2018-10-02 02:51] benkiel commented on #1095
Happy with that, that's why we made the UFOLib changes that we did (validation optional, lxml). I think somewhere in this are some gists that point to ways of making shallow objects (@typesupply has done this in the past). The other low hanging fruit is finishing the fs bit for single file UFOs, perhaps this first, then that?

[2018-10-04 20:38] anthrotype commented on #765
https://blog.jupyter.org/ipython-7-0-async-repl-a35ce050f7f7

[2018-10-04 20:41] anthrotype commented on #765
I propose 1st of January 2019 as the date when we stop supporting legacy python.
We could still try to maintain a bugfix only python2 branch another six months after that, but starting the new year all new features will only be for python3.

[2018-10-05 05:50] twardoch commented on #765
I’m still amazed how 10 years after the release of Python 3.0, the Python community did not dare to reverse the stupid "print" decision that, I believe, contributed to slowing down the overall Py2->Py3 wide migration like three times. It's literally the biggest reason — it's like: you keep 100 million trivial scripts working or you make 99 million of them stop overnight, and cause frustration to m

[2018-10-08 03:09] plutext opened #1329 "otf2ttf OverflowError: unsigned short is greater than maximum"
I want to convert the Noto CJK fonts from OTF to TTF (so they work better with Microsoft Word).

Here's what happens with NotoSansCJKtc-Regular.otf

[code]

[2018-10-08 05:18] miguelsousa commented on #1329
Have you tried using `--post-format 3` option?

[2018-10-08 07:43] plutext commented on #1329
I hadn't, but using that does work, thanks!

[code]

[2018-10-08 18:56] miguelsousa commented on #1329
https://github.com/googlei18n/cu2qu/issues/47#issuecomment-272054508

[2018-10-08 19:13] khaledhosny commented on #1329
I think the otf2ttf.py should check if the number of glyphs does not fit in `post` table format 2 and automatically switch to format 3, probably with a warning.

[2018-10-08 23:05] miguelsousa opened #1331 "AttributeError: nominalWidthX with CFF2 font"
The code snippet below works fine with a CFF font but throws an `AttributeError` with a CFF2 font.
It's not clear to me in which part of fontTools the fix should be made, given the current cff/cff2 architecture.

[code]

[code]

[2018-10-08 23:53] readroberts commented on #1331
@miguelsousa I actually ran into this just yesterday. The psCharStrings .CFF2Subr class inherits the psCharStrings .T2CharString.draw() method, which assumes that private.nominalWidthX and self.private.defaultWidthX exist - and for CFF2Subr's, they don't.   Just to keep going with my own work, I made the following quick fix to the CFF2Subr class:
	def draw(self, pen):
		subrs = getattr(self.privat

[2018-10-09 17:51] anthrotype commented on #1095
OK, I finally managed to do that (it wasn't very "low hanging" to be honest.. ;).
ufoLib (master branch) now supports reading/writing from UFOZ (zip) files, as well as any other filesystems supported by pyfilesystem2.
Tomorrow I'll start preparing for moving `ufoLib` to `fontTools.ufoLib.

[2018-10-09 21:53] benkiel commented on #1095
@anthrotype sorry! But thanks for doing so!

[2018-10-09 21:59] typesupply commented on #1095
@anthrotype Is there a branch or something that I can look at to see the file system changes? I'll give it a once over.

[2018-10-09 22:08] anthrotype commented on #1095
It’s in master 🙃
Thanks for taking a look

[2018-10-10 08:43] anthrotype commented on #1095
ufoLib is BSD-3-Clause whereas fontTools is MIT. Both are permissive licenses and thus are compatible with each other:
https://softwareengineering.stackexchange.com/a/278142

Shall I keep the separate ufoLib/LICENCE.txt file with its own copyright notice under Lib/fontTools/ufoLib directory?
Or shall we **re-licence** ufoLib under MIT, have a single LICENSE file and add @LettError and @typesupply

[2018-10-10 08:45] anthrotype commented on #1095
alternatively I can copy the current ufoLib/LICENSE.txt to a file named "LICENSE.ufoLib" in the root of the fontTools repository, similarly to how we have a "LICENSE.external" for the test font files licensed unde SIL Open Font License.

[2018-10-10 11:13] typesupply commented on #1095
We're fine with relicensing to MIT.

[2018-10-10 11:15] anthrotype commented on #1095
thanks tal. shouldn't we contact _all_ the contributors and ask if they are ok with it?
/cc @davelab6

[2018-10-10 11:16] anthrotype commented on #1095
actually, BSD and MIT are basically the same, I don't think we need to bother.

[2018-10-10 11:16] anthrotype commented on #1095
I mean, I don't think we need to bother asking everyone.

[2018-10-10 11:28] typesupply commented on #1095
I asked on our Slack. I can ask them to chime in here if you'd like.

[2018-10-10 11:32] anthrotype commented on #1095
No, I'm ok if you guys are ok.

[2018-10-10 12:13] chrissimpkins commented on #1095
Not a lawyer, but I believe the transition from 3-clause BSD to MIT removes the BSD promotion clause:

"Neither the name of the The RoboFab Developers nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission."

MIT allows you to promote away with anyone's name in derived projects. If you intend to use contribu

[2018-10-10 12:27] anthrotype commented on #1095
does it make any differences? the "upstream" will become this.
Anyway, yes I can do that in ufolib repo before merging the git histories.

[2018-10-10 12:40] chrissimpkins commented on #1095
Perhaps it is worth making the change to MIT upstream with whatever ufoLib project side permissions are felt to be necessary by the upstream copyright holders before the git commit history reflects the merge here?  Seems to be the most legit way to do it and preserves the history of the decision before the merge.   This leaves an open documentation trail should anyone raise an issue down the road

[2018-10-15 01:27] behdad commented on #1244
Any volunteers to take a look at this?

[2018-10-15 01:30] behdad commented on #1260
Is this still valid?

[2018-10-15 06:26] #1244 closed, assigned to nobody

[2018-10-15 16:34] robmck-ms commented on #1244
Thanks!

[2018-10-18 15:59] PaulHanslow opened #1336 "Updating the OS/2 CodePage bits to reflect subsetted character set"
Can code be added to pyftsubset to update the 0S/2 CodePage bits to reflect subsetted character set? The Unicode ranges can easily be updated with '--prune-unicode-ranges', and it would be beneficial to have a similar feature for the 0S/2 CodePage bits.

[2018-10-18 16:05] PaulHanslow opened #1337 "Pyftsubset preserving all cmap tables from source OTF"
Pyftsubset is subsetting but preserving all the cmap subtables in the original source OTF files, including the format 12 subtable even thought it's longer needed because the subset OTF contains no non-Plane-0 characters. Can code be added to pyftsubset to strip out cmap tables which are unrequired in the output OTF file?

Currently Font Validator is producing the following error message in the OS/

[2018-10-18 16:08] PaulHanslow opened #1338 "Pyftsubset: method for updating the OS/2 usMaxContext field"
The Os/2 usMaxContext field is not getting updated for output OTFs with pyftsubset. Can a method be implemented for the subsetter to determine the datum from the subsetted GSUB table and update OS/2?

[2018-10-18 16:10] anthrotype commented on #1336
the problem is there is no universal agreement as to what it means for a font to support a code page range.
The spec leaves it to the font designer.
In ufo2ft we have code to set the codepage bits as a fallback when the UFO doesn't contain explicit settings in fontinfo.plist. This uses the same euristics that fontforge uses, and was contributed by @khaledhosny.
I'm not sure we want exactly the sam

[2018-10-18 16:13] anthrotype commented on #1338
closing as duplicate of https://github.com/fonttools/fonttools/issues/1191 and https://github.com/fonttools/fonttools/issues/466

[2018-10-18 16:13] #1338 closed

[2018-10-18 16:15] anthrotype commented on #1337
yea, that would be a nice thing to have.

[2018-10-18 16:29] PaulHanslow commented on #1336
Thanks Cosimo. My query is on behalf of Tiro Typeworks, as were attempting to subset a complex font using only FontTools. Disabling CodePage bits when none of the characters are present in the outputted OTF may be beneficial.

[2018-10-18 23:53] khaledhosny commented on #1336
IIRC, Windows requires (or used to require) certain 8-bit codepages to be set or the font won’t be usable and even of the font does not support any characters from said code pages, so pruning code pages with no characters supported might break this.

[2018-10-19 16:06] benkiel opened #1339 "Change ufoLib creator value?"
https://github.com/fonttools/fonttools/blob/13cf8ef1ab2184f6d8dd4e475f1032b413c4ae26/Lib/fontTools/ufoLib/__init__.py#L789

Should this change to `org.fonttools.ufolib`?

[2018-10-19 16:08] anthrotype commented on #1339
hm, yeah I thought about that. Problem is, we don't own `org.fonttools` unfortunately.
For similar reverse domain UFO keys in the past we used "com.github.fonttools.*`, for example in ufo2ft for the data files in TTX format

[2018-10-19 16:14] benkiel commented on #1339
Ah, yeah, that then. Would make sense to be sure that one can know where the UFOLib is coming from. I'll work up a PR.

[2018-10-19 16:31] benkiel commented on #1339
See #1340

[2018-10-19 16:44] #1339 closed

[2018-10-22 21:13] chrissimpkins opened #1341 "Landscape is broken"
It looks like the badge on README.rst is still connected to behdad/fonttools.

![hgqed-image](https://user-images.githubusercontent.com/4249591/47319592-16388a80-d61d-11e8-87d4-0cd89a53403e.png)

[2018-10-23 09:49] madig commented on #314
@moyogo recently found out that Word for Mac 365 does not use OTL kerning and instead relies on a `kern` table being present, where previous versions used OTL kerning. Gives a new meaning to legacy support.

[2018-10-23 09:57] anthrotype commented on #314
OMG, this doesn't make any sense... :man_facepalming:

[2018-10-23 12:01] benkiel commented on #314
Note that in OSX 10.8, a flat kerning table over 16k of pairs makes the system declare that the font is corrupt and it won’t install.

[2018-10-23 13:06] jdhao commented on #723
I have also met this issue today. Any solutions or hints?

[2018-10-23 13:40] anthrotype commented on #723
@jdhao which font were you trying to decompile?

[2018-10-23 14:41] jdhao commented on #723
Just a custom font I have collect from somewhere. If you need, I will post the font file here.

[2018-10-23 14:53] anthrotype commented on #723
double check the license first

[2018-10-23 21:32] HinTak commented on #723
In general, you are not supposed to post publicly font files you have, unless the license gives you re-distribution rights. All libre fonts, do, but those two I listed above are fonts that "I collected somewhere", hence I only posted the md5 check sum.

[2018-10-24 15:07] jdhao commented on #723
Thanks for pointing out.

[2018-10-24 16:14] MrBrezina opened #1346 "Omitting maximum for a rule condition in a designspace document causes an error"
When using rules in a designspace document.

[code]

When I omit the `maximum`, according to the spec the maximum of the corresponding axis should be used, however, I get an error during compilation with fontmake.

[code]

[2018-10-24 16:20] anthrotype commented on #1346
@MrBrezina thanks for the report! should be a quick fix. Wanna send a PR?

[2018-10-24 16:50] MrBrezina commented on #1346
Not sure if I should assume -1.0 and 1.0 to be minimum and maximum respectively or deal with it differently, but PR is on its way.

[2018-10-24 17:21] #1346 closed

[2018-10-24 17:49] MrBrezina opened #1349 "The glyph names in <sub> in <rule> in designspace need to be “production names”"
Perhaps this should be clarified in the spec? Because, one might assume that if designspace refers to UFOs, these names should be the designer-friendly names used when displaying UFOs in editors. (Sorry, do not know what is the nomenclature here.) Currently, it seems these need to be the production names (in cases where they are different).

[2018-10-24 20:34] justvanrossum commented on #1349
@letterror?

[2018-10-24 20:40] LettError commented on #1349
There are different consumers of designspaces. Which code needs production names?

[2018-10-24 20:44] justvanrossum commented on #1349
I assume the varlib compiler.

[2018-10-24 21:30] anthrotype commented on #1349
fontmake just calls calls varLib.build with a designspace file as input and a "finder" callable that translates the UFO sources' paths into the respective master TTF paths. From there, it's fonttools doing its thing, there's nothing fontmake can do. The glyph renaming has already happened (in ufo2ft).
I'll have to think about at which level is best to tackle this, but I do agree it'd be better if

[2018-10-24 21:33] readroberts commented on #1349
Seconded.

[2018-10-24 21:39] anthrotype commented on #1349
I know how to fix this in fontmake. When producing a variable font from a designspace, it should tell ufo2ft to _not_ do the renaming when compiling the master TTFs, and then it should call the ufo2ft PostProcessor on the variable font after it is generated by `varLib.build`.

[2018-10-25 23:51] blueshade7 opened #1350 "[subset] subr# assumed to prefix callsubr/callgsubr"
Maybe this is just a limitation, but discovered this CFF subsetter shortcoming by thought-experiment & verified using mod-fonts.

Subsetter appears to assume a callsubr/callgsubr operator must be prefixed by a (biased) subroutine number.
Type 2 CharString Format does not mandate this. If a subr number is left on the stack on call to another subroutine, or on return from a subroutine, subsetter fai

[2018-10-25 23:53] behdad commented on #1350
It's a limitation, correct.

[2018-10-25 23:53] blueshade7 commented on #1350
[mod fonts.zip](https://github.com/fonttools/fonttools/files/2517126/mod.fonts.zip)

[2018-10-28 15:30] #1321 closed

[2018-10-28 15:31] behdad commented on #1321
Figured out what was going on?

[2018-10-30 02:58] eliheuer opened #1353 "varLib: Error Merging OpenType layout tables"
I'm trying to build a variable font from the [Cairo](https://github.com/Gue3bara/Cairo) sources with `fontmake  1.7.4`. Exporting from Glyphs works, but when trying to build with `fontmake -g sources/Cairo.glyphs -o variable`, I get the following error:

[code]
I see there is a closed issue for a similar problem: https://github.com/fonttools/fonttools/issues/1125

[2018-10-30 05:48] justvanrossum commented on #1353
It means the number of GPOS features is not consistent across masters.

[2018-10-30 07:52] khaledhosny commented on #1353
This often means you have some glyphs with different anchors across masters.

[2018-10-30 11:48] eliheuer commented on #1353
Got it, thanks. I'll close this.

[2018-10-30 11:48] #1353 closed

[2018-10-31 22:36] readroberts opened #1355 "[varlib.build] Support different sets of master designs for different glyphs"
I am starting to look at how do this. The motivation is that Adobe is planning to deliver a CJK variable font late next year, which will have 64K glyphs. This was developed with our internal tool that supports different sets of master designs for different glyphs, but only a a few hundred of glyph use this feature. I can build this VF now, but only by snapshotting the the source data to make an in

[2018-11-01 03:35] behdad commented on #1355
So, what's wrong with this model: masters can have different glyphs.  The base master must have all glyphs.  varLib then checks for each glyph, which masters have it.

Only maters that have GPOS will particilate in GPOS modeling.

[2018-11-01 03:35] behdad commented on #1355
While this works on the varLib level, we need to figure out how to get fro Glyphs/UFO to such "sparse" masters which lack GPOS, OS/2, some glyphs, etc.

[2018-11-01 05:15] readroberts opened #1356 "[varLib.mutator] Support snapshotting of CFF2"
varLib.mutator currently supports snapshotting a glyf table, but not a CFF2 table.

[2018-11-01 05:34] behdad commented on #1355
Let's implement this in varLub' glyf and your CFF2 table and refine from there.

[2018-11-01 09:02] miguelsousa commented on #1355
I'm assuming you meant Superpolator

[2018-11-01 09:08] justvanrossum commented on #1355
Yes, I think that's what needs to happen.

[2018-11-01 10:09] anthrotype commented on #1355
A few months ago, we added a new `layerName` attribute to the designspace source element
https://github.com/fonttools/fonttools/pull/1253

One of the primary use cases was indeed to support storing additional sets of masters that only apply to particular glyphs (aka "brace trick" in Glyphs.app jargon).

This is not implemented yet in varLib (https://github.com/fonttools/fonttools/issues/1308).

Th

[2018-11-01 12:39] justvanrossum commented on #1355
#1253

But the `layerName` attribute is perpendicular to this issue: a "normal" UFO master should be able to be sparse just the same.

[2018-11-01 15:09] behdad commented on #1355
Agree.

[2018-11-01 15:14] behdad commented on #1355
Right.  I can look into the varLib side.  You figure out how the compiler determines this.

[2018-11-02 07:29] justvanrossum commented on #930
In the context of #683 I think `addMultilingualNames` should just always add platform 1 versions. Or make it optional via a flag in the method signature. I don't understand what sense it makes to only add them if a windows version can't be made.

As it stands, `addName` by default adds both platform 1 and platform 3 versions, but `addMultilingualNames` only adds platform 3 (in the usual case), whi

[2018-11-02 10:40] justvanrossum commented on #930
I can make a PR.

[2018-11-02 10:57] anthrotype commented on #930
thanks!

[2018-11-02 18:30] robmck-ms commented on #683
I *think* it was El Capitan (10.11), but I'm not 100% certain. That sounds about right for what I was running at the time, as I didn't switch to Sierra right away. Unfortunately, none of the email I can find on the subject mentioned the OS version.

[2018-11-02 18:48] blueshade7 opened #1360 "[subset CFF] --no-hinting strips off rmoveto args incorrectly"
CFF subsetter with --no-hinting, without --desubroutinize options appears to strip off arguments from the first rmoveto incorrectly in the following case.

(SourceHanSans-Regular.otf Japanese, version 1.004), glyph 'A', origin (191, 298) stripped off.
Input font & output attached.
[code]
  ***SNIP***
[code]
***SNIP***
[code]
***SNIP***
[code]

[2018-11-02 18:49] blueshade7 commented on #1360
[cff-nohint-bug.zip](https://github.com/fonttools/fonttools/files/2543761/cff-nohint-bug.zip)

[2018-11-02 20:40] anthrotype commented on #683
Thanks. IIRC, El Capitan was released before OpenType variations became officially supported (Sierra 10.12 I think was the first), so maybe that limitation of platformID=1 was the legacy of the old TrueType GX code.
In whic case, perhaps we could stop adding Mac names in fvar by default, and only use Windows (unicode) names.

/cc @justvanrossum

[2018-11-02 21:52] #1360 closed

[2018-11-02 21:53] behdad commented on #1360
Fixed.  Please test.  I was too lazy to add a test.  Here's relevant data if someone wants to add:
[code]

[2018-11-02 21:54] behdad commented on #1360
Expected output subrs:
[code]

[2018-11-03 10:32] anthrotype commented on #765
Friendly reminder: in about two months from now, fonttools will drop support for python2.7. The master branch will fork and a py27 branch will be maintained for another six months as bug-fix only; all new features will be for python3.5+.
Reach out if you need assistance in this transition.

[2018-11-03 13:47] eliheuer commented on #1353
The problem here was beyond silly, one instance had a weight class that I didn't notice. Got it building now.

[2018-11-05 03:04] medicalwei commented on #765
I also notified in Debian's mailing list that upstream is dropping Python 2 support:
https://lists.debian.org/debian-fonts/2018/11/msg00000.html

If they don't migrate these fonts listed in the mailing list above will be unable to build, then eventually removed from Debian repositories.

Notifying nototools is also needed, otherwise noto fonts won't be able to build as well:
https://github.com/goo

[2018-11-05 07:46] anthrotype commented on #765
nototools is not required to build the Noto fonts, fontmake is. And one can always pin the exact version of fonttools, the current versions will continue to work and be available for install on python2.7 indefinitely. It’s only the new versions from 1 Jan 2019 onwards that will be py3 only.

[2018-11-05 08:19] m4rc1e commented on #1353
@eliheuer could you specify exactly what was wrong?

Such info could make more meaningful error messages

[2018-11-05 15:08] moyogo commented on #314
I’ve opened the PR #1361 with a fix. It ignores the subtable length.

@behdad why did you say "for the last subtable" in:

[2018-11-05 17:18] behdad commented on #314
Because otherwise by ignoring length, a subtable will try to parse the data for subsequent subtables, which can't be right.

[2018-11-05 17:19] behdad commented on #314
Actually, in HB, I have had reverted that change accidentally.

[2018-11-05 17:21] behdad commented on #314
Actually, you're right.  Ignore that comment.

[2018-11-05 17:21] behdad commented on #314
Also, ignore this.

[2018-11-05 17:46] readroberts commented on #1355
Supplying sparse masters needs to be supported, and in many cases will be sufficient, to specify which regions should be used for a given delta tuple. However, I think that there are two cases for which the masters cannot be sparse, and that therefore some meta data is need to indicated which regions can be skipped for some glyphs. The two cases are kern pairs and GPOS contextual statements. Both

[2018-11-05 20:18] eliheuer commented on #1353
One of the instances had a weight class custom parameter, I just didn't notice it. Hence this was a careless mistake on my part.

[2018-11-06 03:06] weiweihuanghuang opened #1362 "io.UnsupportedOperation: seek"
[code]

Getting this error from https://github.com/googlefonts/gf-glyphs-scripts/issues/38

[2018-11-06 08:14] anthrotype commented on #1362
@behdad Was that seek(0) introduced when we added support for ttCollection maybe?
I was under the impression that TTFont supported unseekable streams (e.g. stdin or zipfile), as that was the reason we read all incoming data into a BytesIO when lazy=False.

[2018-11-06 18:06] davelab6 commented on #1353
Still the error should be better

[2018-11-06 18:08] anthrotype commented on #1353
the assertion error was originally reported was referring to the FeatureCount in the GPOS table, so it's unlikely that the issue (at least the one triggering that) was caused by differing weight class custom parameter (which if anything would affect the OS/2 table, not the OTL tables). The explanations from @justvanrossum and @khaledhosny are more likely to be correct.

[2018-11-07 21:04] benkiel opened #1364 "[ufolib] Allow UFOZ only for UFO3"
To aid tools and provide a clean break, we should only allow UFOZ for UFO3 and on. This should have come up in the UFOLib work, but it was an assumption that was held but not expressed, as this is an addition originally planned for UFO4 (ish).

[2018-11-07 21:11] benkiel commented on #1364
To further clarify "clean break" — yes, there isn't a technical reason that UFOZ couldn't apply to UFO1/2, but two things:

1. This is an addition, and only needing to assume that UFOZ == UFO3+ is nice
2. Because UFO2 was much more lax about data types, ingesting a UFO2 into a UFO3 application means some background cleanup needs to happen, which is best done by reading parts of a UFO, but one can'

[2018-11-07 23:30] weiweihuanghuang opened #1365 "AttributeError: FeatureIndex"
I'm trying to `addFeatureVariations` to a VF.ttf generated by fontmake ([here is the .glyphs file](https://raw.githubusercontent.com/weiweihuanghuang/Work-Sans/master/sources/WorkSans.glyphs)) using `fontmake -o variable -g WorkSans.glyphs`

Here is the script I run on the VF.ttf output
[swapBracketTrick.py.zip](https://github.com/fonttools/fonttools/files/2559662/swapBracketTrick.py.zip)

This is

[2018-11-07 23:32] weiweihuanghuang commented on #1365
While generating the font from fontmake I also did get these, not sure if relevant:
[code]

[2018-11-07 23:55] anthrotype commented on #1365
@weiweihuanghuang you don't need to write your own script to do that, fontTools.varLib supports building GSUB FeatureVariations tables based on the designspace document's `<rules>` element.
For example, see this test case:
https://github.com/fonttools/fonttools/blob/0331f668c0bd6adcb6a855ddf851054be9eb8a2a/Tests/varLib/data/FeatureVars.designspace#L9-L29

you can build the variable font using font

[2018-11-07 23:57] anthrotype commented on #1365
those INFO logging messages are benign, they're just informing your that fonttools is fixing an offset overflow occurring in some lookup subtables while compiling the GPOS table

[2018-11-08 01:06] weiweihuanghuang commented on #1365
I get the same error with a .designspace file:

[code]
[Archive.zip](https://github.com/fonttools/fonttools/files/2559893/Archive.zip)

[2018-11-08 07:49] justvanrossum commented on #1365
Confirmed, investigating.

[2018-11-08 08:01] justvanrossum commented on #1364
I'm not sure I agree. Your #2 raises the question: if such cleanup is needed _before_ data is sent to ufoLib, doesn't this suggest a weakness in ufoLib?

The vfb2ufo tool has been capable of writing UFO2+zip as .ufoz since (at least) 2015. And my shallow experiments show that these are just perfectly readable with fontTools.ufoLib. I'm not saying this is an important use case -- not at all even --

[2018-11-08 08:15] justvanrossum commented on #1365
Found the bug, working on a fix.

[2018-11-08 08:38] anthrotype commented on #1364
Which was the reason why I didn’t put that version >= 3 check.
But if you prefer to restrict to UFO3 and above I don’t mind.

[2018-11-08 08:39] anthrotype commented on #1365
Thanks @justvanrossum!

[2018-11-08 09:55] #1365 closed

[2018-11-08 11:45] felipesanches opened #1367 "What's the reason for the default choice of cmapPreferences on getBestCmap method?"
https://github.com/fonttools/fonttools/blob/349cd94d171cf4e1e7541884df0d12bb6d4e841a/Lib/fontTools/ttLib/tables/_c_m_a_p.py#L41-L54

What's the reasoning behind this specific ordering, by default? Could it please be explicitly mentioned in the docstring?

[2018-11-08 11:56] anthrotype commented on #1367
read here for the various platform IDs and platform-encoding IDs (used by both cmap and name table):
https://docs.microsoft.com/en-us/typography/opentype/spec/name#platform-encoding-and-language-ids

basically the idea is windows platform (3) is preferred over "unicode" platform (0) as the former is more common (although they are equivalent); full repertoire is preferred over BMP plane only, for o

[2018-11-08 13:42] felipesanches commented on #1367
please consider improving the docstring ;-)

[2018-11-08 13:46] justvanrossum commented on #1367
please consider contributing a PR ;-)

[2018-11-08 14:12] felipesanches commented on #1367
sure. I am just not really sure yet how to better express these ideas in the docstring.

[2018-11-08 14:20] behdad commented on #1367
The code this was based on has more context.  I thought I copied that in fonttools.  But the code looks rewritten.
https://github.com/harfbuzz/harfbuzz/blob/master/src/hb-ot-cmap-table.hh#L984

[2018-11-08 14:21] behdad commented on #1367
But, the point of docstring is not to explain the implementation.  It's to describe the functionality and interface.

[2018-11-08 14:29] felipesanches commented on #1367
well... could be a comment then.

The sequence of numbers requires one to know by heart the values of each platform ID and encoding ID. And the specific ordering seems arbitrary unless there's some reasoning stated to clarify why it may be a reasonable default.

[2018-11-08 14:37] behdad commented on #1367
Why would one need to know what they mean anyway?  And no, it doesn't require one to know them by heart.  It requires one to open the spec page, which is what all of us developers do every day.  If someone doesn't know the cmap or name table architectures, they have no reason to be care about the sequence of numbers here.

[2018-11-08 14:53] felipesanches commented on #1367
"explicit is better than implicit", "readability counts"...

[2018-11-08 14:54] behdad commented on #1367
You could have sent a PR in the time you spent replying to this thread. :)

[2018-11-08 20:17] mjlagattuta commented on #1353
I was having a similar issue, but it was resolved after fixing a poor anchor oversight of mine. This was the error I was getting:
[code]
I agree with @davelab6 that the error message could be better in pointing you to the glyphs and anchors that are problematic.

<br>

Another thing relevant to merging tables that I have come across when building [Inknut Antiqua](https://github.com/mjlagattuta/Ink

[2018-11-08 21:43] davelab6 commented on #1353
I suggest making a calendar item to chat with Cosimo about this in December, he is away rest of the month

[2018-11-09 00:12] behdad opened #1369 "[varLib] Change varStore storage format?"
Currently we store delta rows as lists. Can be tuples. Of course in the builder API we accept both. But what gets stored will be different, and ttx output will be different (showing "(1, 2, ...)" instead of "[1, 2, ...]"). @anthrotype do you think it's worth it?

[2018-11-09 07:31] weiweihuanghuang opened #1370 "VF-ttf goes from ~330kb to ~3mb after simple addFeatureVariation"
This seems excessive.

[Archive.zip](https://github.com/fonttools/fonttools/files/2564941/Archive.zip)

[2018-11-09 07:56] weiweihuanghuang opened #1371 "addFeatureVariation doesn't work on a glyph that's also being swapped by another opentype feature"
Please see the attached file, the ".tf" glyphs have an extra shape inserted in front so I can test and see if they're being swapped properly. I built these with fontmake then ran the attached script.

This is the progression:
![nov-09-2018 18-54-26](https://user-images.githubusercontent.com/1271897/48250029-06a8a680-e451-11e8-88fc-8de7527076f2.gif)

This is how it should look at the heaviest end w

[2018-11-09 09:00] justvanrossum commented on #1370
You need to use only one substitution dict per condition:

[code]

This adds a mere 2336 bytes to the font.

This could possibly be automated by `addFeatureVariations()`. Let's keep this issue open.

[2018-11-09 09:55] justvanrossum commented on #1371
Hm, I can't find anything wrong with your font, but I can reproduce the (non)behavior with harfbuzz/hb-shape and axis-praxis on Chrome.

@behdad, can you see why the font doesn't behave as intended?

Here's an improved build script (see #1370):

[code]

[2018-11-09 11:19] weiweihuanghuang commented on #1370
I see, thank you for the explanation!

[2018-11-09 15:13] behdad commented on #1371
What's the test string?

[2018-11-09 15:16] behdad commented on #1370
Yeah the space partition code should be smarter.

Even without space partitioning, maybe we should just hack the current code to merge same ranges.

[2018-11-09 15:19] behdad commented on #1371
Just, with your script I see this in the GSUB table:
[code]

`LookupCount=0`.

[2018-11-09 15:19] justvanrossum commented on #1371
Teststring: "ÖÄÜ$¢"

[2018-11-09 15:20] justvanrossum commented on #1371
That is correct. The `rvrn` feature has no lookups by default, the FeatureVariation swap in a non-empty feature.

[2018-11-09 15:40] #1370 closed

[2018-11-09 15:40] behdad commented on #1371
Oh.  I forgot how this works.. :)

[2018-11-09 15:41] behdad commented on #1370
Done already. :)

[2018-11-09 16:01] justvanrossum commented on #1370
Awesome, thanks :)

[2018-11-09 17:30] behdad commented on #1371
Haven't dug into it.  Found more fun thing to do (optimizing featureVars module. )

[2018-11-09 17:30] behdad commented on #1371
Will look into after.

[2018-11-10 05:05] behdad opened #1373 "[varLib.featureVars] Build multiple subTables, instead of multiple Lookups, per region"
Currently, for each region, multiple lookups are created, one per original input rule. This allows sharing bytes for the lookup for each rule amongst all regions using it. However, we can do the same byte-sharing by creating one lookup, with multiple sublookups, per region. That's slightly faster to process and allows for similar byte-sharing, and byte overhead of doing so is only slightly higher.

[2018-11-10 08:31] justvanrossum commented on #1371
I managed to reproduce the problem with a minimal test case.

Test string: "12"

If you slide the weight slider, halfway through the 2 swaps correctly to 3.

The font contains a `tnum` feature, which substitutes the 1 for 2.

If you enable `tnum` in axis-praxis, the substitution works, but the substituted 2 does _not_ get replaced by 3 along the weight axis.

Summarizing: with `tnum` on and `wght`

[2018-11-10 08:35] justvanrossum commented on #1371
Oh, @weiweihuanghuang, I took the glyphs one, two and three from your WorkSans fonts to make the test UFOs. I hope you don't mind.

[2018-11-10 08:42] justvanrossum commented on #1371
[code]
So in the last case I expected `[three=0+600|three=1+600]`

[2018-11-10 09:44] justvanrossum commented on #1371
Maybe this is the problem.
From https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#rvrn:

Does this imply `rvrn` is a special case, and its associated lookups are not processed in the order of the LookupList, but earlier?

From a design standpoint the spec fragment makes no sense to me. I expect `rvrn` to be processed last (that's why featureVars.py puts its lookups at the end o

[2018-11-10 11:42] weiweihuanghuang commented on #1371
@justvanrossum no problem! just happy this is looked into

[2018-11-10 16:08] justvanrossum commented on #1371
@PeterCon @robmck-ms

[2018-11-10 16:14] justvanrossum commented on #1371
Also from the spec:

Why? Again, this makes no sense to me. If I need to switch to an alternative dollar from a `smcp` dollar or an `onum` dollar, I certainly don't want a `rvrn` substitution to take place _before_ `smcp` or `onum` has been processed.

[2018-11-10 18:13] khaledhosny commented on #1371
I think one would have to do:
[code]

Instead of:
[code]

[2018-11-10 18:41] justvanrossum commented on #1371
I fear you're right, and I still hope you're wrong. This is completely reversed of what is actually useful. I'm curious about the motivation.

[2018-11-10 19:42] justvanrossum commented on #1371
Ugh, my eyes, they are bleeding.

[2018-11-10 19:44] Lorp commented on #1371
BTW when hunting bugs in FeatureVariations **always type at least two characters!** If you use Safari, that is. A single glyph in Safari does not trigger FeatureVariations.

It’s because of an optimization, where macOS apps can use “fast path” text rendering if it thinks a text run is simple and can avoid costly OpenType processing. Simple text runs include single glyph runs.

Avoid the problem by

[2018-11-10 21:17] behdad commented on #1371
Okay.  Yeah.  Now I remember the full details for this issue..

Basically, 'rvrn' was NOT designed to be *the* feature used with FeatureVariations.  'rvrn' was added to carry the feature variations to 'cmap' table mapping.  The idea was that other GSUB features will be substituted with alternative forms themselves, not requiring 'rvrn' to do it for them.

Now, this doesn't mean the designer needs

[2018-11-11 07:17] justvanrossum commented on #1371
Never have I been more disappointed by not discovering a bug in my code :(

Yeah, we need a variant of `rvrn` that applies last. I'll post a note to the OpenType list.

I think it's a really bad idea to try to kludge this from varLib, so I think we should just close this.

@weiweihuanghuang, you probably have enough info now to know how to make it work, right?

[2018-11-11 08:19] justvanrossum commented on #1371
Btw., before 'rvrn' was widely implemented, we used 'kern' as a hack-y placeholder feature. It's always on, even as GSUB... If I hack the font so the feavar feature is 'kern' instead of 'rvrn', the font actually works as expected... At least with harfbuzz.

[2018-11-11 08:42] weiweihuanghuang commented on #1371
@justvanrossum yes I understand @irenevl’a example

[2018-11-12 15:51] weiweihuanghuang commented on #1371
Can I just ask here, in the condSubst list... those regions, what do they correspond to? I thought it was corresponding to the weight value in the glyphs file but it's clearly not, is it the "to" (or "from") in the avar table?

[2018-11-12 16:00] behdad commented on #1371
It's normalized axis values.  Yes, same as "to" in avar if avar exists.

[2018-11-14 19:22] blueshade7 opened #1379 "[subset/CFF] fails with a hinted empty path"
pyftsubset fails with --no-hinting, --no-desubroutinize (default) on the attached font (mod copy of Source Code Pro Regular) at a glyph calling out a subroutine of a hinted empty path.
[SourceCodePro-mod.otf.zip](https://github.com/fonttools/fonttools/files/2582279/SourceCodePro-mod.otf.zip)

[code]
The offending CharString reads (as ttx output):
[code]
[code]

[2018-11-15 01:19] behdad commented on #1379
Do you have a full font I can test?

[2018-11-15 01:40] blueshade7 commented on #1379
I don't have a license to post the original font with which I found the bug, sorry. Attached is my result of attempt to repro the bug by modifying an open source font.

[2018-11-15 03:34] behdad commented on #1379
Ah sorry didn't see the attachment. Was on mobile.

[2018-11-15 05:12] BlackFoundry commented on #1260
yes:
if Thai First, Latin second, mark to mark positioning works.
if Latin first, Thai second, mark to mark positioning does not work

[2018-11-15 06:31] behdad commented on #1379
Fixed.  Thanks.

[2018-11-15 06:31] #1379 closed

[2018-11-15 06:31] behdad commented on #1379
Good to add a test some time.

[2018-11-15 08:29] weiweihuanghuang opened #1380 "Issue generating instance"
I'm running `fonttools varLib.mutator WorkSans-Italic-VF.ttf wght=900` on this [VF-ttf](https://github.com/weiweihuanghuang/Work-Sans/blob/master/fonts/variable/WorkSans-Italic-VF.ttf?raw=true) and get this outpuit:
[code]

[2018-11-15 08:30] anthrotype commented on #1380
same as https://github.com/fonttools/fonttools/pull/1374

@weiweihuanghuang mind to send a PR?

[2018-11-15 08:31] anthrotype commented on #1380
oh it's actually the same file and line! so you just need to use the updated fonttools.
I'll cut a new release later today. You can `pip install -e .` from a git-cloned fonttools

[2018-11-15 09:45] justvanrossum commented on #1380
Yeah, it was fixed by #1375.

[2018-11-15 09:55] jenskutilek opened #1381 "[varLib] Shifting composite glyphs in macOS"
https://github.com/googlei18n/fontmake/issues/481

I had noticed this macOS rendering behaviour a long time ago, but the fix occurred to me only today. varLib could work around it by adding dummy entries to glyphs without necessary deltas to make sure they get an entry in the gvar table.

You can see it very clearly in [Normschrift](https://www.axis-praxis.org/specimens/normschrift) e.g. in ö (com

[2018-11-15 15:59] behdad opened #1382 "Spin off t1Lib?"
Since it doesn't interact with rest of codebase, and is not touched or improved like the ret, I suggest we spin it offf into its own historical module and remove from fontTools.

[2018-11-15 16:07] justvanrossum commented on #1382
It's working and is being used. -1 from me. Same with afmLib.py.

[2018-11-15 16:11] typemytype commented on #1382
the 1st of april is not even close...

[2018-11-15 16:11] behdad commented on #1381
Right.  I saw the same when I read your comment in other issue.  It's slightly trickier than I like it to be, as the empty entries are optimized out during the compile process, so varLib needs a way to communicate it to the compiler that we want to retain empty entries for those glyphs..

[2018-11-15 16:12] behdad commented on #1381
Humm, or maybe not.

[2018-11-15 16:22] behdad commented on #1382
That's why I suggested spinning it off, not plain removing.  It shares pretty much nothing with the rest of codebase.

[2018-11-15 16:28] justvanrossum commented on #1382
So what? It's not causing any harm staying, moving it away will cause people to do unnecessary work.

[2018-11-15 16:29] justvanrossum commented on #1382
And I should be thankful you don't want to plain remove it? Funny :)

[2018-11-15 16:30] behdad commented on #1382
No one said be thankful.  I'm just saying I understand it's in use.  Anyway, whatever. :)

[2018-11-15 16:47] justvanrossum commented on #1382
I'm just a bit flabbergasted that you not needing a particular fonttools component would be reason enough for spinning it off.

Sure, it's a rarely used part. Sure, it's not maintained as tightly as the rest (but then again, the Type 1 spec hasn't changed in a while). But the fact that it's _there_ as part of fonttools comes in handy time after time. I used it fairly recently for a client that nee

[2018-11-15 16:51] behdad commented on #1382
Where did I offer *that* as my argument?  Don't put words in my mouth.

Guess what, I don't *need* *any* of the code I work on.

I provided a reason from a software maintainership point of view.  And if I thought it's reason enough, I would have gone ahead and done it, not file an issue to discuss.  I'm not even the module maintainer.

That's fine.  No need to continue discussion.  I suggested som

[2018-11-15 16:57] justvanrossum commented on #1382
I'm sorry for misrepresenting what you said. I just get really grumpy when changes are suggested that will cause other people to have to do unnecessary work.

[2018-11-15 17:02] anthrotype commented on #1382
i'm -0, so for the sake of 🕊let's just leave t1Lib alone

[2018-11-15 17:02] #1382 closed

[2018-11-15 17:32] anthrotype commented on #1369
@behdad you would prefer to store them internally as tuples so that they are immutable and you don't need to worry when sharing objects, right?

we could change VarDataValue.xmlWrite method to convert it to a list so its repr stays the same in the xml output

[2018-11-15 23:06] behdad commented on #1369
That would be a nice side effect, but wasn't my intent.  Just disabled optimization in existing code and things showed up as tuples instead of list.  We use tuples in some stages to be hashable so we can detect duplicates...  Would be nice to ensure one or the other.

Right...

[2018-11-15 23:21] behdad commented on #1382
This.. is also making assumptions.

I've been maintaining widely deployed, system level, software all my professional life.  My C libraries have a stable API policy for life.  I don't just break other people's system for the heck of it.

The change I suggested could be implement without users ever noticing.  fontTools.t1Lib could import * from t1Lib.  pip install fonttools could automatically inst

[2018-11-16 01:58] twardoch commented on #1382
I'll also say that the main reason Type 1 will "always" be with us is that Type 1 is required to read and understand for anyone to deal with CFF.

The CFF spec uses terms that are defined only in Type 1 (actually sometimes you even have to read the PostScript manual). While it is possible to deal with CFF/CFF2 natively, it's much easier to do certain things on the Type 1 level.

The original usage

[2018-11-16 02:19] twardoch commented on #1382
If a restructuring of fontTools were made, I’d be in favor of the following:

- spin off *all* the "libs" including ttLib into separate packages so that each has a minimal set of requirements
- make fontTools a metapackage that only does imports (for seamless backwards compatibility) and that installs all the spun-off packages via requirements

That would allow some use cases where only ttLib or v

[2018-11-16 05:37] twardoch commented on #1371
You can use the FeatureVariations mechanism with any feature, not just rvrn. The rvrn feature is just the feature where the FeatureVariations is used at the early stage, and which should be on by default.

You can use FeatureVariations with any feature (e.g. ss01 or smcp or swsh or dlig — if you only want discretionary feature variations behavior).

Any engine that only uses FeatureVariations with

[2018-11-16 09:37] justvanrossum commented on #1371
Maybe the only problem is that there's no generic feature available that is always-enabled. I can hack around it by using 'kern' instead of 'rvrn', and I'm curious to learn how well that works across engines. But it's obviously a hack, as 'kern' has a very different purpose.

[2018-11-17 11:19] weiweihuanghuang commented on #1380
New bug from installing from [latest commit](https://github.com/fonttools/fonttools/tree/f99afc70d3fd21addcae2f955ccb2a2b99c5cc2e):
[WorkSans-Italic-VF.ttf.zip](https://github.com/fonttools/fonttools/files/2591702/WorkSans-Italic-VF.ttf.zip)

[code]
from this

[2018-11-19 01:35] behdad commented on #1380
I'm fixing it.

[2018-11-19 01:39] #1380 closed

[2018-11-20 13:41] #314 closed

[2018-11-20 16:17] anthrotype opened #1386 "changelog for next version 3.33.0"
we need to push a new release, but I don't have time this week to update the NEWS.rst changelog.
if anybody would like to help, then I can do the usual `python3 setup.py release --minor --sign && git push --follow-tags` and Travis does the rest.
thanks

[2018-11-20 16:41] nyshadhr9 commented on #1386
My change
- [varLib.mutator] Add IDEF for GETVARIATION opcode, for handling hints in an instance.

[2018-11-20 16:42] moyogo commented on #1386
* [ttLib] Ignore the length of kern table subtable format 0

[2018-11-20 17:16] anthrotype commented on #1386
thanks. is anything else missing?

[2018-11-20 18:56] behdad commented on #1386
Quickly browsing, I spotted nothing else major.

[2018-11-23 02:49] behdad commented on #1260
What's a good test sequence?  Marks in Thai don't work or Latin?

[2018-11-27 14:56] typemytype opened #1389 "DeprecationWarning: invalid escape sequence"
the rest is nicely escaped with `r'...'`

https://github.com/fonttools/fonttools/blob/master/Lib/fontTools/ttLib/tables/ttProgram.py#L198-L199

[2018-11-30 15:56] mekkablue opened #1391 "Better installation instructions"
The current installation instructions are not sufficient for making ttx work. To illustrate the issue:

[code]

Or:

[code]

[2018-11-30 16:08] anthrotype commented on #1391
Try to upgrade pip then retry to install fonttools. Pass —upgrade option

[2018-11-30 16:10] anthrotype commented on #1391
Before you upgrade pip, what version of pip do you have that raises that error?

[2018-11-30 16:16] anthrotype commented on #1391
Also the version of setuptools may be relevant. Try do pip list to see what version is installed in your env.

[2018-11-30 16:49] behdad opened #1392 "CFF2 code cleanup"
Random things looking around right now:

- What's CFF2Subr class for?  It doesn't make any sense to me.  Why is it called Subr, but has a draw() method?  What is different from T2CharString?  Apparently nothing, just the isCFF2.  I thought we agreed we don't want to carry that flag on the objects...  I like to see those removed from T2CharString.  I checked all the occurences, they don't seem esse

[2018-11-30 18:05] readroberts commented on #1392
@behdad  The current CFF2Subr class should be renamed to CFF2Charstring - the name is an artifact of early work. It is needed to carry a different draw() method than T2Charstring. The isCFF2 field is indeed no longer needed in psCharStrings.py, and I will get rid of it.

For the subset work, I'm happy to add .desubroutinize(), remove_hints(), and remove_unused_subroutines methods on both CFF and C

[2018-11-30 19:08] Pomax opened #1393 "feature request: --make ttf/cff/cff2/svg/blahblahblah"
Every time I had a dumb or possibly-not-dumb-but-definitely-crazy idea for a font, I reach for TTX with a small font file and then strip down the converted XML to then start hacking on the initial font in XML form... but it would be super great if I didn't have to find a random small font to strip down, but instead had a way to say something like: `ttx --make-ttf` or `ttx --make cff2` and have it

[2018-11-30 20:57] behdad commented on #1393
Yes please!!!  Now that there's fontBuilder module, maybe this becomes the command-line interface to that module...

[2018-11-30 21:08] behdad commented on #1392
The different `draw()` method only deals with width differently?  I think we can have one function only that sets width if private has width fields?  Either that or another way of sniffing whether we are running as CFF2 or not and oblige.

Exactly.

Just the above breaking would be enough.  I might give it a go myself.  I'm just not sure how well-tested the uses of that code is, so I'm afraid I mi

[2018-12-02 10:04] BlackFoundry opened #1394 "feature request: feaLib.builder appendOpenTypeFeatures"
Similar to 'addOpenTypeFeatures' but wouldn't overwrite existing features, just append additional GSUB / GPOS lookups to existing ones and update features accordingly.

https://github.com/fonttools/fonttools/blob/d53a26acaef4b3672af5b36df818fd22ebee4c69/Lib/fontTools/feaLib/builder.py#L20

[2018-12-02 17:30] Pomax commented on #1393
Ooh, is there fontbuilder specific documentation? I wouldn't mind seeing if I can stub something out for this.

[2018-12-02 17:37] justvanrossum commented on #1393
There are some examples in the source: https://github.com/fonttools/fonttools/blob/master/Lib/fontTools/fontBuilder.py
It's pretty new, and still requires quite some spec knowledge, but it does make it a lot easier to programmatically get a working font.

[2018-12-02 17:43] Pomax commented on #1393
Thanks! Spec knowledge should hopefully not be a problem here, given my past font parser and generator work =D

[2018-12-05 11:58] #1389 closed

[2018-12-05 18:08] behdad opened #1400 "[varLib.featureVars] Buggy"
From Just:
[code]

[2018-12-05 18:33] behdad commented on #1400
Fixed.  Would be nice if someone can add these to to the test suite.

[2018-12-05 18:37] justvanrossum commented on #1400
I'll add this to featureVars_test.py, thanks.

[2018-12-05 19:07] justvanrossum commented on #1400
Unfortunately this doesn't fix Akiem's problem. Will try to reduce that one to a test.

[2018-12-05 21:20] behdad commented on #1173
@ebramino

[2018-12-05 21:56] underware commented on #1400
Yes, all works as expected. Thanks for the quick fix!
However, my manually written GSUB is still around 15% smaller...

[2018-12-05 23:36] behdad commented on #1400
I can try optimizing if you can share.  I know the current algorithm doesn't produce optimal output, but I couldn't produce test cases exhibiting that.  Or most probably, it's about how we combine lookups or don't.  Anyway, hard to tell or do anything without seeing what you did and what the code does.

[2018-12-06 06:50] justvanrossum commented on #1400
Here's a script that builds a test font based on Underware's data, anonymized. Not sure if 15% is worth the effort, though...

[buildfeavartestfont.py.zip](https://github.com/fonttools/fonttools/files/2651983/buildfeavartestfont.py.zip)

[2018-12-06 17:03] behdad opened #1403 "[CFF] remove_hints() wrong for CFF2"
Read recently changed CFF2 Private object with this:
[code]
I suggest using 0 instead of None there.  That can also be used to detect CFF later.  Currently, subset.cff's drop_hints() is wrong in that it puts a width back into the charstring:
[code]
which should not happen for CFF2.  Using None above can be used to detect that.

[2018-12-07 00:13] behdad commented on #1400
Thanks.  15% is not the point.  I like to see what better packing approach Akiem is using and try to achieve it.

[2018-12-07 10:10] underware commented on #1400
What I am doing is rather primitive. Instead of using lookups, I define the substitutions directly inside the feature variations.

[2018-12-07 11:09] justvanrossum commented on #1400
If you can share, a `ttx -t GSUB font.ttf`dump would be helpful.

[2018-12-08 04:40] behdad commented on #1400
I'm guessing that that just doesn't do anything.  Does it work?!

[2018-12-08 04:45] behdad commented on #1400
I see the difference.  What you are doing is to create one lookup per changeset.  Whereas in the code, Just originally decided, to generate one lookup per input changeset and reference multiple lookups from each region.  This is typically beneficial by not duplicating the lookup content multiple times.  But in your case, combining is more compact.  Let me think, we can probably find out what the o

[2018-12-08 20:49] behdad opened #1404 "Don't write out Format for Coverage/ClassDef/SingleSubst/..."
For OpenType Layout types like Coverage, ClassDef, SingleSubst, LigatureSubst, ... the different formats are loaded in a unified model by fonttools.  These, ideally, should not even set Format on the object anymore.  But for historical reasons we do.  They should not write Format to XML though.  I know I made this change and then because of Just's objection this was reverted.  It's annoying; causi

[2018-12-08 20:49] behdad commented on #1404
@justvanrossum

[2018-12-08 20:59] justvanrossum commented on #1404
If we can optionally keep it that would be great, but I'm slowly coming around to your view, so I'm at most -0 about dropping it from the ttx format altogether now. Can we keep it at the Python level?

[2018-12-12 18:39] readroberts commented on #1403
Fixed by PR 1405

[2018-12-12 18:39] #1403 closed

[2018-12-12 18:41] readroberts commented on #1392
Fixed in PR #1397

[2018-12-12 18:41] #1392 closed

[2018-12-12 18:42] readroberts commented on #1356
Fixed in PR Varlib interpolate cff2 #1377

[2018-12-12 18:42] #1356 closed

[2018-12-13 14:48] anthrotype commented on #765
The end of the year is approaching. Time flies...
I hope that we still all agree about dropping support for python 2.7 from beginning of next year.
The plan is do it gradually. For the first few months we can commit to backporting bugfixes to the `py27` branch and do patch releases (e.g. 3.34.1, 3.34.2, etc.).
At the same time, in the master branch we start dropping py23 compatibility code and add

[2018-12-13 16:14] justvanrossum commented on #765
I think it's important that we communicate clearly that fonttools won't disappear from 2.7, but that new features will only be added to the 3.x version.

[2018-12-13 16:58] anthrotype commented on #765
Of course, we shall write that in the README and in the releases notes in a prominent position.
The trick is to use `python_requires=">=3.5"` keyword in the setup.py script, for all the new versions of fonttools 4.0. Then we can upload both fonttools 3.34.x and fonttools 4.x on PyPI, and pip will automatically download the most recent version that is compatible with the current python.
This is how

[2018-12-14 02:54] dimaqq opened #1407 "KeyError trying to merge woff2 fonts"
`pyftmerge` seems to support woff2 fonts (if brotli is not installed, it complains about that).
But using it on woff fonts I get this error:

[code]

I'm not quire sure what this means...

On a limb, I've checked the font with pyftinspect and space character has 2 subsections, 0 and 1; perhaps that's what `space#0` refers to.

[2018-12-14 02:56] dimaqq opened #1408 "AssertionError merging woff"
Test data: https://github.com/dimaqq/kanji-sudoku/tree/gh-pages/fnt (it's my repo, a 3rd party Kanji stroke order font split into subsets)

`pyftmerge stroke0.woff` OK

`pyftmerge stroke0.woff stroke1.woff` fails with:

[code]

[2018-12-14 12:52] anthrotype commented on #1408
I know, that AssertionError is quite obscure, and overall the merge.py module is poorly documented.

In this case the problem is not about the files being woff. What's triggering the assertion error is the fact that in your fonts' GSUB table, there are script tables without DefaultLangSys table.
They look like this:

[code]

Note, this doesn't mean that the fonts are invalid, the spec does allow D

[2018-12-14 13:08] anthrotype commented on #1407
yes. As explained in the README, for fonttools to be able to decompress/compress WOFF2 you need brotli. You can install fonttools using the extra 'web' keyword as in `fonttools[web]` to automatically install brotli (as well as zopfli for an optimized WOFF 1.0 compression).

Again, like in #1408, the problem is not with woff or woff2 (they are just different packaging formats for opentype fonts, do

[2018-12-14 13:08] #1407 closed

[2018-12-15 20:01] behdad commented on #1408
I don't know why I did it that way.  But yeah, if all are None, just set to None.

[2018-12-17 02:22] VivaRado opened #1410 "much space"
https://github.com/fonttools/fonttools/blob/6e1e0b73f1d82a0a3d1e6307164dddcadcf20df6/Lib/fontTools/varLib/merger.py#L861

[2018-12-17 09:26] VivaRado opened #1411 "Minor Kerning Interpolation Issue."
https://github.com/fonttools/fonttools/blob/6e1e0b73f1d82a0a3d1e6307164dddcadcf20df6/Lib/fontTools/varLib/merger.py#L677

Reversing cols when first values are None, solves minor kerning interpolation issue on compile.
Tested only for Group to Group based kerning pairs.

[code]

[2018-12-17 11:11] anthrotype commented on #1410
sorry but this is just noise, if you care about that you can send a PR. It takes you the same amont of time as opening the issue.

[2018-12-17 11:11] #1410 closed

[2018-12-17 11:13] anthrotype commented on #1411
you propose a "solution" but I still don't get whant the issue is

[2018-12-17 12:08] dadasutasudadas opened #1412 "pyftmerge: getting OverflowError"
When I tried to merge fonts covering the range of U + 100000 to U + 10EA5F and fonts covering U + 10EA60 to U + 10FFF5, I got the following error.

Traceback (most recent call last):
  File "c:\python2715\lib\runpy.py", line 174, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "c:\python2715\lib\runpy.py", line 72, in _run_code
    exec code in run_globals
  File "C:\Python2

[2018-12-17 12:16] anthrotype commented on #1412
you're trying to pack too many glyphs into a single opentype font. you can't fit more than 65535 glyphs.

[2018-12-17 12:33] dadasutasudadas commented on #1412
Fonts that support the range U+100000 to U+10EA5F have 60003 glyphs(include 3 other glyphs). The font that supports U + 10EA 60 to U + 10 FFF 5 has 5527 (include 1 other glyph)glyphs. Since the total number of glyphs expected after merging is 65530, I think that there are five margins.

[2018-12-17 12:52] anthrotype commented on #1412
right ok, then your fonts probably aren't including glyph names from the "standard macintosh set" so all glyph names in post table format 2.0 end up in the extra names, but post format 2.0 only has room between 258 and 65535 for these:

https://docs.microsoft.com/en-us/typography/opentype/spec/post

I'd recommend you switch to post table format 3.0, which basically means dropping all the glyph nam

[2018-12-17 12:55] anthrotype commented on #1412
try something like this
[code]

[2018-12-17 13:03] dadasutasudadas commented on #1412
Thank you! It went well!

[2018-12-17 13:03] #1381 closed

[2018-12-17 13:03] #1412 closed

[2018-12-17 13:31] #1408 closed

[2018-12-17 18:17] VivaRado commented on #1411
Simple problem im trying to solve here. I have set extreme values between kerning the regular and italic. Values like -200 and 200. And I am trying to generate that.

By providing a small pair set (250 Group to Group), modifying the italics and regular to have opposite exaggerated kerning values (reg -200 and ital 200), and testing  it until varlib generates the interpolation between those font in

[2018-12-17 18:45] VivaRado commented on #1410
Done: https://github.com/VivaRado/fonttools

[2018-12-17 18:47] anthrotype commented on #765
I just added a note to the README saying that we plan to only do bugfix releases for python 2.7 in the next six months or so, and that all new features starting from 1st of January 2019 (next month) will be python3 only.
https://github.com/fonttools/fonttools/commit/4a153333f20b6d940dc2a4443bc61de7112c09b0

[2018-12-17 18:48] anthrotype commented on #1410
done what?

[2018-12-17 18:49] VivaRado commented on #1410
Forked and PR

[2018-12-17 18:52] anthrotype commented on #1411
i'm sorry, I'm even more confused than before. Maybe somebody else can help you.

[2018-12-17 18:53] VivaRado commented on #1411
No problem, I'm helping myself. Just checkup on the PR

[2018-12-18 02:43] VivaRado commented on #1411
Hello! Great day to you all! Thank you for your time.
In the Advent repository I have included the files I'm using to test for example a Group to Group kerning list of length 400.

If you run the [designspace located here](https://github.com/VivaRado/Advent/blob/master/font_source/EFO/temp/font.designspace), and create a variable OTF. And [replace it here](https://github.com/VivaRado/Advent/blob/m

[2018-12-18 03:04] behdad commented on #1411
What's EFO?  How do I build this?  Please upload here a zip file with a designspace file and the ttf-interpolatable output from fontmake, that I can call `fonttools varLib` on and get the variable font.  Thanks.

[2018-12-18 03:16] behdad commented on #1411
Thanks.  Note that you can also upload zip files to github issues.

[2018-12-18 04:41] behdad commented on #1411
I can reproduce the issue.  If I keep running with python3, most times the output is 118840 bytes, but sometimes 118676 or 118716.  Doesn't happen with python2.  Digging more.

[2018-12-18 04:56] behdad commented on #1411
@anthrotype do you have ideas of what kind of things python3 can result in such nondeterminism?

[2018-12-18 08:40] anthrotype commented on #1411
It may be the hash randomisation, which is on by default in python >= 3.3. It’s designed to prevent attackers from maliciously triggering hash collisions.
We need to check all the sets or dictionaries and check we are not relying on any particular order of the collections (which changes at every run), but instead use a deterministic sorted order.
Try setting PYTHONHASHSEED environment variable to

[2018-12-18 23:07] VivaRado commented on #1411
My guess so far is that it happens in ttLib/otTables:splitPairPos

[2018-12-19 02:03] VivaRado commented on #1411
Could this be it? in _ClassDef_invert

[code]

[2018-12-19 11:08] behdad commented on #1411
I see the issue now.  Working on a fix.

[2018-12-19 11:34] behdad commented on #1411
Fixed.  Would be nice to add a test...  Should happen easily when there are more than one PairPosFormat2 subtables.

[2018-12-19 11:34] #1411 closed

[2018-12-20 00:07] madig opened #1417 "designspaceLib: InstanceDescriptor.mutedGlyphNames intentionally a dud?"
An `InstanceDescriptor`'s `mutedGlyphNames` list is created in `__init__` and mentioned in https://github.com/fonttools/fonttools/tree/master/Doc/source/designspaceLib#attributes-1, but it is neither read from nor written to disk in `designspaceLib.__init__`. Is this intentional?

[2018-12-21 01:09] VivaRado commented on #1411
@behdad Well done! that's a big OOOF. Could you pinpoint the area so I can confirm please?

[2018-12-21 03:00] VivaRado commented on #1411
Hello, as i tested with the new fix that @behdad provided, the whole kerning pairs set:
[code]
Was nicely compiling the the exaggerated values. But there is still something wrong.
Because i have to keep producing the font - and I cant really say or pinpoint the area of the issue for the inconsistency. Because there still is one. I can provide the deducted source - [you will find here](https://gith

[2018-12-21 03:04] behdad commented on #1411
I'm not sure what you are talking about.  Please file a new issue and give exact minimal instructions of how to reproduce the bug, what you get, and what you expect.

[2018-12-21 04:13] VivaRado commented on #1411
Ok, here is the preview build (sorry it took so long
[preview_build_2.zip](https://github.com/fonttools/fonttools/files/2701473/preview_build_2.zip)
):

In the preview, there are two fonts:

 - Normal:
   - Here compiled with deducted in (index_normal.html):
      - We don't ask any exaggeration and "AVA", "AUA", "AWA" are ok.
   - Here compiled with standard in (index_normal_standard.html):

[2018-12-21 04:14] behdad commented on #1411
New issue please.

[2018-12-21 04:17] VivaRado opened #1418 "Minor Kerning Interpolation: The return of the kerning monster"
Ok, here is the preview build (sorry it took so long) [preview_build_2.zip](https://github.com/fonttools/fonttools/files/2701473/preview_build_2.zip):

In the preview, there are two fonts:

 - Normal:
   - Here compiled with [deducted](https://github.com/VivaRado/fontmake_deducted) in **(index_normal_deducted.html)**:
      - We don't ask any exaggeration and "AVA", "AUA", "AWA" are ok.
   - Here

[2018-12-29 22:57] madig opened #1420 "Feature request, varLib: merge CFF hinting into CFF2 font"
I can't find any hinting operators in the `CFF2` dump after merging some compatibly hinted CFF fonts.

[2018-12-31 18:41] behdad commented on #1418
@anthrotype, something to look into together?

[2019-01-02 11:21] mhosken opened #1423 "[plistlib] using collections.Mapping with singledispatch raises TypeError on python2"
In commit 3b2bfcf29a0c9f940aa08dbe382e09f75b006ed0 support for writing a plist for a dict was removed in favour of requiring a Mapping. Was that intentional or was it that dict and Mapping should both be supported? Currently fonttools is broken for use with defcon since defcon passes a dict to plist for serializing.

[2019-01-02 11:22] anthrotype commented on #1423
you sure it's broken? `dict` is supposed to be a subclass of `Mapping`
https://docs.python.org/3/library/collections.abc.html

[2019-01-02 11:22] mhosken commented on #1423
only in python3. And it doesn't cost much to leave dict support there for a little longer?

[2019-01-02 11:23] anthrotype commented on #1423
wait.. I'm surprised this is the case. Lemme check

[2019-01-02 11:24] mhosken commented on #1423
The code is in effect `return _make_element({}, context)`. Where context looks fine.

[2019-01-02 11:25] anthrotype commented on #1423
this seems to work
[code]

[2019-01-02 11:33] mhosken commented on #1423
fyi when it asks for the subclasses of _abcoll.Mapping it doesn't get a simple Mapping, it gets a `Mapping[~KT, ~VT]` which is a parameterized class and so doing a issubclass on that causes the exception. Don't know much about parameterized types meself.

[2019-01-02 11:41] anthrotype commented on #1423
it looks like this bug, https://github.com/python/typing/issues/484, but that's supposed to be fixed already.

@mhosken can you provide be a simple reproducer that trigger this TypeError?

[2019-01-02 11:51] anthrotype commented on #1423
@mhosken can you check what version of `typing` you have installed (e.g. do `pip show typing`)?

I have typing 3.6.6. The above-mentioned patch was released with 3.6.4 I think.

And what python2.7 version exactly (just in case)?

[2019-01-02 12:05] anthrotype commented on #1423
ok, I was able to reproduce this by force-installing `typing==3.6.2`, and then loading a UFO in defcon.
Upgrading typing with `pip install -U typing` seems to fix the issue.
I'll think about a workaround that doesn't require the user to use the latest `typing` backport module, since it's stictly not part of fonttools installation requirement.

[2019-01-02 12:30] #1423 closed

[2019-01-02 12:37] anthrotype commented on #1423
I opted for the simplest thing, so the backport module `typing >= 3.6.4` is now required when installing fonttools with the `lmxl` extra (that also pulls in the `singledispatch` backport), only on python2.7. This fixes the reported TypeError.

[2019-01-02 12:59] anthrotype opened #1424 "rename deprecated methods in latest pyfilesystem2 API (fs >= 2.2.0)"
A few methods like getbytes, setbytes and similar have been renamed in fs module 2.2.0, they now issue a deprecation warning:

https://github.com/PyFilesystem/pyfilesystem2/releases/tag/2.1.2

we should rename them and bump required fs module in install_requires

[2019-01-02 16:10] anthrotype commented on #1259
never mind

[2019-01-02 16:10] #1259 closed

[2019-01-02 16:14] schriftgestalt opened #1426 "Error in error reporting"
When this file (that is messed up on purpose), ttx responds with this error message:

https://github.com/moonAgirl/Bugs/blob/master/otfcc/2018-12-30-01-global-buffer-overflow.otf/
the file was posted here: https://github.com/caryll/otfcc/issues/59

[code]

[2019-01-02 16:35] anthrotype commented on #1426
ouch. thank @schriftgestalt for reporting this and @justvanrossum for the quick fix

[2019-01-02 17:08] anthrotype commented on #1426
Fixed by #1427

[2019-01-02 17:08] #1426 closed

[2019-01-02 20:40] madig commented on #1259
Maybe it pays to make it a `Path` object.

[2019-01-03 18:21] willmcgugan commented on #1424
Apologies, I messed up the release version. Here's the link:

https://github.com/PyFilesystem/pyfilesystem2/releases/tag/v2.2.0

[2019-01-03 22:18] readroberts commented on #1420
That is currently as expected. This was by design on my part, as it seemed to me that maintaining compatible hints in the source fonts is more challenging than hinting the variable font, where all the source paths are easily available. The psautohint tool will soon be extended to do this. However, I see that this is a narrow view. If there is demand for merging hinting from compatibly hinted sourc

[2019-01-05 20:02] plant99 commented on #1424
Hey, @willmcgugan .
I would like to work on this issue, if you are busy to change the function names, and up the version in 'install_requires'.

[2019-01-05 21:08] willmcgugan commented on #1424
@plant99 not my project, but I imagine they would be happy to accept a PR...

[2019-01-07 16:01] anthrotype commented on #1424
@plant99 of course, you're welcome to send a PR! thanks

[2019-01-07 17:23] behdad commented on #1420
I think we should merge, not drop, hinting if available though.

[2019-01-09 17:29] moyogo opened #1435 "[ttLib] clean up XML for cmap format 14"
As a follow up to #1434:
* default values should no use “None” for glyph names
* the `cmap_format_14` element shouldn’t have a `lenght` attribute.

[2019-01-09 17:58] justvanrossum commented on #1435
Neither should it have `format` and `numVarSelectorRecords` attributes.

[2019-01-10 18:19] #1435 closed

[2019-01-10 23:31] VivaRado commented on #1418
The values are missing because of OTLOffsetOverflowError in otBase ( in contrast fontlab compiles them and there is no overflow loss)

Before that, in otlLib/builder.py : buildPairPosClassesSubtable
all the GPOS data apear.

The data also appear normal in addOpenTypeFeaturesFromString, as self.features are all good.

But when the TTFs are generated they lose values, right before the final variable

[2019-01-11 09:01] VivaRado commented on #1418
In **otBase: raise # Oh well...** prevents the subsequent functions, that seemingly attempt to fix the overflow, from running. Investigating

P.S. Ignore the deducted, seems to me that this is the only problem left to solve.

[2019-01-11 20:27] VivaRado commented on #1418
Hello, another issue I found is that if I have previously split the FEA into subtables:
[code]
after the otBase, or otTables
It adds additional subtable splits.
[code]
A note about sorting also. In Fontlab, there is an warning, where if you have definition of a pos without class before a class. So when i sort the FEA i do it by counting how many classes "@_" in each pair, and those go first.

[cod

[2019-01-12 02:58] VivaRado commented on #1418
So far i understand that the issue is not with the Varlib or Fontmake or Fonttools.
The issue is with opentype itself. (Might sound grandiose but its true.)
If you want to explicitly set the classes:
[code]
It will compress and rename the class to
[code]
Just because E is before H... and so it goes to all other aspects.

[2019-01-12 05:03] VivaRado commented on #314
Just experienced it, adding subtable breaks, literally breaks some kerning values.

[2019-01-12 18:52] VivaRado commented on #1418
Seems like if the GG, LG, GL kerning values, don't listen to your kerning, you can pass LL at the end of the kerning FEA and the values get appropriately "fixed". But again that is because of how Opentype Features work, if you have a lot of values one might think... i have 4500 pairs after TYPL Compress.
but seems to me that there must be some sort of obscure balance between GG,LG,GL for the pairs

[2019-01-13 18:09] anthrotype commented on #1417
@LettError do you know what's that for?

[2019-01-14 07:15] brawer commented on #930
Here’s the upstream source for the likelySubtags data: https://www.unicode.org/repos/cldr/trunk/common/supplemental/likelySubtags.xml

[2019-01-14 15:56] anthrotype commented on #1259
@LettError I see two methods that do basically the same thing: [updateFilenameFromPath](https://github.com/fonttools/fonttools/blob/53ad36e42b539a31b58782aa5a52f5a64abecc92/Lib/fontTools/designspaceLib/__init__.py#L1139-L1153) and [updatePaths](https://github.com/fonttools/fonttools/blob/53ad36e42b539a31b58782aa5a52f5a64abecc92/Lib/fontTools/designspaceLib/__init__.py#L1071-L1117), can we simplify

[2019-01-14 16:25] LettError commented on #1259
Ok

[2019-01-14 18:21] behdad commented on #930
I think we want this in HarfBuzz as well.  Maybe something @dscorbett can look into?

[2019-01-14 18:41] brawer commented on #930
And here’s the upstream source for aliasing deprecated tags (`iw` → `he`), overlong tags (`eng` → `en`), etc. Note that some items such as the country code `SU` for the Soviet Union have multiple replacements; it’s probably reasonable to use the first item in the list (in this case, alias `SU` to Russia `RU`).

https://www.unicode.org/repos/cldr/trunk/common/supplemental/supplementalMetadata.xml

[2019-01-14 18:46] behdad commented on #930
The likelySubtags map Latin in Iran to Turkmen.  In reality, it would most probably be just Latin transcription of Persian.  I assume other scripts / countries have same issue...

[2019-01-14 18:46] behdad commented on #930
But that's something for CLDR, not us...

[2019-01-14 18:59] brawer commented on #930
Bug reports welcome: https://unicode.org/cldr/trac/newticket

[2019-01-14 20:52] khaledhosny opened #1442 "[voltLib] GroupDefinition.glyphSet() is broken"
Take the following simple test vtp file:
[code]

Processing it with this simple program:
[code]

This raises:
[code]

It looks like there is some confusion here; the code seems to expect the enum to be `Lexer.Enum` which is not used anywhere actually as `Parser.parse_coverage_()` returns a tuple. If this is indeed the intention, then `Parser.parse_coverage_()` should be fixed to return `Lexer.Enum

[2019-01-15 06:43] brawer commented on #930
Also relevant: http://unicode.org/reports/tr35/#Unicode_Language_and_Locale_Identifiers

[2019-01-15 08:13] justvanrossum opened #1444 "[ttLib] Idea: read/write json in addition to XML?"
(braindump)

Would it be an idea to consider adding support for reading and writing json in addition to XML?

The amount of work may be substantial, given how many tables we support these days, but perhaps an incremental approach would help.

The big question is: what would this buy us? Right now, I'm not even sure. Back then, XML was the thing-du-jour and I got convinced jamming everything in tha

[2019-01-15 08:31] anthrotype commented on #117
I like the idea of an alternative dump format, but without replacing xml as such, at least initially. There are very fast/optimized json decoder/encoder written in c o rust, e.g. the one Adrien uses in tfont or many others, so I don’t think we need to bother manually coding our own.

[2019-01-15 08:41] anthrotype commented on #117
If speed is a concern, this is the fastest, apparently:
https://github.com/ijl/orjson

But, like with lxml, it would be good to use stdlib etree by default and have the third party module as optional extra requirement.

I think if we do this, it should be one of those new features that are only python3, so it’s for fonttools 4.x series

[2019-01-15 09:15] justvanrossum commented on #117
I'm (as usual) far less interested in absolute speed than in scalability.

It for sure shouldn't replace our current XML format — at least not in the next 5 to 10 years :)

And indeed, it would be a FontTools 4 feature, Py3-only. If only because of the dict-keys-keeping-their-insertion-order feature, which is _so_ useful in contexts like this.

If we can decide on a framework of how to do it (and

[2019-01-15 09:52] moyogo commented on #1442
Yes, `Parser.parse_coverage_()` isn’t done. Using tuples was a temporary hack. It should return a `ast.Enum` object, groups names should be `ast.GroupName` objects and glyph ranges should be unpacked.

[2019-01-15 11:07] #1424 closed

[2019-01-15 11:42] anthrotype opened #1446 "[subset] handle CFF and HVAR in --retain-gids feature"
https://github.com/fonttools/fonttools/pull/1443 added support for subsetting TrueType glyph outlines/metrics without modifying glyph indexes (making dropped glyphs unprintable, no contours, no advance).
We need to do the same for CFF (and "endchar" in a glyph's charstring program should take care of both advance width and contours, right?), and HVAR (with no mapping, glyphIDs are used as implicit

[2019-01-15 11:44] khaledhosny commented on #117
I think https://github.com/caryll/otfcc is the C tool @justvanrossum was thinking about, I haven’t used it myself though.

[2019-01-15 11:50] anthrotype commented on #117
FWIW, I read @be5invis is planning to deprecate otfcc in favour of some other TypeScript library of his https://github.com/caryll/otfcc/issues/59#issuecomment-450603013

of course, supporting JSON in ttx would be a good regardless of otfcc

Hey.. how about a `.ttj` file extension, coupled with a new `fonttools ttj` cli entry point?

[2019-01-15 11:58] justvanrossum commented on #117
`.ttj` sounds good, but json output could potentially be a new option for the `ttx` tool.

[2019-01-15 12:04] be5invis commented on #117
Please note that OTFCC’s JSON format lies a slightly higher than TTX: it provides a more semantic representation of font data so a programmer can manipulate it more directly. One example of that (and my new lib) is variations: it directly stores GVAR data into the point coordinates rather than store it separately.

________________________________
发件人: Just van Rossum <notifications@github.com>
发送

[2019-01-15 12:20] justvanrossum commented on #117
I don't think I'd want to go that route for ttx-json, although we should probably drop the semantically irrelevant details from the binary format that TTX currently still dumps here and there.

[2019-01-15 14:13] anthrotype opened #1448 "[subset] support subsetting glyphs from CFF2 fonts"
Right now, if one passes an OpenType font containing CFF2 table, the subsetter chokes like this

[code]

[2019-01-15 21:42] behdad commented on #1446
A bit more involved.  Let's work out together next week.

Those are what I can think of.  Not sure what other tables require all glyphs to be listed in.

Probably also post table?  Or maybe not.  If user is keeping glyph names, best to keep all glyph names?   Hard to know without knowing *why* this feature is being used...

[2019-01-15 21:42] behdad commented on #1446
Changed my mind.  I think we should drop glyph names for them as well if we can...

[2019-01-15 21:48] behdad commented on #117
I think we should only do a json writer/reader by just replacing the Reader/Writer classes.  Ie. do an automatic XML serialization in json.

Also, for suffix, I'm for `ttxj`.

[2019-01-16 08:31] anthrotype commented on #1141
I just remembered that @pomax’s Bezier Primer also contains a chapter on approximating circles with cubic or quadratic beziers
https://pomax.github.io/bezierinfo/#circles_cubic

[2019-01-16 13:33] anthrotype commented on #1448
after commit https://github.com/anthrotype/fonttools/commit/9b296463bde96e6032dedd4c886580cae8ee171e, I can run the subsetter on CFF2 font like SourceSerifVariable without error. We probably need more tests before we can say that CFF2 is properly supported by the subsetter.

[2019-01-16 14:46] anthrotype commented on #1448
Hm.. It seems like I can't even dump a CFF2 table with ttx.

[code]

[2019-01-16 15:00] anthrotype opened #1451 "[ttx] AttributeError "isCFF2" from T2CharString when dumping CFF2 toXML()"
Dumping "SourceSerifVariable-Roman.otf" with ttx yields an AttributeError from T2CharString.toXML method:

[code]

If we need to parametrize the toXML method depending on whether isCFF2 or not, then we need to have an extra isCFF2=False parameter in the top-level CFFFontSet class, and set that to True from the `table_C_F_F__2.toXML`

[2019-01-16 15:06] behdad commented on #117
Correct.  I guess we should first define what the goal is.  Is it to be human-readable / editable? Or machine?

[2019-01-16 15:20] behdad commented on #1141
Use this: https://github.com/behdad/cairo/blob/color-emoji/src/cairo-arc.c

[2019-01-16 15:22] anthrotype commented on #1141
ok, I'll use that when I get to this

[2019-01-16 15:33] justvanrossum commented on #117
For me: both, and simplicity will benefit both. The output can (in many cases) be simpler and cleaner than our current XML output, which makes it easier to process as well. I don't really see the added value of XML-packaged-as-json.

I see this as a (possibly) better format than TTX, eventually replacing it. I haven't done a solid survey yet, but every time I look at a bit of TTX and imagine the s

[2019-01-16 15:43] behdad commented on #117
There's no doubt in that.  But also the TTX format can be improved... But a diverging format means more work for fonttools developers, which is not something I'm very excited about...

[2019-01-16 15:55] justvanrossum commented on #117
Yeah, that is a very important consideration indeed. The cost vs. benefits need to be assessed way more carefully.

[2019-01-16 15:56] behdad commented on #117
The benefit of a mechanically generated json is for use in servers, to send down to web clients...

[2019-01-16 16:52] #1448 closed

[2019-01-17 11:52] anthrotype commented on #1451
this looks more involved that I had thought.

So, I removed the check in toXML for extra args on stack in #1452, and I can now dump to SourceSerifProVF to ttx.
However, after I compile back to OTF and attempt to re-dump to TTX, I get a failure while de-compiling:

[code]

I believe I haven't touched the decompile part of the code. I'm not sure what's wrong...

[2019-01-17 11:52] jenskutilek opened #1454 "[ufoLib] Convert ufo2 to ufo3 snippet?"
Is there a snippet converting a ufo from version 2 to version 3 using ufoLib? I'm sure there must be, but I can't find it, and I can't figure out quickly how to do it looking at ufoLib.

[2019-01-17 11:55] anthrotype commented on #1454
good question. Try to see how defcon does it.

[2019-01-17 12:02] jenskutilek commented on #1454
That's the problem, I currently get an error when trying to open a UFO2 with defcon:

[code]

`ufoLib.UFOReader.readKerning()` works ...

[2019-01-17 12:04] justvanrossum commented on #1451
Does this problem persist with the latest version of  #1452?

[2019-01-17 12:06] bugfixtheworld commented on #115
Currently the timestamp will be again modified by default.

[2019-01-17 12:06] justvanrossum commented on #1454
You probably need to upgrade the fs module, see #1424.

[2019-01-17 12:11] bugfixtheworld commented on #46
Currently the timestamp will be again modified by default. There is no option to use the font "modified" timestamp. Need to reopen the issue?

[2019-01-17 12:21] jenskutilek commented on #1454
Ah, I missed that bit! Thank you, fixed now ...

[2019-01-17 13:09] anthrotype commented on #1454
if you just git pull the minimum dependecies won't get updated, you also need to do `pip install -e .` from time to time

[2019-01-17 13:13] anthrotype commented on #1451
unfortunately it does...

to reproduce, download "SourceSerifVariable-Roman.otf" then dump to ttx, then compile back to otf, then attempt to re-dump to ttx. You should get the above `IndexError: index out of range` exception at line 33 of psCharStrings.py.

https://github.com/adobe-fonts/source-serif-pro/blob/release/VAR/SourceSerifVariable-Roman.otf

[2019-01-17 14:19] justvanrossum commented on #1451
I'm on to something, debugging.

[2019-01-17 14:22] justvanrossum commented on #1451
Found it, making PR.

[2019-01-17 14:54] #46 closed

[2019-01-17 15:03] anthrotype commented on #1451
Fixed by #1456

[2019-01-17 15:03] #1451 closed

[2019-01-17 15:04] justvanrossum commented on #1451
Closed via 176f2e82449c5bce47e6b63b52ec674582a1e12b

[2019-01-17 16:09] justvanrossum commented on #117
Cases where json won't win: where we have a language within the language. For example T2 charstrings and TT instructions. json doesn't do multiline strings, so those things will look worse than what we have now.

[2019-01-17 16:11] anthrotype commented on #117
how bad would be using array of lines?

[2019-01-17 16:11] justvanrossum commented on #117
Not bad, but worse than what we have now :)

[2019-01-17 16:14] anthrotype commented on #117
I know, it's off topic, and risk opening a pandora box.. but [toml](https://github.com/toml-lang/toml) is becoming quite popular nowadays as well. just sayin'.

[2019-01-17 16:18] justvanrossum commented on #117
Hm, not impressed:
[code]

[2019-01-17 16:22] anthrotype commented on #117
(that `points` list of dicts could probably be just a list of tuples, but nevermind)

[2019-01-17 16:30] anthrotype commented on #117
that looks nice

[2019-01-17 16:36] justvanrossum commented on #117
Should we open a separate issue to freely discuss alternative dump formats?

[2019-01-17 16:36] anthrotype commented on #117
yeah, that's better.

[2019-01-17 16:42] justvanrossum opened #1457 "[TTX] Discussing alternative dump formats for TTX"
In #117 we're talking about using using json, and some other formats, like TOML. Let's use this issue for wildly speculating about what dump format could be better than what we have now.

[2019-01-17 16:44] justvanrossum commented on #117
For any non-json dump format discussion, please use #1457

[2019-01-17 16:48] justvanrossum commented on #1457
Our TTX format is not so bad, but sometimes feels a little verbose. XML is not really that great for data. But it does give us a lot of freedom.

json is clean and simple, but lacks:
- comments
- multi line strings (useful for language-within-the-language, such as TT instructions or T2 charstrings)

toml is very flexible, but that also means we need to put effort into outputting a suitable variati

[2019-01-17 17:00] anthrotype commented on #1457
I just came across this "style-preserving" TOML library for python: https://github.com/sdispater/tomlkit
Also has an API for writing new TOML docs from scratch. Might be worth a look.

[2019-01-17 17:04] chrissimpkins commented on #1457
While not a serialization approach, GH flavored Markdown might be helpful from a practical collaborative data use/sharing standpoint.  A number of tools built on fonttools are emitting data formatted in Markdown for the automated rendering to formatted HTML that is available in discussion threads (e.g., Github) and HTML/PDF with platform-specific MD->HTML/PDF tools (e.g., `pandoc`).

[2019-01-17 17:05] anthrotype commented on #1457
yeah, markdown is not an option.

[2019-01-17 17:32] chrissimpkins commented on #1457
Sorry, this should be a separate issue.  I read the title too broadly.  I do think that MD as a supplemental ttx data dump format could be helpful to those who are sharing and discussing these data.

[2019-01-17 19:33] anthrotype commented on #1457
I think that if TTFont and all the ttLib objects had an asdict() and fromdict() methods, that unstructured and structured the objects to/from primitive python data structures, then the serialisation format could be anything, json, toml, yaml, pickle or whatever.

[2019-01-17 20:30] rsheeter commented on #1141
Oh very nice. I was reading Pomax but cairo-arc.c is even better.

[2019-01-17 21:05] behdad commented on #1141
I see you're getting pulled into the curve math blackhole :D.  There's a lot to read, and even more unwritten...

[2019-01-17 21:31] rsheeter commented on #1141
Good news, people are very determined to ensure I do nothing but attend meetings so I guess I can dodge that bullet :)

[2019-01-18 06:57] justvanrossum commented on #1457
The more I think of it, the more I think our TTX format isn't all that bad. json is great for simple dict/list-like structures, but its lack of multi line strings, comments and hex notation for integers (!) makes it not a great contender to _replace_ TTX.

Whether toml is an options remains to be seen. The format is quite flexible, but we'd need clever formatting instead of default formatting, and

[2019-01-18 13:31] behdad commented on #1457
That breaks the format though.  But agree with general direction.

[2019-01-19 05:45] bobh0303 opened #1459 "Pair position lookup NULL value record compiled incorrectly"
I'm converting a VOLT project to FEA. The project contains a number of pair position lookups where only the _second_ glyph has a non-empty valuerecord. ttx decompiles such lookups to the following (glyph names changed to protect the innocent, etc.):
[code]
Note that ValueFormat1 is 0, meaning that valuerecord for the first glyph is empty, and Valueformat2 is 5, and thus the only ValueRecord provid

[2019-01-19 10:03] anthrotype commented on #1459
@bobh0303 Thanks for the report. I'll look into it

[2019-01-19 10:15] anthrotype commented on #1459
it appears the feaLib parser does not distinguish between the absence of a valuerecord element following the first glyph in the pair pos statement, and a value of <NULL>; in both cases it returns None

https://github.com/fonttools/fonttools/blob/af0e78e2eb7831dda1f7d513836e55cb78abcd21/Lib/fontTools/feaLib/parser.py#L1153-L1156

and a None value triggers the switch to the compact format B (e.g. `p

[2019-01-19 14:35] bobh0303 commented on #1459
It aborts with a syntax error:
[code]

It looks to me like there are currently six places in the Adobe spec, including three in the valuerecord area, that indicate their syntax is "Not Implemented" by their tools.

[2019-01-19 15:06] #1417 closed

[2019-01-19 15:08] #1459 closed

[2019-01-19 15:11] anthrotype commented on #1459
@bobh0303 Thanks for checking. Maybe you could open an issue on the afdko repo as well, referencing this.
The fix is on master, let me know if that works for you now.

[2019-01-19 18:35] bobh0303 commented on #1459
Many thanks for the quick responses! The compiled code now looks correct to me, with the non-empty value record being applied to glyph2:
[code]

[2019-01-20 04:09] khaledhosny commented on #1442
I fixed this (fixing the tests was way harder than fixing the code!). Now I’m questioning the use of sets for the glyphs, it seems to me that in many situations the order of the glyphs must be preserved and I’m not sure it is the job of the parser to remove duplicates or if it should at all.

[2019-01-21 12:33] moyogo commented on #1442
VOLT is fine with groups having glyphs more than once. You’re right, the parser shouldn’t remove duplicates.

[2019-01-22 07:42] #1442 closed

[2019-01-23 18:06] VivaRado commented on #1418
I  don't know if this is relevant: https://github.com/VivaRado/greek_kerning_bug
Also i have noticed that other fonts do kerning with sidebearings, but if you want to maintain glyph sidebearings to the width of the glyph, which to me makes more sense, and pass the values to the pos for kerning instead, it gets tricky in all sorts of ways one is that kerning values like cross language system or eve

[2019-01-26 06:10] punchcutter opened #1468 "[feaLib] Special case of contextual positioning not supported"
Just ran into this trying to run fontmake on a Glyphs source file with added contextual kerning.

From https://www.adobe.com/devnet/opentype/afdko/topic_feature_file_syntax.html#6.h.v

The example shown is

`position L' quoteright -150;`

but makeotf will also allow a more complicated sequence like

`pos @someclass' @anotherclass [someglyph anotherglyph moreglyphs] <30 0 30 0>;`

When this format

[2019-01-27 10:51] anthrotype commented on #1468
@punchcutter thanks for the report. I can have a look at this after I'm back to work in the second week of February -- unless sombody else wishes to tackle this before.

[2019-01-27 10:57] #1085 closed

[2019-01-27 18:15] typemytype opened #1471 "[ufoLib] change requested for woffMetaDataDescription validator"
see https://github.com/robotools/defconAppKit/issues/26

I dont see a reason why the `text` must be required in a provided dict. I guess this could be similar to `fontInfoWOFFMetadataLicenseValidator`.

I can make a PR if this is necessary?

[2019-01-27 22:40] typemytype commented on #1471
http://unifiedfontobject.org/versions/ufo3/fontinfo.plist/#woff-metadata-description-record

the `text` value:

(this is the same for `fontInfoWOFFMetadataLicenseValidator`)

[2019-01-28 15:13] benkiel commented on #1471
Looking at the WOFF spec (https://www.w3.org/TR/2012/REC-WOFF-20121213/#Metadata), the _text_ element is required, where the url is not required (the opposite of the license element). So, the UFO spec is correct for the description element, but is not correct for the license element (there the WOFF spec says that "zero or more" text elements, the description says "one or more"). I'll open a PR for

[2019-01-28 22:32] #1471 closed

[2019-01-29 02:09] garretrieger opened #1473 "[subset] Consider implementing --retain-all-gids."
Switch --retain-gids to truncate glyphs past the highest glyph in the requested subset. --retain-all-gids would implement the current behaviour of not truncating.

[2019-01-29 10:54] frankrolf commented on #972
[code]

Why does this command need to create a zero-kB file?

[2019-01-29 21:03] miguelsousa opened #1474 "[CFF2] Unhandled exception"
[cff2_vf.otf.zip](https://github.com/fonttools/fonttools/files/2809647/cff2_vf.otf.zip)

[code]

[2019-01-29 21:16] justvanrossum commented on #1474
See #1451 and #1456. Could it be that that font was compiled with a version of fonttools before those bugs were fixed? The font is currupt in exactly the way that bug fixed in #1456 could have.

[2019-01-30 00:21] readroberts commented on #1474
I think this is something new: I get the same stack dump with that head of the fonttools master branch, which has the aforementioned fixes. Will look at this.

[2019-01-30 17:39] MrBrezina opened #1478 "Subsetter error (base and marks related)"
When I call this command:

`pyftsubset tadada.otf --layout-features=ccmp,lnum,mgrk,frac,ss11,ordn,ss06,mark,rclt,ss07,ss08,ss09,sups,tnum,numr,dlig,hist,smcp,ss15,mkmk,salt,onum,ss13,case,pnum,ss04,cpsp,c2sc,kern,dnom,zero,ss02,aalt,subs,ss01,calt,ss10,sinf,liga,ss14,ornm,ss03,ss12,locl --name-IDs=* --unicodes=* --glyph-names --notdef-glyph --notdef-outline --recommended-glyphs --name-legacy --nam

[2019-01-30 20:04] miguelsousa opened #1479 "[CFF2] 'T2CharString' object has no attribute 'isCFF2'"
[font_cff2.otf.zip](https://github.com/fonttools/fonttools/files/2814236/font_cff2.otf.zip)

[code]

[2019-01-30 20:50] justvanrossum commented on #1479
Can't reproduce, I think you're looking at #1451, which has been fixed.

[2019-01-30 20:50] justvanrossum commented on #1479
Line 1091 in `fontTools/misc/psCharStrings.py` looks different now.

[2019-01-30 23:36] readroberts commented on #1479
@justvanrossum  Just, the current afdko requires fonttools 3.35, so it doesn't have this fix yet.

[2019-01-31 08:47] miguelsousa commented on #1331
This is no longer an issue. Tested with release 3.37.0

[2019-01-31 08:47] #1331 closed

[2019-02-01 18:32] robmck-ms opened #1480 "[varLib / instancer] leaves DSIG in static instance; should remove"
Looks like varLib.mutator does not strip DSIG when generating static instances, thus the instance has the VF's DSIG. If that DSIG was not a dummy DSIG, then the DSIG will be invalid for the static instance. Probably would be good to just strip DSIG or replace it with a dummy.

This is a minor issue since practically nothing validates DSIGs, but anyway...

[2019-02-02 22:33] khaledhosny commented on #1394
Duplicate of #599

[2019-02-02 22:33] #1394 closed

[2019-02-03 07:45] justvanrossum commented on #599
Btw. `addOpenTypeFeatures()` and `addOpenTypeFeaturesFromString()` have a `tables` argument these days, that solves this issue at least partially. See https://github.com/fonttools/fonttools/commit/b2da85cffd918195c45a973bf28cdd4f2f77673e

[2019-02-04 17:12] robmck-ms commented on #1480
Good point. I haven't tried that, but I don't see anything for DSIG in varLIb/__init__.py for it, so...

[2019-02-04 18:11] anthrotype opened #1483 "[subset] AttributeError: GlobalSubrs with --desubroutinize option"
when running the subsetter on the following OTF/CFF font

[BungeeHairline-Regular.otf.zip](https://github.com/fonttools/fonttools/files/2829254/BungeeHairline-Regular.otf.zip)

using --desubroutinize option, like so:

[code]

it fails with `AttributeError: GlobalSubrs`

[code]

the above command works with fonttools 3.33.0, but fails on more recent versions, including master.
I bisected the bug to

[2019-02-05 20:51] marekjez86 commented on #1468
@punchcutter : thanks for debugging the problem

[2019-02-07 04:18] #1483 closed

[2019-02-07 09:02] medicalwei opened #1491 "Remove .gitattributes in release tarballs"
As we are packaging Debian package for fonttools to build fonts, we have problems that your .gitattributes in your tarball interferes our [git-buildpackage][1] packaging layout.  This causes the integrity check between the packaging repo (which auto converts CRLF into LF) and the tarballs (some files in CRLF) fail due to the line ending difference.

We can workaround the issue at the moment by str

[2019-02-08 01:07] rsheeter opened #1492 "svgLib: Support import of shapes"
#1141 helps a lot when importing arcs. However, shapes (https://www.w3.org/TR/SVG11/shapes.html) silently drop. Can we start adding support for shapes? - spec explains how to map them to <path> and we know how to handle <path>.

[2019-02-08 01:10] blueshade7 opened #1493 "[subset] CFF assert len(bytes) == nBytes with glyphs using different hint mask bytes & sharing subrs"
`pyftsubset` fails to subset the attached mod-copy of SourceSerifPro with `--desubroutinize` option, when two glyphs `y` and `yacute` use different number of hint mask bytes (1 & 2) while sharing some subroutines.

[code]

[2019-02-08 01:11] blueshade7 commented on #1493
[y_yacute.otf.zip](https://github.com/fonttools/fonttools/files/2843241/y_yacute.otf.zip)

[2019-02-08 07:37] anthrotype commented on #1493
Is that from fonttools/master or the current stable release? I pushed a fix for desubroutinize yesterday, maybe that fixed (or broke) it?

[2019-02-08 17:52] blueshade7 commented on #1493
Doesn't seem matter. Seems to repro with the master or 3.37.3 or 3.35.0.

[2019-02-08 21:32] readroberts commented on #1493
I can look at this. I can already guess what the problem is, after looking at the charstrings, and suspect it is a very old bug.

[2019-02-08 21:38] behdad commented on #1493
Interesting.  In general we consider it an error if a subroutine can be decompiled multiple ways.  Ie. if referenced with different hintmask bytes AND has hintmask.  I don't think we enforce this anywhere though.

[2019-02-08 22:12] blueshade7 commented on #1493
No subr is interpreted in two ways; AFDKO wouldn’t generate such a font. All hintmask operators appear in charstrings, not in shared subroutines. The offending subr seems:
[code]
called by two glyphs with different sets of operands on stack generating different numbers of stem hints. The attached font is a manually crafted POC, but based on an actual failure observed with a shipping font which I c

[2019-02-09 00:02] readroberts commented on #1493
This bug is not all what I had guessed. This is a bug in  fontTools/subset/cff.py:: _DesubroutinizingT2Decompiler.execute(). The problem is that the execute() function returns immediately if the subr has already been seen.  This is bad because 'execute()' needs to be applied to the subr if it contains hint values that will contribute to a later hint mask byte length calculation.  The easiest fix,

[2019-02-09 06:15] miguelsousa opened #1494 "[ufoLib] UnicodeDecodeError in py27"
[code]
[code]

[2019-02-09 08:04] blueshade7 commented on #1493
[y_yacute2.otf.zip](https://github.com/fonttools/fonttools/files/2847631/y_yacute2.otf.zip)
Fixed illegal placement of hintmask operators in font `y_yacute.otf` as `y_yacute2.otf`.
The only hintmask operator in glyph "y" is placed just before `endchar` making no sense, but still reproduces the failure in `pyftsubset`.

[2019-02-09 11:03] justvanrossum commented on #1494
@miguelsousa we're considering to close this as "won't fix". Feel free to make a better PR than mine, though.

[2019-02-09 11:28] miguelsousa commented on #1494
That's fine. I agree, too much overhead for little gain since py27 is on its way out.
Thanks for the effort.

[2019-02-09 11:28] #1494 closed

[2019-02-09 18:39] readroberts commented on #1493
@blueshade7 Yes, I would expect that.  The bug in pyftsubset has nothing to do with the separate bug in the original font. Can I check in  y_yacute2.otf as part of the  test case for the pyftsubset bug?

[2019-02-10 03:15] tshinnic commented on #765
Hmm, came across an old issue #234 and wondered: is there a separate issue for "cleanup source assuming python 3 environment/capabilities"?

Looking at that old issue, I notice there's still cruft around like [newline='\r'](https://github.com/fonttools/fonttools/blob/master/Lib/fontTools/afmLib.py#L344-L346), where - if I understand correctly - the newline= and sep= could just be removed?  As it i

[2019-02-10 08:16] anthrotype commented on #765
Thanks for the heads up. We haven’t started the transition to py3-only source yet (I’ve been busy with other work related things these weeks). Anyway, the issue about `“\r”` line endings in some old part of the codebase that you linked to is orthogonal to the switch to py3 and can be tackled independently of that. But very low priority. PRs always welcome.

[2019-02-12 17:57] readroberts commented on #152
Any reason not close this? Looks to me as if the issue has been fixed and related issues closed.

FYI: It is legal to have an empty BlueValue array. You have to go back to the Adobe T1 specification, end of section '5.3 Blue Values':
"""The BlueValues array is required in the Private dictionary. If no
alignment zones are necessary, use an empty array for the value
of BlueValues:
/BlueValues [ ] de

[2019-02-12 19:28] #152 closed

[2019-02-12 19:32] marekjez86 commented on #1468
@anthrotype : any update on this?
cc @davelab6
I cannot assign bugs in this repository hence I'm using comments

[2019-02-12 19:41] anthrotype commented on #1468
Thanks for checking. I am busy with internal training for at least another two weeks, I am afraid I won't be able to look into this before then.

[2019-02-12 19:49] punchcutter commented on #1468
It's not a huge deal and isn't blocking anything, but I'll send a pull request today.

[2019-02-12 19:51] anthrotype commented on #1468
that'd be awesome! thanks

[2019-02-13 00:50] tshinnic opened #1502 "Missed CFF2 check? ttFont.py line 968 routine sortedTagList()"
I asked this question on fonttools group, and it was suggested to bring it here.

ttFont.py routine sortedTagList() switches table orders on write between recommended table orderings for OpenType with TrueType outlines vs. OpenType with CFF outlines . There is a line that currently checks only for "CFF ".  I believe [that line](https://github.com/fonttools/fonttools/blob/master/Lib/fontTools/ttLib

[2019-02-13 02:07] readroberts opened #1503 "[cffLib] Remove unnecessary restriction on PrivateDict values"
@be5invis noted that the current code in cffLib requires that you not freely mix Blends and non-Blends values within the DICT stack: a Blue Value needs to contain a list of blended values, or all non-blended values. This is not required by the CFF2 spec. I think that this  limit is  left over from the early days of working out the CFF2 format, and should now be lifted.

[2019-02-13 05:15] be5invis opened #1504 "[cffLib] Support FDSelect format 4"
I know there are no fonts have >64K glyphs or having >255 FDs, but CFF2 Spec said you can use this format.

[2019-02-13 12:10] xandervx opened #1505 "How do I use pyftsubset from python and not command line?"
I have been trying to find how to use pyftsubset from python and not command line but the documentation is as good as 0. I am not so advanced in the font file inner working and cannot really spend weeks trying to understand how the fonttools codebase works. With jupyter I tried !pyftsubset ... , but some of the ttf files through errors and, hence, stops the command line execution but I cannot catc

[2019-02-13 15:03] artcs opened #1506 "Combine nested components in TTF-Fonts"
Older MacOS versions (10.6.8) have a problem with nested components in TTF-Fonts. E.g. Fira Fonts have some accents misplaced, cause they are built from nested components (see [this issue](https://github.com/mozilla/Fira/issues/86#issuecomment-107024971)).
This was fixed in Fira 4.1.6 but returned in later versions. I currently work around this issue (I still have clients using 10.6) by fixing thi

[2019-02-13 17:53] madig opened #1507 "designspaceLib: ideas for supporting STAT table information"
I am throwing around some ideas in my head on how to best support `STAT` table generation from a Designspace and used Behdad's idea from https://github.com/LettError/designSpaceDocument/issues/8#issuecomment-333539801 to sketch out some example Designspace files in the fictitious format `"5.0"`. Maybe we can even enhance Designspace as a format if we place `STAT` information front and center?

I t

[2019-02-13 18:09] tshinnic commented on #1502
Ah, fun.  *All* the documentation about ordering may be right, so I might be wrong.  Could the difference be that _two different orders_ are being discussed?

There is the order of table names as written _into the table directory_.  As above, that is uniformly alphabetically ordered.

Separately, there is the order of tables _as written to the file_.  OSes reading them in a suggested order might a

[2019-02-14 17:42] madig commented on #1507
(To clarify: I/Dalton Maag plan on implementing this in designspaceLib but I want to make sure we're all on the same page here. I assume this will probably break MutatorMath, which has been discontinued as I understand it, and will necessitate changes in varLib and most probably ufoProcessor. Anywhere else?)

(As a side-effect, I want to clean up/update the format documentation. I got the idea to

[2019-02-16 15:30] LettError commented on #1507
Err, MutatorMath continues to perform admirably in various tools as it can extrapolate beyond axis extrema and varlib, sadly, can not. Also handling anisotropic locations can only be done in MutatorMath.

[2019-02-16 15:39] madig commented on #1507
Hum, then I mixed something up.

Anyway, since you commented on Gitter chat that you are skeptical of putting `STAT` information into the Designspace file, I have started working on a new "Stylespace" format thing that I can maybe hook into fontmake at some point. Let's see.

[2019-02-16 18:28] artcs commented on #1506
So this is how far I got after some hours of trial and error:

[code]
This works fine so far, the accents appear at the correct place on MacOS 10.6. However I don't know if it's correct to just copy the `compo.flags` attribute from the nested component and moreover if and how the instructions present in the components should be handled. E.g. Adieresis is originally composed with a uni0308.case com

[2019-02-18 02:41] #1468 closed

[2019-02-20 03:54] orklann opened #1513 "Any examples or document for ufoLib"
I just linked to this repo while visiting the old ufoLib GitHub repo, but it seems there are no examples or documentation I can found on how to using ufoLib, is there anything I am missing?

[2019-02-20 22:21] cjchapman commented on #1493
Fixed by https://github.com/fonttools/fonttools/pull/1499

[2019-02-21 18:25] blueshade7 commented on #1493
[y_acute3.otf.zip](https://github.com/fonttools/fonttools/files/2890536/y_acute3.otf.zip)
The attached font still fails with this command line:
[code]
**Notes:**
The two glyphs share both local subrs and global subrs. This may be a factor?
The actual font & glyphs causing this failure are `s.sc` and `scaron.sc` in TektonPro-LightCond.otf.
Modified & simplified & transplanted the charstrings as `y`

[2019-02-22 11:34] madig commented on #1513
There seems to be no real documentation. What would you like to do with ufoLib?

[2019-02-22 13:50] orklann commented on #1513
I used `defcon` which also uses this tool. it works as expected.

[2019-02-22 13:50] #1513 closed

[2019-02-22 15:18] artcs commented on #1506
So after some more hours of trial and error, here is my final script, which deals with components consisting of more than one nested component like `tildemacroncomb.case`. Feel free to include it into Snippets if you think somone could find it useful.
The question of how to deal with instructions in the original component remains however.
Closing here due to lack of response.

[code]

[2019-02-22 15:18] #1506 closed

[2019-02-22 17:43] cjchapman opened #1515 "fonttools memory usage much higher than expected"
@graphicore, @webdev, and I were looking into Font Bakery's memory usage and found that fonttools' memory usage was much higher than we expected, and @anthrotype encouraged us to report this here.

The discussion started in the Font Bakery Gitter on 12 Feb. 2019 and continued through at least 22 Feb 2019: [February 12, 2019 11:22 AM](https://gitter.im/fontbakery/Lobby?at=5c631ced253c2b5ea3ff63a0)

[2019-02-22 18:27] justvanrossum commented on #1515
That's odd, I get much lower numbers for the first test (macOS 10.10):

![image](https://user-images.githubusercontent.com/4246121/53262765-cdcacf80-36d7-11e9-92a6-c824d39b4c09.png)

[2019-02-22 18:29] justvanrossum commented on #1515
But only slightly lower for SourceHanSans:
![image](https://user-images.githubusercontent.com/4246121/53262871-12ef0180-36d8-11e9-975a-4f9c6d36ded5.png)

[2019-02-22 21:21] davelab6 commented on #1355
@anthrotype @readroberts I am curious if you have any updates on this, and what the next steps might be? :)

[2019-02-22 21:31] blueshade7 opened #1516 "[subset/var] subsetting VVAR table fails if VOrgMap non-empty"
Line 1856 - 1857 in `fonttools/Lib/fontTools/subset/__init__.py` reads:
[code]
It should be:
[code]
Otherwise subsetting VVAR table with non-empty VOrgMap fails as:
[code]

[2019-02-22 21:48] readroberts commented on #1355
@davelab6  Sparse masters are now well supported on the master branch for variable fonts with TrueType glyph data. I have a branch that supports variable fonts with CFF2 glyph data, which is just awaiting review:
https://github.com/fonttools/fonttools/pull/1475

[2019-02-22 21:54] blueshade7 commented on #1516
[AdobeVFPrototype.abc_vvar.otf.zip](https://github.com/fonttools/fonttools/files/2895949/AdobeVFPrototype.abc_vvar.otf.zip)
Test case: mod-copy of AdobeVFPrototype.otf with VVAR table added.

[2019-02-22 22:17] blueshade7 commented on #1516
[AdobeVFPrototype.abc_vvar2.otf.zip](https://github.com/fonttools/fonttools/files/2896042/AdobeVFPrototype.abc_vvar2.otf.zip)
BsbMap had the same problem. Another test case font with BsbMap.

[2019-02-22 23:10] cjchapman commented on #1515
@justvanrossum I also got lower numbers on my Mac than Lasse did on his Linux box. The images I posted are from Lasse's Linux box.

[2019-02-24 03:17] chrissimpkins commented on #1281
https://github.com/fonttools/fonttools/pull/1518 adds support for setting Bit 6 (`OVERLAP_SIMPLE`) of the first flag byte of all glyphs with contour definitions to 1 with `varLib.mutator.instanatiateVariableFont`.

[2019-02-24 13:06] Lorp commented on #1281
I was going to advise Microsoft to update the `glyf` table spec, explicitly allowing bit 6, but I’m pleased to see that it’s official already :) Thx @PeterCon @robmck-ms
![screenshot 2019-02-24 at 15 01 13](https://user-images.githubusercontent.com/587440/53299627-66329280-3845-11e9-9e89-4f4ec3c14f51.png)

[2019-02-25 09:41] jenskutilek commented on #1505
Here’s some untested sample code.

[code]

You can also use `subsetter.populate` with `unicodes` instead of `glyphs` (glyph names).

[2019-02-26 17:47] madig commented on #1507
I got a prototype up and running: https://github.com/daltonmaag/statmake

Until I get the CI and PyPI infrastructure in place, you can pip install it directly from git:

[code]

See the Readme for basic usage instructions.

[2019-02-27 11:22] madig commented on #1507
Working on this revealed a wrong assumption in my sketches above. Defining an `<axis>` leads to its inclusion in all variable data structures, even when it's unused like in the two-separate-VFs-use-case above. Setting the HIDDEN_AXIS flag on it doesn't work, Adobe apps still present a non-functional slider. I had to abandon that approach and instead have to rely on lib keys in the Designspace file

[2019-02-27 15:21] madig commented on #1507
The package can now be installed with `pip install statmake`: https://pypi.org/project/statmake/.

[2019-02-27 23:25] #1226 closed

[2019-02-28 22:39] #1516 closed

[2019-03-01 12:27] khaledhosny commented on #1095
Should this be closed now?

[2019-03-01 12:32] khaledhosny commented on #765
I suggest we mark the next release as the last Python 2 (or perhaps Python < 3.6) compatible one. After the release drop CI support for building with unsupported Python versions and gradually remove any code or hacks for said versions of Python. We can’t keep dragging our feet forever.

[2019-03-03 00:34] khaledhosny commented on #66
CBLC/CBDT and COLR/CPAL are already done, and SVG is tracked on #534.

[2019-03-03 00:46] khaledhosny commented on #121
I believe this is fixed.

[2019-03-03 00:46] #121 closed

[2019-03-03 01:00] khaledhosny commented on #204
I believe this was fixed in https://github.com/fonttools/fonttools/issues/518.

[2019-03-03 01:00] #204 closed

[2019-03-03 01:42] khaledhosny commented on #602
We have some examples under Snippets directory, and documentation issues are tracked elsewhere.

[2019-03-03 01:42] #602 closed

[2019-03-03 01:54] khaledhosny commented on #616
That is a bug in the font, `abvs` feature maps glyph for U+0C48 TELUGU VOWEL SIGN AI to a glyphs that looks like ˚F, and somehow this substitution shows up only in the subset font.

[2019-03-03 02:09] khaledhosny commented on #616
Testing with the font from https://github.com/google/fonts/blob/master/ofl/mallanna/Mallanna-Regular.ttf:
[code]
![full](https://user-images.githubusercontent.com/93914/53689887-7deba880-3d68-11e9-9bb6-87d7adc60ac3.png)

[code]
![subset](https://user-images.githubusercontent.com/93914/53689888-9b207700-3d68-11e9-88ad-c254af34e4ca.png)

@davelab6

[2019-03-03 02:09] #616 closed

[2019-03-03 02:21] khaledhosny commented on #831
I guess nothing to be done here.

[2019-03-03 02:21] #831 closed

[2019-03-03 02:25] khaledhosny commented on #870
783707644bfa0d92d924faea745e34f3c0555219 already added `unicodedata2` to `extras_require`.

[2019-03-03 02:25] #870 closed

[2019-03-03 02:30] khaledhosny commented on #961
I don’t think there is nothing for FontTools to do here, you need to process `morx` table to find what character sequence maps to what glyph.

[2019-03-03 02:30] #961 closed

[2019-03-03 02:36] khaledhosny commented on #992
There `--retain-gids` now that does this.

[2019-03-03 02:36] #992 closed

[2019-03-03 02:39] khaledhosny commented on #1018
Closing per comment above.

[2019-03-03 02:39] #1018 closed

[2019-03-03 02:42] khaledhosny commented on #997
Nothing actionable here, documentation issues are already tracked elsewhere.

[2019-03-03 02:42] #997 closed

[2019-03-03 02:46] khaledhosny commented on #508
I’d rather close this. This would make feaLib compiler too smart for its own good; if authors choose less optimal syntax either 1) they know what they are doing and should not be silently overridden or 2) they don’t and it is their own fault, either case the compiler should do nothing.

[2019-03-03 02:53] khaledhosny commented on #978
The font has zero length GSUB table, so that is basically a duplicate of #127.

[2019-03-03 02:53] #978 closed

[2019-03-03 02:59] khaledhosny commented on #911
Already done #1313.

[2019-03-03 02:59] #911 closed